<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'file-signature' %> Présence</h3>
</div>
<br>

<p>
  <strong>Il y a :</strong>
  <%= time_ago_in_words @presence.created_at %>
</p>

<p>
  <strong><%= @presence.role.humanize %> :</strong>
  <%= @presence.user.nom_et_prénom %>
</p>

<p>
  <strong>Cours :</strong>
  <b><%= l(@presence.cour.debut, format: :heures_min) %></b> 
  -
  <%= l(@presence.cour.fin, format: :heures_min) %>
  |
  <%= @presence.cour.formation.nom %>
  |
  <%= @presence.cour.intervenant.nom_prenom %>
  |
  UE : <%= @presence.code_ue %>
  |
  <%= @presence.cour.nom_ou_ue %>
  |
  <%= @presence.cour.salle.nom %>
</p>

<p>
  <strong>Signature :</strong>
  <br>
  <img src=<%= @presence.signature %> style="width: 300px; border: 1px #CCC solid; padding: 10px;">
</p>

<p>
  <strong>Signé le</strong>
  <%= l @presence.created_at, format: :long %>
  <span class="<%= @presence.style_ip %>">| IP : <%= @presence.ip %></span>
</p>

<p>
  <strong>État :</strong>
  <span class="badge <%= @presence.style %>"><%= @presence.workflow_state.humanize %></span>
  <br><br>
  |
  <%= link_to_if @presence.can_valider?, 'Valider', valider_presence_path(@presence), class: 'btn btn-sm btn-success' %> |
  <%= link_to_if @presence.can_rejeter?, 'Rejeter', rejeter_presence_path(@presence), class: 'btn btn-sm btn-danger' %> |
  <%= link_to_if @presence.can_archiver?, 'Archiver', archiver_presence_path(@presence), class: 'btn btn-sm btn-secondary' %> |
</p>

<%= link_to 'Retour', current_user.intervenant? ? mes_sessions_intervenant_path(@presence.cour.intervenant_id) : presences_path %>
