<div class="border-b mt-6 mb-2 pb-4">
  <h3 class="text-3xl"><%= fa_icon 'file-signature' %> Émargement</h3>
</div>
<br>

<p class="mb-4">
  <strong>Il y a :</strong>
  <%= time_ago_in_words @presence.created_at %>
</p>

<p class="mb-4">
  <% if @presence.etudiant_id.present? %>
    <strong>Étudiant :</strong>
    <%= @presence.etudiant.nom_prénom %>
  <% else %>
    <strong>Intervenant :</strong>
    <%= @presence.intervenant.nom_prenom %>
  <% end %>
</p>

<p class="mb-4">
  <strong>Cours :</strong>
  <b><%= l(@presence.cour.debut, format: :heures_min) %></b> 
  -
  <%= l(@presence.cour.fin, format: :heures_min) %>
  |
  <%= @presence.cour.formation.nom %>
  |
  <%= @presence.cour.intervenant.nom_prenom %>
  |
  UE : <%= @presence.code_ue %>
  |
  <%= @presence.cour.nom_ou_ue %>
  <% if @presence.cour.salle %>
    |
    <%= @presence.cour.salle.nom %>
  <% end %>
</p>

<% if @presence.signature %>
  <p class="mb-4">
    <strong>Signé le : </strong>
    <%= l @presence.signée_le, format: :long %>
    <%= fa_icon 'wifi', class: @presence.wifi_detected? ? 'text-success' : 'text-warning' %>
    <br>
    <img src=<%= @presence.signature %> style="width: 300px; border: 1px #CCC solid; padding: 10px;">
  </p>
<% end %>

<p class="inline mb-4">
  <strong>État :</strong>
  <h5 class="text-lg inline"><span class="badge <%= @presence.style %> text-white"><%= @presence.workflow_state.humanize %></span></h5>
</p>

<% if @presence.can_valider? || @presence.can_rejeter? %>
  <div class="flex justify-around lg:justify-start mb-6">
    <%= link_to_if @presence.can_valider?, 'Valider', valider_presence_path(@presence), class: 'btn btn-lg btn-success text-white flex-grow-1 flex-sm-grow-0' %>
    <%= link_to_if @presence.can_rejeter?, 'Rejeter', rejeter_presence_path(@presence), class: 'btn btn-lg btn-error text-white flex-grow-1 flex-sm-grow-0' %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Retour', current_user.intervenant? ? mes_sessions_intervenant_path : presences_path, class: 'text-primary hover:underline pb-6' %>
<% end %>

<% if user_signed_in? && (current_user.gestionnaire? || current_user.admin?) %>
  <div class="mt-12">
    <h4 class="text-xl">Audit des modifications</h4>
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="bg-slate-100 border">
          <th>Date</th>
          <th>Utilisateur</th>            
          <th>Type</th>
          <th>Record_id</th>
          <th>Action</th>
          <th>Modifications</th>
        </thead>

        <tbody>
          <%= render partial: 'tools/audit', collection: @presence.audits.reorder(id: :desc) %>
        </tbody>

      </table>
    </div>
  </div>
<% end %>