<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'pen-nib' %> Présence</h3>
</div>
<br>

<p>
  <strong>Il y a :</strong>
  <%= time_ago_in_words @presence.created_at %>
</p>

<p>
  <strong>Étudiant :</strong>
  <%= @presence.user.nom_et_prénom %>
</p>

<p>
  <strong>Cours :</strong>
  <b><%= l(@presence.cour.debut, format: :heures_min) %></b> 
  -
  <%= l(@presence.cour.fin, format: :heures_min) %>
  |
  <%= @presence.cour.formation.nom %>
  |
  <%= @presence.cour.intervenant.nom_prenom %>
  |
  UE : <%= @presence.code_ue %>
  |
  <%= @presence.cour.nom_ou_ue %>
  |
  <%= @presence.cour.salle.nom %>
</p>

<p>
  <strong>Signature :</strong>
  <br>
  <img src=<%= @presence.signature %> style="width: 300px; border: 1px #CCC solid; padding: 10px;">
</p>

<p>
  <strong>Signé le</strong>
  <%= l @presence.created_at, format: :long %>
  <span class="<%= @presence.style_ip %>">| IP : <%= @presence.ip %></span>
</p>

<p>
  <strong>État :</strong>
  <span class="badge <%= @presence.style %>"><%= @presence.workflow_state %></span>
</p>

<%= link_to 'Retour', presences_path %>
