<tr class="hover border">
  <% if params[:action] == "action" %>
    <td><%= check_box_tag "dossiers_id[#{dossier.id}]", true, true %></td>
  <% elsif policy(Dossier).action? %>
    <td>
      <span class="flex" data-action="click->action#click">
      <%= check_box_tag "dossiers_id[#{dossier.id}]", 'yes', false, data: {"action-target": "source", "checkbox-select-all-target": "checkbox"} %>
      </span>
    </td>
  <% end %>
  <td><%= dossier.période %></td>
  <td><%= dossier.intervenant.nom_prenom %></td>
  <td>
    <span class="badge <%= dossier.style %> text-white">
      <%= dossier.workflow_state.humanize %>
    </span>
    <% if dossier.envoyé? && (dossier.updated_at.to_date..Date.today).to_a.size >= 60 %>
      <%= fa_icon 'exclamation-circle' %>
    <% end %>
    <% if dossier.workflow_state == 'relancé 1 fois' && (dossier.updated_at.to_date..Date.today).to_a.size >= 15 %>
      <%= fa_icon 'exclamation-circle' %>
    <% end %>
    <% if dossier.workflow_state == 'relancé 2 fois' && (dossier.updated_at.to_date..Date.today).to_a.size >= 7 %>
      <%= fa_icon 'exclamation-circle' %>
    <% end %>
    <% if dossier.workflow_state == 'relancé 3 fois' && (dossier.updated_at.to_date..Date.today).to_a.size >= 3 %>
      <%= fa_icon 'exclamation-circle' %>
    <% end %>
  </td>
  <td>
    <% if dossier.mail_log %>
      <% if dossier.mail_log.statut %>
        <span class="text-success">OK</span>
        <td>
          <% if dossier.mail_log&.opened %>
            <span class="text-info">OUVERT</span>
          <% end %>
        </td>
      <% else %>
        <span class="text-error">KO</span>
        <td></td>
      <% end %>
    <% end %>
  </td>
  <td><%= time_ago_in_words dossier.created_at %></td>
  <td><%= time_ago_in_words dossier.updated_at %></td>
  <% unless params[:action] == "action" %>
    <td><%= link_to 'Voir', dossier, class: 'text-primary hover:underline' %></td>
    <td><%= link_to '[X]', dossier, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?', class: 'text-primary hover:underline' %></td>
  <% end %>
</tr>