<%= bootstrap_form_with(model: dossier, local: true) do |form| %>
  <% if dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dossier.errors.count, "error") %> empêche ce dossier d'être enregistré :</h2>

      <ul>
        <% dossier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :intervenant_id %>

  <div class="row" data-controller="select2">
    <div class="col">
      <% if dossier.new_record? %>
        <%= form.select :période, options_for_select(Dossier.périodes, dossier.période) %>
      <% else %>
        <p>Période</p>
        
        <span class="form-control"><%= dossier.période %></span>
        <br>
        
      <% end %>
      <%= form.select :intervenant_id, 
                      options_from_collection_for_select(@intervenants, :id, :nom_prenom, @dossier.intervenant_id), 
                      class: 'form-control select2' %>

    </div>

    <div class="col">
      <%= form.select :workflow_state, Dossier.workflow_spec.states.keys.to_a, label: "Etat" %>
      <%= form.text_area :mémo %>
    </div>
  </div>

  <% unless dossier.new_record? %>
    <h5>Pièces justificatives</h5>
    <%= form.fields_for :documents do |doc| %>
      <div class="row shadow-sm">
        <div class="col-sm-3">
          <%= doc.text_field :nom %>
        </div>
        <div class="col-sm-2">
          <%= doc.select :workflow_state, Document.workflow_spec.states.keys.to_a, label: "Etat" %>
        </div>
        <div class="col">
          <%= doc.text_field :commentaire %>
        </div>
      </div>
    <% end %>
  <% end %>
  <br> 

  <div class="actions">
    <%= form.submit, 'data-turbo': false %>
  </div>
<% end %>

