<%= form_with(model: dossier, local: true) do |form| %>
  <% if dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dossier.errors.count, "error") %> empêche ce dossier d'être enregistré :</h2>

      <ul>
        <% dossier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :intervenant_id %>

  <div class="flex flex-wrap">
    <div class="relative flex-grow max-w-full flex-1">
      <% if dossier.new_record? %>
        <div class="form-control">
          <%= form.label :période %>
          <%= form.select :période, options_for_select(Dossier.périodes, dossier.période), {}, class: 'select select-bordered w-full select-sm' %>
        </div>
      <% else %>
        <p>Période</p>
        <span class="input input-bordered w-full input-sm"><%= dossier.période %></span>
      <% end %>

      <div class="form-control">
        <%= form.label :intervenant_id %>
        <%= form.select :intervenant_id, 
                        options_from_collection_for_select(@intervenants, :id, :nom_prenom, @dossier.intervenant_id), 
                        {},
                        class: 'slim-select' %>
      </div>

    </div>

    <div class="relative flex-grow max-w-full flex-1">
      <div class="form-control">
        <%= form.label :workflow_state %>
        <%= form.select :workflow_state, Dossier.workflow_spec.states.keys.to_a, {}, class: 'select select-bordered w-full select-sm' %>
      </div>

      <div class="form-control">
        <%= form.label :mémo %>
        <%= form.text_area :mémo, class: 'textarea textarea-bordered w-full textarea-sm' %>
      </div>
    </div>
  </div>

  <% unless dossier.new_record? %>
    <h5>Pièces justificatives</h5>
    <%= form.fields_for :documents do |doc| %>
      <div class="flex flex-wrap shadow-sm">
        <div class="sm:w-1/4 px-4">
          <%= doc.text_field :nom %>
        </div>
        <div class="sm:w-1/5 px-4">
          <%= doc.select :workflow_state, Document.workflow_spec.states.keys.to_a, label: "Etat" %>
        </div>
        <div class="relative flex-grow max-w-full flex-1">
          <%= doc.text_field :commentaire %>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <%= form.submit class: "btn" %>
<% end %>

<%= render 'partials/slim_select' %>
