<%= form_with(model: dossier) do |form| %>
  <% if dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>

      <ul>
        <% dossier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :intervenant_id %>
    <%= form.text_field :intervenant_id %>
  </div>

  <div class="field">
    <%= form.label :période %>
    <%= form.text_field :période %>
  </div>

  <div class="field">
    <%= form.label :workflow_state %>
    <%= form.text_field :workflow_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
