<%= bootstrap_form_with(model: dossier, local: true) do |form| %>
  <% if dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>

      <ul>
        <% dossier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :intervenant_id %>
  <%= form.select :intervenant_id, 
                  options_from_collection_for_select(Intervenant.where(status: 'CEV'), :id, :nom_prenom, params[:intervenant_id]), 
                  class: 'form-control form-control-sm select2' %>

  <%= form.select :période, options_for_select(Dossier.périodes, params[:période]) %>
  <%= form.select :workflow_state, Dossier.workflow_spec.states.keys.to_a, label: "Statut" %>

  <%
=begin%>
 <% unless dossier.new_record? %>
    <%= form.fields_for :documents do |doc| %>
      <div class="row">
        <%= doc.text_field :nom %>
        <%= doc.file_field :fichier, required: true, accept: '.pdf' %>
      </div>
    <% end %>
  <% end %>
  <br> 
<%
=end%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

