<%= bootstrap_form_with(model: dossier, local: true) do |form| %>
  <% if dossier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dossier.errors.count, "error") %> prohibited this dossier from being saved:</h2>

      <ul>
        <% dossier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :intervenant_id %>
  <%= form.text_field :période %>
  <%= form.select :workflow_state, Dossier.workflow_spec.states.keys.to_a, include_blank: true, label: "Statut" %>

  <%= form.fields_for :documents do |doc| %>
    <div class="row">
      <%= doc.text_field :nom %>
      <%= doc.file_field :fichier, required: true, accept: '.pdf' %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%
=begin%>
 <script type="application/javascript">
  $('input[type="file"]').change(function(e){
      var fileName = e.target.files[0].name;
      $('.custom-file-label').html(fileName);
  });
</script> 
<%
=end%>
