<div class="flex items-center justify-between border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl"><%= fa_icon 'folder' %> Liste des dossiers de candidature </h1>
  <% if policy(Dossier).new? %>
    <div>
      <%= link_to new_dossier_path, class: 'btn btn-sm btn-primary btn-outline hover:!text-white', title: "Créer un dossier pour l'année en cours" do %>
        <%= fa_icon 'plus-circle' %> Dossier
      <% end %>
      <%= link_to new_dossier_path(période: Dossier.périodes[ (Dossier.périodes.index(AppConstants::PÉRIODE)) - 1]), class: 'btn btn-sm btn-secondary btn-outline hover:!text-white', title: "Créer un dossier pour l'année -1" do %>
        <%= fa_icon 'plus-circle' %> A -1
      <% end %>
      <%= link_to new_dossier_path(période: Dossier.périodes[ (Dossier.périodes.index(AppConstants::PÉRIODE)) - 2]), class: 'btn btn-sm btn-secondary btn-outline hover:!text-white', title: "Créer un dossier pour l'année -2" do %>
        <%= fa_icon 'plus-circle' %> A -2
      <% end %>
    </div>
  <% end %>
</div>

<div class="bs-container mx-auto sm:px-4 max-w-full p-4 shadow">
    <%= form_tag request.path, method: :get do %>
      <div class="flex flex-wrap">

        <div class="sm:w-1/5 px-4">
          <%= label_tag :période, "Période" %>
          <%= select_tag :période, 
                              options_for_select(Dossier.périodes, params[:période]), 
                              include_blank: true,
                              class: 'select select-bordered select-sm w-full', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="sm:w-1/5 px-4">
          <%= label_tag :nom, "Nom" %>    
          <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full' %>
        </div>

        <div class="sm:w-1/5 px-4">
          <%= label_tag :workflow_state, "Etat" %>
          <%= select_tag :workflow_state, 
                              options_for_select(Dossier.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                              include_blank: true,
                              class: 'select select-bordered select-sm w-full', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="sm:w-1/5 px-4">
          <%= label_tag :order_by, "Trier par" %>
          <br> 
          <%= radio_button_tag :order_by, 'dossiers.updated_at', (params[:order_by]=='dossiers.updated_at'), onchange:'this.form.submit()' %>
          Date MàJ 
          <%= radio_button_tag :order_by, 'intervenants.nom', (params[:order_by]=='intervenants.nom'), onchange:'this.form.submit()' %>
          Nom 
        </div>

        <div class="sm:w-1/5 px-4 mt-2">
          <br>
          <%= check_box_tag :archive, nil, params[:archive], onchange: 'this.form.submit()' %>
          <%= label_tag :archive, "Inclure les archivés ?" %>
        </div>
        
      </div>
    <% end %>
</div>
<br>

<%= form_tag action_dossiers_path, name: 'action' do %>
  <div data-controller="checkbox-select-all action">
    <div class="overflow-x-auto">
      <table class="table mb-4">
        <thead class="bg-slate-100 border">
          <tr>
            <% if policy(Dossier).action? %>
              <th>
                <span class="flex" data-action="click->action#click">
                  <input type="checkbox" data-checkbox-select-all-target="checkboxAll" data-action-target="source">
                </span>
              </th>
            <% end %>
            <th><%= sort_link 'dossiers.période', 'Période' %></th>
            <th><%= sort_link 'intervenants.nom', 'Intervenant' %></th>
            <th><%= sort_link 'dossiers.workflow_state', 'État' %></th>
            <th>Statut Mail</th>
            <th>État Mail</th>
            <th><%= sort_link 'dossiers.created_at', 'Création' %></th>
            <th><%= sort_link 'dossiers.updated_at', 'MÀJ' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <%= render @dossiers %>
        </tbody>
      </table>
    </div>

    <div data-action-target="selector" class="mb-4">
      <span class="align-bottom">
        Choisir une action à exécuter sur les dossiers sélectionnés
      </span>
      <br>
      <%= select_tag "action_name", options_for_select(["Changer d'état"]), include_blank:true, class:"select select-bordered select-sm", onchange:'this.form.submit()' %>
    </div>
  </div>
<% end %>

<div class="page_info">
  <%= page_entries_info @dossiers %>
  <%= JSON.pretty_generate(@dossiers.reorder(nil).select(:id).group(:workflow_state).count(:id)) %>
</div>

<div class="planning_pagination">
  <%= will_paginate @dossiers %>
</div>
<br>
<%= link_to 'Export XLS', url_for(params.permit(:nom, :période, :workflow_state).merge(format: :xls)), class: 'text-primary hover:underline' %>


