<br>

<p class="h3">
  <%= fa_icon 'folder' %>
  Dossier de candidature 
</p>
<br>

<div class="row shadow p-5">
  <div class="col-sm-4">
    <p>
      <strong>Intervenant:</strong>
      <%= @dossier.intervenant.nom_prenom %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @dossier.intervenant.email %>
    </p>

    <p>
      <strong>Période:</strong>
      <%= @dossier.période %>
    </p>

    <% if @dossier.validé? || @dossier.non_conforme? %>
      <p>
        <strong>Etat:</strong> 
        <span class="badge <%= @dossier.style %>">
          <%= @dossier.workflow_state.humanize %>
        </span>
      </p>
    <% end %>

    <% unless @dossier.mémo.blank? %>
      <p>
        <p class="alert alert-warning">
          <strong>Informations :</strong>
          <%= @dossier.mémo %>
        </p>
      </p>
    <% end %>

  </div>

  <div class="col">
    <h5>Pièces justificatives</h5>

    <% if @dossier.documents.any? %>
      <table class="table table-hover table-sm shadow-sm">
        <thead>
          <th>Type</th>
          <th>Fichier</th>
          <th>Etat</th>
          <th>MàJ il y a</th>
          <th></th>
        </thead>
        <tbody>
          <% @dossier.documents.each do | doc | %>
            <tr>
              <td><%= doc.nom %></td>
              <td>
                <% if doc.fichier.attached? %>
                <%= link_to doc.fichier.filename, url_for(doc.fichier), target: '_blank' %>
                <% end %>
              </td>
              <td>
                 <span class="badge <%= doc.style %>">
                  <%= doc.workflow_state.humanize %>
                </span>
                <% if doc.non_conforme? %>
                  <br>
                  <b><%= "Motif: #{ doc.commentaire }" %></b>
                <% end %>
              </td>
              <td><%= time_ago_in_words(doc.created_at) %></td>
              <td><%= link_to_if @dossier.can_déposer?, '[X]', doc, method: :delete, data: { confirm: 'Etes-vous bien certain.e ?' } %></td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr><th colspan=5></th></tr>
        </tfoot>
      </table>
    <% else %>
      <% if current_user %>
        <p>
          Aucun document pour l'instant.
        </p>
      <% else %>
        <p class="alert alert-warning">
          <br>
          Veuillez ajouter les justificatifs correspondants à votre situation 
          (voir le document 'Pièces à fournir.pdf') en utilisant le bouton
          <%= link_to new_document_path(dossier_id: @dossier.id), data: { toggle: "modal", target: "#myModal" }, class: 'btn btn-link' do %>
            <%= fa_icon 'plus-circle' %> Ajouter un document
          <% end %>
          <br>

          Quand le dossier est complet et prêt à être déposé, cliquez sur 'Déposer le dossier'.
          <br><br>
        </p>
      <% end %>
    <% end %>

    <%= link_to new_document_path(dossier_id: @dossier.id), data: { toggle: "modal", target: "#myModal" }, class: 'btn btn-link' do %>
      <%= fa_icon 'plus-circle' %> Ajouter un document
    <% end %>

  </div>
</div>

<% if current_user %>
  <br>
  <%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
  <%= link_to_if @dossier.can_envoyer?, 'Envoyer', envoyer_dossier_path(@dossier), title: "Envoyer un mail à l'intervenant contenant un lien unique vers son dossier", class: 'btn btn-sm btn-primary' %> |
  <%= link_to_if @dossier.can_valider?, 'Valider', valider_dossier_path(@dossier), class: 'btn btn-sm btn-success' %> |
  <%= link_to_if @dossier.can_rejeter?, 'Rejeter', rejeter_dossier_path(@dossier), class: 'btn btn-sm btn-danger' %> |
  <%= link_to_if @dossier.can_relancer?, 'Relancer', relancer_dossier_path(@dossier), class: 'btn btn-sm btn-info' %> |
  <%= link_to_if @dossier.can_archiver?, 'Archiver', archiver_dossier_path(@dossier), class: 'btn btn-sm btn-secondary' %> |
  <%= link_to 'Retour', dossiers_path %>
  <br>
<% else %>
  <% if @dossier.can_déposer? %>
    <br>
    <%= link_to deposer_dossier_path(dossier_id: @dossier.id), data: { confirm: 'Etes-vous bien certain.e de vouloir déposer ce dossier ?' }, class: "btn btn-success #{ 'disabled' unless @dossier.documents.any? }" do %>
      <%= fa_icon 'arrow-circle-up' %> Déposer le dossier
    <% end %>

    <br><br>
  <% end %>

<% end %>
<br>


<% if policy(@dossier).audits? %>
  <br>
  <h5>Audit des modifications</h5>

  <table class="table table-hover table-sm table-striped table-bordered">
    <thead>
      <th>Date</th>
      <th>Utilisateur</th>            
      <th>Type</th>
      <th>Id</th>
      <th>Action</th>
      <th>Modifications</th>
    </thead>
    <%= render partial: 'tools/audit', collection: @dossier.own_and_associated_audits %>
  </table>
  <br>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajout d'un document</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'documents/modal_form', document: Document.new(dossier_id: @dossier.id) %>
      </div>
    </div>
  </div>
</div>

