<p>
  <strong>Intervenant:</strong>
  <%= @dossier.intervenant.nom_prenom %>
</p>

<p>
  <strong>Période:</strong>
  <%= @dossier.période %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @dossier.workflow_state.humanize %>
</p>

<%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
<%= link_to 'Retour', dossiers_path %>
<br><br>


<h3>Documents</h3>
<table class="table table-sm table-hover">
  <thead>
    <th>Nom</th>
    <th>Fichier</th>
    <th colspan=2></th>
  </thead>
  </thead>
  <% @dossier.documents.each do | doc | %>
    <tr>
      <td><%= doc.nom %></td>
      <td><%= doc.fichier.filename %></td>
      <td><%= link_to 'Ouvrir', url_for(doc.fichier), target: '_blank' %></td>
      <td><%= link_to '[X]', doc, method: :delete, data: { confirm: 'Etes-vous bien certain.e ?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to new_document_path(dossier_id: @dossier.id), class: 'btn btn-success', data: {toggle: "modal", target: "#myModal" } do %>
  <%= fa_icon 'plus-circle' %> Ajouter un document
<% end %>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajout d'un document</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'documents/modal_form', document: Document.new(dossier_id: @dossier.id) %>
      </div>
    </div>
  </div>
</div>

