<br>

<p class="h3">
  <%= fa_icon 'folder' %>
  Dossier de candidature 
</p>
<br>

<div class="row shadow-sm">
  <div class="col">
    <p>
      <strong>Intervenant:</strong>
      <%= @dossier.intervenant.nom_prenom %>
      (<%= @dossier.intervenant.email %>)
    </p>

    <p>
      <strong>Période:</strong>
      <%= @dossier.période %>
    </p>

    <% if current_user %>
      <p>
        <h5>Statut: <span class="badge badge-xl <%= @dossier.style %>"><%= @dossier.workflow_state.humanize %></span></h6> 
      </p>
    <% end %>
  </div>

  <div class="col">
    <% if current_user %>
      <p>
        <strong>Créé le:</strong>
        <%= l @dossier.created_at %>
      </p>

      <p>
        <strong>MàJ le:</strong>
        <%= l @dossier.updated_at %>
      </p>

      <p>
        <strong>Mémo:</strong>
        <%= @dossier.mémo %>
      </p>
    <% end %>

  </div>
</div>
<br>

<div class="row">

  <h5>Pièces justificatives</h5>

  <% if @dossier.documents.any? %>
    <table class="table table-hover shadow-sm">
      <thead>
        <th>Type</th>
        <th>Fichier</th>
        <th>Statut</th>
        <th>MàJ il y a</th>
        <th></th>
      </thead>
      <tbody>
        <% @dossier.documents.each do | doc | %>
          <tr>
            <td><%= doc.nom %></td>
            <td>
              <% if doc.fichier.attached? %>
              <%= link_to doc.fichier.filename, url_for(doc.fichier), target: '_blank' %>
              <% end %>
            </td>
            <td>
              <%= doc.workflow_state.humanize %>
              <% if doc.rejeté? && !current_user %>
                <%= ": #{ doc.commentaire}" %>
              <% end %>
            </td>
            <td><%= time_ago_in_words(doc.created_at) %></td>
            <td><%= link_to '[X]', doc, method: :delete, data: { confirm: 'Etes-vous bien certain.e ?' } %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot><tr><td colspan=5></td></tr></tfoot>
    </table>
  <% else %>
    <% if current_user %>
      <p>
        Aucun document pour l'instant.
      </p>
    <% else %>
      <p class="alert alert-warning">
        <br>
        Veuillez ajouter vos justificatifs en utilisant le bouton 'Ajouter un document' ci-dessous.<br>
        Quand le dossier est complet et prêt à être déposé, cliquez sur 'Déposer le dossier'.
        <br><br>
      </p>
    <% end %>
  <% end %>
</div>

<% if current_user %>
  <%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
  <%= link_to_if @dossier.can_envoyer?, 'Envoyer', envoyer_dossier_path(@dossier), title: "Envoyer un mail à l'intervenant contenant un lien unique vers son dossier", class: 'btn btn-sm btn-primary' %> |
  <%= link_to_if @dossier.can_valider?, 'Valider', valider_dossier_path(@dossier), class: 'btn btn-sm btn-success' %> |
  <%= link_to_if @dossier.can_rejeter?, 'Rejeter', rejeter_dossier_path(@dossier), class: 'btn btn-sm btn-danger' %> |
  <%= link_to_if @dossier.can_archiver?, 'Archiver', archiver_dossier_path(@dossier), class: 'btn btn-sm btn-secondary' %> |
  <%= link_to 'Retour', dossiers_path %>
  <br>
<% end %>
<br><br>


<% if @dossier.can_déposer? %>
  <%= link_to new_document_path(dossier_id: @dossier.id), class: 'btn btn-success', data: {toggle: "modal", target: "#myModal" } do %>
    <%= fa_icon 'plus-circle' %> Ajouter un document
  <% end %>

  <%= link_to deposer_dossier_path(dossier_id: @dossier.id), data: { confirm: 'Etes-vous bien certain.e de vouloir déposer ce dossier ?' }, class: "btn btn-outline-info #{ 'disabled' unless @dossier.documents.any? }" do %>
    <%= fa_icon 'plus-circle' %> Déposer le dossier
  <% end %>
  <br>

<% end %>

<% if policy(@dossier).audits? %>

  <h5>Audit des modifications</h5>

  <table class="table table-hover table-sm table-striped table-bordered">
    <thead>
      <th>Date</th>
      <th>Utilisateur</th>            
      <th>Type</th>
      <th>Id</th>
      <th>Action</th>
      <th>Modifications</th>
    </thead>
    <%= render partial: 'tools/audit', collection: @dossier.own_and_associated_audits %>
  </table>
  <br>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Ajout d'un document</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <%= render 'documents/modal_form', document: Document.new(dossier_id: @dossier.id) %>
      </div>
    </div>
  </div>
</div>

