<p id="notice"><%= notice %></p>

<p>
  <strong>Intervenant:</strong>
  <%= @dossier.intervenant_id %>
</p>

<p>
  <strong>Période:</strong>
  <%= @dossier.période %>
</p>

<p>
  <strong>Workflow state:</strong>
  <%= @dossier.workflow_state %>
</p>

<% @dossier.documents.each do | doc | %>
  <%= doc.nom %>
  <%= doc.fichier.filename %>
  <%= link_to 'voir', url_for(doc.fichier) %>
  <br>
<% end %>
<br>

<%= link_to 'Modifier', edit_dossier_path(@dossier) %> |
<%= link_to 'Retour', dossiers_path %>
