<h1 class="text-2xl mt-6">
  <%= fa_icon 'folder' %>
  Dossier de candidature 
</h1>

<div class="flex flex-wrap shadow-lg gap-8 p-6 mt-4">
  <div>
    <p class="mb-4">
      <strong>Intervenant</strong>
      <br>
      <%= @dossier.intervenant.nom_prenom %>
    </p>

    <p class="mb-4">
      <strong>Email</strong>
      <br>
      <%= @dossier.intervenant.email %>
    </p>

    <p class="mb-4">
      <strong>Période</strong>
      <br>
      <%= @dossier.période %>
    </p>

    <% if @dossier.validé? || @dossier.non_conforme? %>
      <p class="mb-4">
        <strong>État :</strong> 
        <span class="badge <%= @dossier.style %> text-white">
          <%= @dossier.workflow_state.humanize %>
        </span>
      </p>
    <% end %>

    <% unless @dossier.mémo.blank? %>
      <p class="mb-4">
        <p class="flex flex-col items-start alert alert-error text-white mb-4">
          <strong>Informations :</strong>
          <%= @dossier.mémo %>
        </p>
      </p>
    <% end %>

  </div>

  <div class="relative flex-grow max-w-full flex-1">
    <h5 class="text-lg">Pièces justificatives</h5>

    <% unless @dossier.documents.any? %>
      <% if current_user %>
        <p class="mb-4">
          Aucun document pour l'instant.
        </p>
      <% else %>
        <p class="alert mb-4">
          Veuillez ajouter les justificatifs correspondants à votre situation 
          (voir le document 'Pièces à fournir.pdf') en utilisant le bouton 'Ajouter un document'.
          <br><br>
          Quand le dossier est complet et prêt à être déposé, cliquez sur 'Déposer le dossier'.
        </p>
      <% end %>
    <% end %>

    <% if @dossier.documents.any? %>
      <div class="overflow-x-auto">
        <table class="table table-xs shadow">
          <thead>
            <th>Type</th>
            <th>Fichier</th>
            <th>État</th>
            <th>MàJ il y a</th>
            <th></th>
          </thead>
          <tbody>
            <%= render @dossier.documents %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% unless user_signed_in? %>
      <%= form_with url: deposer_dossier_path, model: @dossier, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |f| %>

        <div class="mt-4">
          <template data-nested-form-target="template">
            <%= f.fields_for :documents, Document.new, child_index: 'NEW_RECORD' do |document_fields| %>
              <%= render "document_form", f: document_fields %>
            <% end %>
          </template>

          <!-- Inserted elements will be injected before that target. -->
          <div data-nested-form-target="target"></div>

          <button type="button" data-action="nested-form#add" class="btn btn-primary btn-sm text-white mt-4">
            <%= fa_icon 'plus-circle' %>
            Ajouter un document
          </button>
        </div>
        <button type="submit" name="commit" value="Déposer le dossier" class="btn btn-success btn-wide btn-lg text-white mt-6" data-disable-with="Déposer le dossier" data-turbo-confirm="ATTENTION ! Une fois déposé, vous ne pourrez plus modifier le dossier. Confirmez-vous le dépôt de votre dossier et des pièces justificatives ?">
          <i class="far fa-arrow-alt-circle-down"></i>
          Déposer le dossier
        </button>
      <% end %>
    <% end %>

  </div>
</div>

<% if current_user %>
  <br>
  <%= link_to 'Modifier', edit_dossier_path(@dossier), class: 'text-primary hover:underline' %> |
  <%= link_to_if @dossier.can_envoyer?, 'Envoyer', envoyer_dossier_path(@dossier), title: "Envoyer un mail à l'intervenant contenant un lien unique vers son dossier", class: 'btn btn-sm btn-primary text-white', 'data-turbo': false %> |
  <%= link_to_if @dossier.can_valider?, 'Valider', valider_dossier_path(@dossier), class: 'btn btn-sm btn-success text-white', 'data-turbo': false %> |
  <%= link_to_if @dossier.can_rejeter?, 'Rejeter', rejeter_dossier_path(@dossier), class: 'btn btn-sm btn-error text-white', 'data-turbo': false %> |
  <%= link_to_if @dossier.can_relancer?, 'Relancer', relancer_dossier_path(@dossier), class: 'btn btn-sm btn-info text-white', 'data-turbo': false %> |
  <%= link_to_if @dossier.can_archiver?, 'Archiver', archiver_dossier_path(@dossier), class: 'btn btn-sm btn-secondary text-white', 'data-turbo': false %> |
  <%= link_to 'Retour', dossiers_path, class: 'text-primary hover:underline' %>
<% end %>
<br>


<% if policy(@dossier).audits? %>
  <br>
  <h4 class="text-xl mb-4">Audit des modifications</h4>

  <div class="overflow-x-auto">
    <table class="table table-xs">
      <thead class="bg-slate-100 border">
        <th>Date</th>
        <th>Utilisateur</th>            
        <th>Type</th>
        <th>Id</th>
        <th>Action</th>
        <th>Modifications</th>
      </thead>
      <%= render partial: 'tools/audit', collection: @dossier.own_and_associated_audits.reorder(id: :desc) %>
    </table>
  </div>
  <br>
<% end %>