<tr>
  <td>
    <%= l(audit.created_at, format: :perso) %>
  </td>
  <td>
    <%= audit.try(:user).try(:email) %>
    (#<%= audit.user_id %>)
    <br>
    <%= audit.try(:user).try(:role).try(:humanize) %>
    <br>
    IP: <%= audit.remote_address %>
  </td>
  <td>
    <%= audit.auditable_type %>
  </td>
  <td style="text-align: right;">
    <%= link_to_if audited_view_path(audit), audit.auditable_id, audited_view_path(audit) %>
  </td>
  <td>
    <%= audit.action.humanize %>
  </td>
  <td>
    <% unless audit.comment %>
      <%= sanitize prettify(audit).join('<br>') %>
    <% else %>
      <%= audit.comment %>
    <% end %>
  </td>
</tr>
