<tr class="hover">
  <% color = 'text-warning font-black' if (commande.debut.to_date - Date.today) <= 7 %>
  <% color = 'text-error font-black' if (commande.debut.to_date - Date.today) <= 2 %>
  <% color = 'text-base-100' if (commande.debut < DateTime.now) %>

  <td>
    <% if commande.options.commande.first.fait? %>
      <span class="text-success text-xl"><%= fa_icon('check') %></span>
    <% end %>
  </td>
  <td class="<%= color %>">
    <%= time_ago_in_words commande.debut - 1.hour %>
  </td>
  <td><b><%= link_to l(commande.debut, format: :long), commande, class: 'text-primary hover:underline' %></b></td>
  <td>
    <% if commande.salle %>
      <h5 class="text-lg mb-2">
        <span class="badge badge-<%= commande.style %> text-white font-bold">
          <%= commande.salle.nom %>
        </span>
      </h5>
    <% end %>
  </td>
  <td>
    <%= simple_format commande.options.commande.first.description %>
  </td>
  <td>
    <%= commande.formation.try(:nom) %>
    <br>
    <%= commande.intervenant.nom_prenom %>
  </td>
  <td><%= commande.options.commande.first.user.nom_et_prénom %></td>
  <td>
    <% unless commande.options.commande.first.fait? %>
      <%= link_to tools_commande_fait_v2_path(commande_id: commande.id), class: 'btn btn-success btn-outline', data: { turbo_method: :get, turbo_confirm: "Confirmez-vous ?" } do %>
        <span class="text-xl"><%= fa_icon('check') %></span>
      <% end %>
    <% end %>
  </td>
</tr>