<% if params[:cours] == '1' %>
    <% cours_ids = @cours.where(intervenant: intervenant).order(:debut).pluck(:id) %>
    <% cours_ids << @cours.where(intervenant_binome: intervenant).order(:debut).pluck(:id) %>
    <% cours_ids = cours_ids.flatten %>
<% end %>

<% if params[:vacations] == '1' %>
    <% @vacations = intervenant.vacations.where("date BETWEEN ? AND ?", @start_date, @end_date) %>
<% end %>
<% if params[:responsabilites] == '1' %>
    <% @responsabilites = intervenant.responsabilites.where("debut BETWEEN ? AND ?", @start_date, @end_date) %>
<% end %>
<% cumul_hetd = cumul_vacations = cumul_resps = cumul_tarif = cumul_duree = 0 %>
<% nbr_heures_statutaire = intervenant.nbr_heures_statutaire || 0 %>

<div class="page-header"> 
    <h2 class="text-3xl"><%= link_to intervenant.nom_prenom, intervenant, target:"_new", class: 'text-primary hover:underline' %></h2>
</div> 

<div class="overflow-x-auto">
    <table class="table table-sm">
        <thead class="bg-slate-100 border">
            <tr>
                <th>Type</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Formation</th>
                <th>Code</th>
                <th>Intitulé</th>
                <th></th>
                <th>Durée/Qté</th>
                <th>CM/TD</th>
                <th>Taux</th>
                <th>HETD</th>
                <th style="width: 120px">Montant</th>
                <th>Cumul_HETD</th>
            </tr>
        </thead>

        <% if params[:cours] == '1' %>
            <% cours_ids.each_with_index do |id, index| %>
                <% c = Cour.find(id) %>
                <% cumul_duree += c.duree %> 

                <% if c.imputable? %>
                    <% cumul_hetd += c.duree.to_f * c.HETD %>
                    <% montant_service = c.montant_service.round(2) %>
                    <% cumul_tarif += montant_service %>
                <% end %>

                <% formation = Formation.find(c.formation_id) %>

                <tr class="hover border">
                    <td>C</td>
                    <td><%= link_to l(c.debut.to_date), cours_path(start_date: c.debut.to_date), class: 'text-primary hover:underline' %></td>
                    <td class="text-right"><%= c.debut.strftime("%k:%M") %></td>
                    <td><%= link_to formation.abrg, formation_path(formation), target:"_new", title: formation.nom_promo, class: 'text-primary hover:underline' %></td>
                    <td><%= formation.code_analytique_avec_indice(c.debut) %></td>
                    <td><%= link_to "#{c.ue} #{c.nom_ou_ue}", edit_cour_path(c), target:"_new", class: 'text-primary hover:underline' %></td>
                    <td class="text-center">
                        <% unless c.commentaires.blank? %>
                            <span title="<%= c.commentaires %>" class="cursor-help">
                                <%= fa_icon 'comment-dots' %>
                            </span>
                        <% end %>
                        <% if c.elearning %>
                            <span title="Cour en eLearning" class="cursor-help">
                                <%= fa_icon 'laptop-house' %>
                            </span>
                        <% end %>
                        <% if c.hors_service_statutaire || formation.hss %>
                            <span title="Hors Service Statutaire" class="cursor-help">
                                <%= fa_icon 'calendar-times' %>
                            </span>
                        <% end %>
                        <% if c.intervenant_id && c.intervenant_binome_id %>
                            <span title="<%= c.intervenant.nom_prenom %>" class="cursor-help">
                                <%= fa_icon 'user' %>
                            </span>
                            <span title="<%= c.intervenant_binome.nom_prenom %>" class="cursor-help">
                                <%= fa_icon 'user' %>
                            </span>
                        <% end %>
                    </td>
                    <td class="text-right"><%= c.duree.to_f %></td>
                    <td class="text-center"><%= formation.nomtauxtd %></td>
                    <td class="text-right"><%= c.taux_td %></td>
                    <td class="text-right"><%= c.HETD %></td>
                    <td class="text-right"><%= number_to_currency(montant_service) %></td>
                    <td class="text-right">
                        <%= cumul_hetd %>
                        <% if (nbr_heures_statutaire > 0) && (cumul_hetd >= nbr_heures_statutaire) %>
                                <%= fa_icon 'plus-circle' %>
                                <%= cumul_hetd - nbr_heures_statutaire %>
                        <% end %>
                    </td>
                </tr>

                <% if index == cours_ids.size - 1 %>
                    <tr class="hover border">
                        <th>C</th>
                        <th colspan="5"><%= cours_ids.count %> cours au total</th>
                        <th />
                        <th class="text-right"><%= cumul_duree %></th>
                        <th /><th /> 
                        <th class="text-right"><%= cumul_hetd %></th>
                        <th class="text-right"><%= number_to_currency(cumul_tarif) %></th> 
                        <th class="text-right"><%= cumul_hetd %></th>   
                    </tr>
                <% end %>
            <% end %>

        <% end %>

        <% if params[:vacations] == '1' %>
            <% @vacations.each_with_index do |vacation, index| %>
                <% if vacation.vacation_activite %>
                    <% intitulé = vacation.vacation_activite.nom %>
                    <% tarif = vacation.vacation_activite.vacation_activite_tarifs.find_by(statut: VacationActiviteTarif.statuts[vacation.intervenant.status]) %>
                    <% if tarif && tarif.forfait_hetd %>
                        <% cumul_hetd += tarif.forfait_hetd %>
                    <% end %>
                <% end %>
                <% cumul_vacations += vacation.montant || 0 %>
                <% formation = Formation.find(vacation.formation_id) %> 
                <tr class="hover border">
                    <td>V</td>
                    <td><%= l vacation.date %></td>
                    <td />
                    <td><%= link_to formation.nom, formation, target:"_new", class: 'text-primary hover:underline' %></td>
                    <td><%= formation.code_analytique_avec_indice(vacation.date) %></td>
                    <td><%= intitulé || vacation.titre %></td>
                    <td />
                    <td class="text-right"><%= vacation.qte %></td>
                    <td />
                    <td class="text-right">
                        <% if vacation.forfaithtd == 0 %>
                            <%= vacation.tarif %> €
                        <% end %>
                    </td>
                    <td class="text-right"><%= vacation.forfaithtd %></td>
                    <td class="text-right"><%= number_to_currency(vacation.montant) %></td>
                    <td class="text-right">
                        <%= cumul_hetd %>
                        <% if (nbr_heures_statutaire > 0) && (cumul_hetd >= nbr_heures_statutaire) %>
                                <%= fa_icon 'plus-circle' %>
                                <%= cumul_hetd - nbr_heures_statutaire %>
                        <% end %>
                    </td>
                </tr>

                <% if index == @vacations.size - 1 %>
                    <tr class="hover border">
                        <th>V</th>
                        <th colspan="10"><%= pluralize(@vacations.size, 'vacation', plural: 'vacations') %> au total</th>
                        <th class="text-right"><%= number_to_currency(cumul_vacations) %></th>
                        <th />
                    </tr>
                <% end %>
            <% end %>
        <% end %>

        <% if params[:responsabilites] == '1' %>
            <% @responsabilites.each_with_index do |resp, index| %>
                <% montant_responsabilite = resp.montant %>
                <% cumul_resps += montant_responsabilite %>
                <% cumul_hetd += resp.heures %>
                <% formation = Formation.find(resp.formation_id) %>

                <tr class="hover border">
                    <td>R</td>
                    <td><%= l resp.debut %></td>
                    <td />
                    <td><%= link_to formation.nom, formation, target:"_new", class: 'text-primary hover:underline' %></td>
                    <td><%= formation.code_analytique_avec_indice(resp.debut) %></td>
                    <td><%= resp.intitulé %></td>
                    <td />
                    <td class="text-right"><%= resp.heures %></td>
                    <td></td>
                    <td><%= Cour.Tarif %></td>
                    <td><%= resp.forfait_hetd %></td>
                    <td class="text-right"><%= number_to_currency(montant_responsabilite) %></td>
                    <td class="text-right">
                        <%= cumul_hetd %>
                        <% if (nbr_heures_statutaire > 0) && (cumul_hetd >= nbr_heures_statutaire) %>
                                <%= fa_icon 'plus-circle' %>
                                <%= cumul_hetd - nbr_heures_statutaire %>
                        <% end %>
                    </td>
                </tr>
                <% if index == @responsabilites.size - 1 %>
                    <tr class="hover border">
                        <th>R</th>
                        <th colspan="10"><%= pluralize(@responsabilites.count, 'responsabilité') %> au total</th>
                        <th class="text-right"><%= number_to_currency(cumul_resps) %></th>
                        <th />
                    </tr>
                <% end %>
            <% end %>
        <% end %>

        <tfoot>
            <tr>
                <th colspan="11" class="text-right">
                    TOTAL <br>
                    <% if nbr_heures_statutaire > 0 %>
                        <small>
                            Nbr Heures Statutaires: 
                            <%= nbr_heures_statutaire %> h
                            <% if (nbr_heures_statutaire > 0) && (cumul_hetd >= nbr_heures_statutaire) %>
                                | Dépassement: 
                                <%= (cumul_hetd - nbr_heures_statutaire) %> h
                            <% end %>
                        </small>
                    <% end %>
                </th>
                <th class="text-right"><%= number_to_currency(cumul_resps + cumul_vacations + cumul_tarif) %></th>
            </tr>
        </tfoot>
    </table>
</div>