<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'calendar-check' %> Liste des cours "à booker" </h3>
  <p>
    Liste des cours récemment planifiés (sans salle) et à confirmer.
  </p>
</div>

<%= form_tag request.path, method: :get do %>
    <div class="form-group">
        <div class="row">

            <div class="col-sm-3">
                <%= label_tag "Période du" %>    
                <%= text_field_tag :start_date, params[:start_date], type:'date', class:"form-control" %>
            </div>

            <div class="col-sm-3">
                <%= label_tag "au" %>    
                <%= text_field_tag :end_date, params[:end_date], type:'date', class:"form-control", onchange:'this.form.submit()' %>
            </div>

            <div class="col-sm-3">
                <p>Trier par</p>

                <div class="form-check-inline">
                    <label class="form-check-label">
                        <%= radio_button_tag :tri, :date_cours, params[:tri] == 'date_cours', class: "form-check-input", onchange:'this.form.submit()' %>
                        Date du cours
                    </label>
                </div>

                <div class="form-check-inline">
                    <label class="form-check-label">
                        <%= radio_button_tag :tri, :date_création, params[:tri] == 'date_création' , class: "form-check-input", onchange:'this.form.submit()' %>
                        Date de création
                    </label>
                </div>

            </div>

        </div>
    </div>
<% end %>

<table class="table table-hover table-sm">
    <thead class="shadow-sm">
        <tr>    
            <th>Semaine</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Formation</th>
            <th>Intervenant</th>
            <th colspan="2">UE/Intitulé du cours</th>
            <th>Etat</th>
            <th>Depuis</th>
            <th>Par</th>
            <th></th>
        </tr>
    </thead>

    <% @cours.each do | cours | %>
        <tr class="shadow-sm">
            <td class="text-center">
                <%= link_to cours_url(start_date: cours.debut.to_date.beginning_of_week, view: 'calendar_rooms'), target: '_blank' do %>
                    <%= cours.debut.to_date.strftime('%-V') %>
                <% end %>
            </td>
            <td>
                <h5>
                    <% color = 'warning' if (cours.debut.to_date - Date.today) <= 30 %>
                    <% color = 'danger' if (cours.debut.to_date - Date.today) <= 7 %>
                    <span class="badge bg-pill bg-<%= color %>">
                        <b><%= l cours.debut.to_date %></b>
                    </span>
                </h5>
            </td>
            <td>
                <b><%= l(cours.debut, format: :heures_min) %></b> 
                <%= l(cours.fin, format: :heures_min) %>
            </td>
            <td>
                <span style="background-color:<%= cours.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
                <%= link_to cours.formation.nom_nbr_etudiants, cours.formation %>
            </td>
            <td>
                <%= cours.intervenant.nom_prenom %>
                <% if cours.intervenant_binome %>
                    <br>
                    <%= cours.intervenant_binome.nom_prenom %>
                <% end %>
            </td>
            <td>
                <%= cours.try(:ue) %>
            </td>
            <td>
                <%= cours.nom_ou_ue %>
            </td>
            <td style="white-space: nowrap;">
                <%= cours.etat.humanize %>

                <% unless cours.commentaires.blank? %>
                    <%= fa_icon 'comment-dots' %>         
                    <%= cours.commentaires %>
                <% end %>
            </td>

            <td style="white-space: nowrap;">                
                <%= time_ago_in_words cours.audits.first.created_at %>
            </td>

            <td>
                <%= cours.audits.first.user.nom_et_prénom %>
            </td>
            
            <td>
                <%= link_to edit_cour_path(cours), target: '_blank', class: "btn btn-outline-light text-dark" do %>
                    <%= fa_icon 'edit '%>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<%= "Affichage de #{ @cours.length } cours au total" %>
<br>