<div class="pb-2 mt-6 mb-2 border-b">
  <h3><%= fa_icon 'list-alt' %> Etats de services</h3>
</div>
<br>

<h3>Récapitule les cours réalisés sur une période donnée, par intervenant</h3>
<br>

<%= form_tag request.path, method: :get, class: 'mb-12' do %>
    <div class="flex flex-wrap">

        <div class="sm:w-1/5 px-4">
            <%= label_tag "Du" %>    
            <%= text_field_tag :start_date, params[:start_date], type: 'date', class: "input input-bordered w-full input-sm" %>
        </div>

        <div class="sm:w-1/5 px-4">
            <%= label_tag "Au" %>    
            <%= text_field_tag :end_date, params[:end_date], type: 'date', class: "input input-bordered w-full input-sm" %>
        </div>

        <div class="sm:w-1/5 px-4">
            <%= label_tag :status, "Statut" %>
            <%= select_tag :status, 
                options_for_select(Intervenant.statuses, 
                params[:status]), include_blank:true,
                class: "select select-bordered w-full select-sm", onchange: 'this.form.submit()' %>
        </div>

        <div class="sm:w-1/3 px-4">
            <% if @intervenants_for_select %>
                <%= label_tag :intervenant_id, "Intervenant" %>
                <%= select_tag :intervenant_id,
                                    options_from_collection_for_select(@intervenants_for_select, :id, :nom_prenom, params[:intervenant_id]), 
                                    include_blank:true, 
                                    onchange:'this.form.submit()', 
                                    class: "select select-bordered w-full select-sm" %>
            <% end %>
       </div>
    </div>
<% end %>

<% @intervenants.each do | intervenant | %>
    <% next if intervenant.id == 445 %>

    <%= render partial: 'etats_services', locals: {intervenant: intervenant } %>

    <div class="text-right">
        <%= link_to url_for(params
                                .permit(:start_date, :end_date, :status)
                                .merge(intervenant_id: intervenant.id, format: 'xls')), 
                            class: 'btn btn-default btn-xs' do %>
                <%= fa_icon 'file-excel' %>
                Export EXCEL
        <% end %>

        <%= link_to url_for(params
                                .permit(:start_date, :end_date, :status)
                                .merge(intervenant_id: intervenant.id, format: 'pdf')), 
                            class: 'btn btn-error btn-xs' do %>
                <%= fa_icon 'file-pdf' %>
                Export PDF
        <% end %>
    </div>
    <hr>

<% end %>
