<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'upload' %> Export des étudiants </h3>
</div>
<br>

<div>
  <h4>
      Permet la création d'une feuille Excel contenant tous les étudiants <br>
      ou seulement ceux de la formation sélectionnée ci-dessous
  </h4>
</div>
<br>

<%= form_tag({action: "export_etudiants_do", method: :post}) do %>

  <div class="row" data-controller="select2">
    <div class="col-sm-4">
      <%= label_tag "Formation" %>    
      <%= select_tag :formation_id, 
            options_from_collection_for_select(Formation.all, :id, :nom, params[:formation_id]), 
              class:"form-control select2", include_blank: true %>
    </div>
  </div>
  <br>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">

        <div class="actions">
          <%= submit_tag "Exporter", class: "btn btn-success" %>
        </div>

      </div>
    </div>
  </div>
  
<% end %>