<div class="pb-2 mt-6 mb-2 border-b">
  <h3><%= fa_icon 'upload' %> Export des intervenants </h3>
</div>
<br>

<div>
  <h3>Cette fonction permet la création d'une feuille Excel contenant tous les intervenants</h3>
</div>

<%= form_tag({action: "export_intervenants_do", method: :post}) do %>

  <div class="flex flex-wrap">
    <div class="sm:w-1/5 px-4">
      <%= label_tag :date_debut, "Intervenus du" %>
      <%= text_field_tag :date_debut, params[:date_debut], type: 'date', class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="sm:w-1/5 px-4">
      <%= label_tag :date_fin, "au" %>
      <%= text_field_tag :date_fin, params[:date_fin], type: 'date', class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="sm:w-1/4 px-4">
        <%= label_tag :status, "Statut" %>
        <%= select_tag :status, 
              options_for_select(Intervenant.statuses, params[:status]), 
              include_blank:true,
              class: 'select select-bordered select-sm w-full' %>
    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="sm:w-1/5 px-4">
      <%= submit_tag "Exporter", class: "btn btn-success" %>
    </div>
  </div> 

<% end %>