<div class="pb-2 mt-6 mb-2 border-b">
  <h3 class="text-2xl"><%= fa_icon 'upload' %> Export des utilisateurs </h3>
</div>
<br>

<div>
  <h3 class="text-2xl">Cette fonction permet la création d'une feuille Excel contenant tous les utilisateurs</h3>
</div>

<%= form_tag({action: "export_utilisateurs_do", method: :post}) do %>
  <div class="mb-4">
    <%= check_box_tag :desactives %>
    <%= label_tag :desactives, "Ajouter les utilisateurs désactivés ?" %>
  </div>

  <%= submit_tag "Exporter", class: "btn btn-success text-white" %>
<% end %>