<div class="pb-2 mt-6 mb-2 border-b">
  <h3><%= fa_icon 'upload' %> Export des formations </h3>
</div>
<br>

<div>
  <h3>Cette fonction permet la création d'une feuille Excel contenant toutes les formations</h3>
</div>

<%= form_tag({action: "export_formations_do", method: :post}) do %>
  <div class="mb-4">
    <%= check_box_tag :archive %>
    <%= label_tag :archive, "Ajouter les archivés ?" %>
  </div>

  <%= submit_tag "Exporter", class: "btn btn-success text-white" %>
<% end %>