<div class="border-b mt-6 mb-2 pb-4">
    <h1 class="text-3xl"><%= fa_icon 'list-alt' %> Etat liquidatif collectif</h1>
</div>
<br>

<h3 class="text-2xl mb-4">Exporte vers Excel les cours réalisés sur une période donnée, par intervenant</h3>

<%= form_tag({action: "export_etat_liquidatif_collectif_do", method: :post}) do %>
    <div class="flex flex-wrap items-end">

        <div class="sm:w-1/6 pr-4">
            <%= label_tag :start_date, "Du" %>
            <%= text_field_tag :start_date, params[:start_date], type: 'date', class: "input input-bordered input-sm w-full", required: true %>
        </div>

        <div class="sm:w-1/6 pr-4">
            <%= label_tag :end_date, "Au" %>
            <%= text_field_tag :end_date, params[:end_date], type: 'date', class: "input input-bordered input-sm w-full", required: true %>
        </div>

        <div class="px-4">
            <%= label_tag :status, "Statut" %>
            <br>
            <%= select_tag :status, 
                options_for_select(Intervenant.statuses, 
                params[:status]), include_blank:true,
                class: "select select-bordered select-sm",
                required: true %>
        </div>

        <div class="pl-2">
            <%= label_tag :group_by, "Grouper par" %>
            <br>
            <%= radio_button_tag :group_by, "intervenant", true %> Intervenant
            <%= radio_button_tag :group_by, "formation", false %> EOTP
        </div>

    </div>
    <%= submit_tag "Exporter", class: 'btn btn-sm btn-success btn-outline mt-8', 'data-turbo': false %>
<% end %>