<div class="pb-2 mt-6 mb-2 border-b">
  <h3><%= fa_icon 'upload' %> Export des utilisateurs </h3>
</div>
<br>

<div>
  <h3>Cette fonction permet la création d'une feuille Excel contenant tous les utilisateurs</h3>
</div>

<%= form_tag({action: "export_utilisateurs_do", method: :post}) do %>
  <%= check_box_tag :desactives %>
  <%= label_tag :desactives, "Ajouter les utilisateurs désactivés ?" %>

  <%= submit_tag "Exporter", class: "btn btn-success" %>
<% end %>