<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'download' %> Import des intervenants</h3>
</div>
<br>

<%= form_tag({action: "import_intervenants_do", method: :post}, multipart: true) do %>
  <div>
    <h3>Cette fonction permet l'importation des intervenants à partir d'une feuille Excel</h3>
  </div>
  <br>

  <div class="form-group">
    <%= label :filename, "Fichier source" %>
    <%= file_field_tag 'upload', accept: 'application/vnd.ms-excel', class: 'col-sm-4 form-control pb-5 pt-3' %>
    <br>
    <br>
    
    <b>Enregistrer les changements ?</b> <br>
    <%= label :save, "Oui", :value => "true" %>
    <%= radio_button_tag :save, true %>
    <%= label :save, "Non", :value => "false" %>
    <%= radio_button_tag :save, false, :checked => true %>
    <br><i>Choisissez 'Non' pour tester votre import car <b>il est irréversible !</b></i><br />
    <br>
    
    <div class="actions">
      <%= submit_tag "Lancer l'import", class: "btn btn-success"%>
    </div>

  </div>
<% end %>