<div class="pb-2 mt-6 mb-2 border-b pb-4">
  <h2 class="text-3xl">
    <%= fa_icon 'envelope' %> Notification planning
    <br>
    <small>Envoyer aux intervenants la liste de leurs cours du mois prochain</small>
  </h2>
</div>
<br>

<%= form_tag({action: "notifier_intervenants_do", method: :post}) do %>
  <%= check_box_tag :draft, "1", true %>
  <%= label_tag :draft, "Mode DRAFT (Visualisation uniquement. Pas d'envoi de mails)" %>
  <br /><br />

  <%= submit_tag "Envoyer", class: "btn btn-success text-white", 'data-turbo': false %>
<% end %>