<div class="border-b mt-6 mb-2 pb-4">
  <h2 class="text-3xl">
    <%= fa_icon 'calendar' %> Réservations en masse
    <br>
    <small>Réservation de créneaux horaires sur toute une année scolaire</small>
  </h2>
</div>

<%= form_tag(request.path, method: :get) do %>
  <div class="flex flex-col flex-wrap sm:w-2/5 gap-4">
    <div class="form-control">
      <%= label_tag :saison, "Année scolaire" %>
      <%= select_tag :saison, 
          options_for_select(@years, params[:saison]), include_blank:true, class:"select select-bordered select-sm w-full", onchange:'this.form.submit()' %>
    </div>

    <% if @formations.present? %>  
      <div class="form-control">
        <%= label_tag :formation %>    
        <%= select_tag :formation_id, 
            options_from_collection_for_select(@formations, :id, :nom_promo_full, params[:formation_id]), class:"slim-select", include_blank:true, onchange:'this.form.submit()' %>
      </div>
    <% end %>
    <div class="actions" style="display:none">
      <%= submit_tag "Afficher", class: "btn btn-success text-white" %>
    </div>
  </div>
<% end %>

<% if @jours %>
  <%= form_tag({action: "nouvelle_saison_create", method: :post}) do %>
    <div class="flex flex-col flex-wrap sm:w-1/2 gap-4 mt-4">
      <%= hidden_field_tag :date_debut, @date_debut %>
      <%= hidden_field_tag :date_fin, @date_fin %>
      <%= hidden_field_tag :formation_id, @formation_id %>

      <div>
        <%= label_tag "Jours de présence", nil %>
        <br><br>
        <%= check_box_tag :lundi, '1', true %> 
        <%= label_tag :lundi, nil, class: 'mr-2' %>
        <%= check_box_tag :mardi, '1', true %>
        <%= label_tag :mardi, nil, class: 'mr-2' %>
        <%= check_box_tag :mercredi, '1', true %>
        <%= label_tag :mercredi, nil, class: 'mr-2' %>
        <%= check_box_tag :jeudi,  '1', true %>
        <%= label_tag :jeudi, nil, class: 'mr-2' %>
        <%= check_box_tag :vendredi, '1', true %>
        <%= label_tag :vendredi, nil, class: 'mr-2' %>
        <%= check_box_tag :samedi,  '1', false %>
        <%= label_tag :samedi %>
      </div>

      <div class="form-control">
        <%= label_tag "Semaines de présence", nil %><br>
        <div class="overflow-x-auto">
          <table class="table table-zebra table-sm">
              <tr>
                <th>N° Semaine</th>
                <th>Premier jour de la semaine</th>
                <th>Présence</th>
              </tr>
              <% @jours.each do |j| %>
                  <tr class="hover">
                      <td class="text-center"><%= j.cweek %></td>
                      <td><%= l(j, format: :long) %></td>
                      <td class="text-center"><%= check_box_tag "[semaine][#{j.cweek}]", '1', false %></td>
                  </tr>
              <% end %>
          </table>
        </div>
      </div>

      <div class="form-control">
        <%= label_tag :salle_id %>    
        <%= select_tag :salle_id, 
                        options_from_collection_for_select(Salle.order(:nom), :id, :nom_places, params[:salle_id]), 
                        include_blank:true, class:"slim-select" %>
      </div>

      <div class="field">
        <b>Enregistrer les changements ?</b> <br>
        <%= label :save, "Oui", :value => "true" %>
        <%= radio_button_tag :save, true %>
        <%= label :save, "Non", :value => "false" %>
        <%= radio_button_tag :save, false, :checked => true %>
        <br><i>Choisissez 'Non' pour tester votre création car <b>elle est irréversible !</b></i><br />
      </div>

      <%= submit_tag "Lancer la création", class: "btn btn-success text-white", 'data-turbo': false %>
    </div>
  <% end %>
<% end %>
<br>