<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2>
    <%= fa_icon 'calendar' %> Réservations en masse
    <br>
    <small>Réservation de créneaux horaires sur toute une année scolaire</small>
  </h2>
</div>

<%= form_tag(request.path, method: :get) do %>
  <div class="form-group" data-controller="select2">
    <div class="row">
        <div class="col-sm-5">
            <%= label_tag :saison, "Année scolaire" %>
            <%= select_tag :saison, 
                options_for_select(@years, params[:saison]), include_blank:true, class:"form-control", onchange:'this.form.submit()' %>

            <% if @formations.present? %>    
              <%= label_tag "Formation" %>    
              <%= select_tag :formation_id, 
                  options_from_collection_for_select(@formations, :id, :nom_promo_full, params[:formation_id]), class:"form-control select2", include_blank:true, onchange:'this.form.submit()' %>
                     
            <% end %>
            <div class="actions" style="display:none">
                <%= submit_tag "Afficher", class: "btn btn-success" %>
            </div>
        </div>
    </div>
  </div>
<% end %>

<% if @jours %>
  <div class="row">
      <div class="col-sm-6">
          <%= form_tag({action: "nouvelle_saison_create", method: :post}) do %>

              <%= hidden_field_tag :date_debut, @date_debut %>
              <%= hidden_field_tag :date_fin, @date_fin %>
              <%= hidden_field_tag :formation_id, @formation_id %>

              <div class="field">
                  <%= label_tag "Jours de présence", nil %><br>
                  <%= check_box_tag :lundi, '1', true %> Lundi 
                  <%= check_box_tag :mardi, '1', true %> Mardi 
                  <%= check_box_tag :mercredi, '1', true %> Mercredi
                  <%= check_box_tag :jeudi,  '1', true %> Jeudi
                  <%= check_box_tag :vendredi, '1', true %> Vendredi
                  <%= check_box_tag :samedi,  '1', false %> Samedi
              </div>
              <br>

              <%= label_tag "Semaines de présence", nil %><br>
              <table class="table table-striped table-bordered table-condensed table-hover">
                  <tr>
                    <th>N° Semaine</th>
                    <th>Premier jour de la semaine</th>
                    <th>Présence</th>
                  </tr>
                  <% @jours.each do |j| %>
                      <tr>
                          <td class="text-center"><%= j.cweek %></td>
                          <td><%= l(j, format: :long) %></td>
                          <td class="text-center"><%= check_box_tag "[semaine][#{j.cweek}]", '1', false %></td>
                      </tr>
                  <% end %>
              </table>

              <%= label_tag "Salle" %>    
              <%= select_tag :salle_id, 
                              options_from_collection_for_select(Salle.order(:nom), :id, :nom_places, params[:salle_id]), 
                              include_blank:true, class:"form-control form-control-sm" %>
              <br>

              <div class="field">
                <b>Enregistrer les changements ?</b> <br>
                <%= label :save, "Oui", :value => "true" %>
                <%= radio_button_tag :save, true %>
                <%= label :save, "Non", :value => "false" %>
                <%= radio_button_tag :save, false, :checked => true %>
                <br><i>Choisissez 'Non' pour tester votre création car <b>elle est irréversible !</b></i><br />
              </div>
              <br>

              <div class="actions">
                  <%= submit_tag "Lancer la création", class: "btn btn-success" %>
              </div>

          <% end %>
      </div>
  </div>
<% end %>
<br>