<div class="pb-2 mt-6 mb-2 border-b">
  <h2>
    <%= fa_icon 'calendar' %> Réservations en masse
    <br>
    <small>Réservation de créneaux horaires sur toute une année scolaire</small>
  </h2>
</div>

<%= form_tag(request.path, method: :get) do %>
  <div class="flex flex-wrap">
      <div class="sm:w-2/5 px-4">
          <%= label_tag :saison, "Année scolaire" %>
          <%= select_tag :saison, 
              options_for_select(@years, params[:saison]), include_blank:true, class:"select select-bordered select-sm w-full", onchange:'this.form.submit()' %>

          <% if @formations.present? %>    
            <%= label_tag "Formation" %>    
            <%= select_tag :formation_id, 
                options_from_collection_for_select(@formations, :id, :nom_promo_full, params[:formation_id]), class:"slim-select", include_blank:true, onchange:'this.form.submit()' %>
                    
          <% end %>
          <div class="actions" style="display:none">
            <%= submit_tag "Afficher", class: "btn btn-success" %>
          </div>
      </div>
  </div>
<% end %>

<% if @jours %>
  <div class="flex flex-wrap">
    <div class="sm:w-1/2 px-4">
      <%= form_tag({action: "nouvelle_saison_create", method: :post}) do %>

        <%= hidden_field_tag :date_debut, @date_debut %>
        <%= hidden_field_tag :date_fin, @date_fin %>
        <%= hidden_field_tag :formation_id, @formation_id %>

        <div class="field">
            <%= label_tag "Jours de présence", nil %><br>
            <%= check_box_tag :lundi, '1', true %> 
            <%= label_tag :lundi %>
            <%= check_box_tag :mardi, '1', true %>
            <%= label_tag :mardi %>
            <%= check_box_tag :mercredi, '1', true %>
            <%= label_tag :mercredi %>
            <%= check_box_tag :jeudi,  '1', true %>
            <%= label_tag :jeudi %>
            <%= check_box_tag :vendredi, '1', true %>
            <%= label_tag :vendredi %>
            <%= check_box_tavg :samedi,  '1', false %>
            <%= label_tag :samedi %>
        </div>
        <br>

        <%= label_tag "Semaines de présence", nil %><br>
        <table class="table table-zebra table-bordered table-sm">
            <tr>
              <th>N° Semaine</th>
              <th>Premier jour de la semaine</th>
              <th>Présence</th>
            </tr>
            <% @jours.each do |j| %>
                <tr class="hover">
                    <td class="text-center"><%= j.cweek %></td>
                    <td><%= l(j, format: :long) %></td>
                    <td class="text-center"><%= check_box_tag "[semaine][#{j.cweek}]", '1', false %></td>
                </tr>
            <% end %>
        </table>

        <%= label_tag "Salle" %>    
        <%= select_tag :salle_id, 
                        options_from_collection_for_select(Salle.order(:nom), :id, :nom_places, params[:salle_id]), 
                        include_blank:true, class:"select select-bordered select-sm w-full" %>
        <br>

        <div class="field">
          <b>Enregistrer les changements ?</b> <br>
          <%= label :save, "Oui", :value => "true" %>
          <%= radio_button_tag :save, true %>
          <%= label :save, "Non", :value => "false" %>
          <%= radio_button_tag :save, false, :checked => true %>
          <br><i>Choisissez 'Non' pour tester votre création car <b>elle est irréversible !</b></i><br />
        </div>
        <br>

        <%= submit_tag "Lancer la création", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
<% end %>
<br>

<%= render 'partials/slim_select' %>