<div class="border-b mt-6 mb-2 pb-4">
  <h3 class="text-2xl"><%= fa_icon 'bell' %> Rappel des cours</h3>
</div>
<br>

<%= form_tag({action: "rappel_des_cours_do", method: :post}, multipart: true) do %>
  <div>
    <h4 class="text-xl">
      Ajouter un rappel des cours dans la file d'attente.
      <br>
      <small> Pour tous les intervenants d'une formation ou un seul intervenant, sur une période choisie</small>
    </h4>
    <br>
  </div>
  
  <div class="flex flex-col sm:w-1/3 gap-4">
    <div>
      <%= label_tag :formation_id %>
      <%= select_tag :formation_id, 
            options_from_collection_for_select(@formations, :id, :nom, params[:formation_id]), 
              class:"slim-select", include_blank: true %>
    </div>

    <div>
      <%= label_tag :intervenant_id %>
      <%= select_tag :intervenant_id, 
            options_from_collection_for_select(@intervenants, :id, :nom_prenom, params[:intervenant_id]), 
              class:"slim-select", include_blank: true %>
    </div>

    <div class="flex gap-4">
      <div class="flex-1">
        <%= label_tag :du, "Période du" %>
        <%= text_field_tag :du, params[:du], type: 'date', class: 'input input-bordered input-sm w-full' %>
      </div>
      <div class="flex-1">
        <%= label_tag :au %>
        <%= text_field_tag :au, params[:au], type: 'date', class: 'input input-bordered input-sm w-full' %>
      </div>
    </div>
    <small>Laissez vide pour le rappel des cours du mois suivant</small>
  </div>
  
  <div class="flex items-center mt-4" style="gap: 1rem">
    <%= submit_tag "Ajouter à la file d'attente", class: "btn btn-primary text-white" %>
    <%= link_to "Voir la file d'attente", envoi_logs_path, class: 'link' %>
  </div>
<% end %>