<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'bell' %> Rappel des cours</h3>
</div>
<br>

<%= form_tag({action: "rappel_des_cours_do", method: :post}, multipart: true) do %>
  <div>
    <h4>
        Envoyer le rappel des cours à un intervenant ou tous les intervenants d'une formation
    </h4>
    <br>
  </div>
  
  <div class="row">
    <div class="col-sm-4">
      <%= label_tag "Intervenant" %>    
      <%= select_tag :intervenant_id, 
            options_from_collection_for_select(Intervenant.all, :id, :nom, params[:intervenant_id]), 
              class:"form-control select2", include_blank: true %>
      <br>
      <%= label_tag "Formation" %>    
      <%= select_tag :formation_id, 
            options_from_collection_for_select(Formation.all, :id, :nom, params[:formation_id]), 
              class:"form-control select2", include_blank: true %>
      <br>
    </div>
  </div>
  <br>
  
  <div class="field">
    <b>Enregistrer les changements ?</b> <br>
    <%= label :save, "Oui", :value => "true" %>
    <%= radio_button_tag :save, true %>
    <%= label :save, "Non", :value => "false" %>
    <%= radio_button_tag :save, false, :checked => true %>
    <i>Choisissez 'Non' pour tester votre import car <b>il est irréversible !</b></i><br />
  </div>
  <br>
  
  <div class="actions">
    <%= submit_tag "Envoyer le rappel", class: "btn btn-success" %>
  </div>
<% end %>
<br>
