<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'search-plus' %> Chercher</h3>
</div>

<div class="container-fluid p-3 shadow-sm">
  <%= form_tag tools_rechercher_path, method: :get do %>
    <div class="form-group">
      <div class="row mb-3 px-3">
        <%= label_tag :nom, "Entrez un terme à rechercher dans toute l'application" %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
          <span class="input-group-btn">
            <%= button_tag name: 'commit', value: 'Go', class: "btn btn-sm btn-success ms-1" do %>
              <%= fa_icon 'search-plus' %>
            <% end %>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <span>
            Inclure :
          </span>
          <%= check_box_tag :search_cours, '1', params[:search_cours] == '1' %>
          <%= label_tag "Cours" %>
        </div>
        <div class="col">
          <%= check_box_tag :search_formations, '1', params[:search_formations] == '1' %>
          <%= label_tag "Formations" %>
        </div>
        <div class="col">
          <%= check_box_tag :search_intervenants, '1', params[:search_intervenants] == '1' %>
          <%= label_tag "Intervenants" %>
        </div>
        <div class="col">
          <%= check_box_tag :search_etudiants, '1', params[:search_etudiants] == '1' %>
          <%= label_tag "Étudiants" %>
        </div>
        <div class="col">
          <%= check_box_tag :search_users, '1', params[:search_users] == '1' %>
          <%= label_tag "Utilisateurs" %>
        </div>
        <div class="col-1">
          <%= check_box_tag :search_ue, '1', params[:search_ue] == '1' %>
          <%= label_tag :ue, "U.E." %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if defined?(@results) %>
  <% if @results.any? %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Type</th>
          <th>Contenu</th>
          <th>Voir</th>
          <th>MÀJ</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: @results, as: :result %>
      </tbody>
      <tfoot>
        <tr><th colspan=4></th></tr>
      </tfoot>
    </table>
    <div class="page_info">
      <%= page_entries_info @results %>
    </div>
    <%= will_paginate @results, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <br>
  <% else %>
    <p class="title is-4 has-text-centered p-6">
      Aucun résultat trouvé...
    </p>
  <% end %>
<% end %>