<tr class="hover border">
  <td><%= time_ago_in_words justificatif.edusign_created_at %></td>
  <td><%= justificatif.etudiant.nom_prénom %></td>
  <td><%= l justificatif.debut, format: :short %></td>
  <td><%= l justificatif.fin, format: :short %></td>
  <td><%= justificatif.nom %></td>
  <td><%= link_to 'Voir', justificatif, class: 'text-primary hover:underline' %></td>
</tr>