<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl"><%= fa_icon "file-contract" %> Justificatifs</h1>
</div>

<div class="bs-container p-4 shadow mb-4">
  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap">
      
      <div class="sm:w-1/4 pr-4">
        <%= label_tag :etudiant_id %>
        <%= select_tag :etudiant_id, 
                            options_from_collection_for_select(Etudiant.all, :id, :nom_prénom, params[:etudiant_id]), 
                            class: "slim-select", 
                            include_blank: true, 
                            onchange: "this.form.submit()" %>
      </div>

      <div class="sm:w-1/5 px-4">
        <%= label_tag :date_debut, "Du" %>    
        <%= text_field_tag :date_debut, 
                            params[:date_debut], 
                            type:"date", 
                            onchange:"this.form.submit()", 
                            class:"input input-bordered input-sm w-full" %>
      </div>

      <div class="sm:w-1/5 px-4">
        <%= label_tag :date_fin, "Au" %>    
        <%= text_field_tag :date_fin, 
                            params[:date_fin], 
                            type:"date", 
                            onchange:"this.form.submit()", 
                            class:"input input-bordered input-sm w-full" %>
      </div>

      <div class="sm:w-1/6 pl-4">
        <%= label_tag :motif, "Motif" %>
        <%= select_tag :motif,
                            options_for_select(@motifs_for_select, params[:motif]),
                            include_blank: true,
                            class: "select select-bordered select-sm w-full", 
                            onchange: "this.form.submit()" %>
      </div>
    </div>
  <% end %>
</div>

<div style="overflow-x: auto;">
  <%= form_tag action_presences_path, name: "action" do %>
    <div data-controller="checkbox-select-all action">
      <div class="overflow-x-auto">
        <table class="table table-sm">
          <thead class="bg-slate-100 border">
            <tr>
              <th>Il y a</th>
              <th>Nom / Prénom</th>
              <th>Du</th>
              <th>Au</th>
              <th>Motif</th>
              <th colspan="2"></th>
            </tr>
          </thead>

          <tbody>
            <%= render partial: "justificatif", collection: @justificatifs %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="10"></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  <% end %>
</div>

<div class="page_info mb-6">
  <%= page_entries_info @justificatifs %>
</div>

<div class="planning_pagination">
  <%= will_paginate @justificatifs %>
</div>