<p>
  <h2>Bonjour <%= @intervenant.nom_prenom %></h2>

  <h3>Les cours suivants vous ont été attribués :</h3>
  <br>
  <% Invit.with_confirmée_state.where("DATE(updated_at) = ?", Date.today).each do | invit | %>
    <span style="background-color:<%= invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
      <%= invit.cour.formation.nom %>
    </span>
    <br><br>
    <strong>Date:</strong>
    <%= l(invit.cour.debut, format: :long) %>
    <br><br>
    <strong>Durée:</strong>
    <%= number_with_precision(invit.cour.duree, precision: 1, strip_insignificant_zeros: true) %> h
    <br><br>
    <strong>UE/Intitulé:</strong>
    <%= invit.cour.nom_ou_ue %>
    <hr>
  <% end %>
</p>

