<p>
  Bonjour <%= @intervenant.prenom_nom %>
</p>
<p>
    Suite aux disponibilités que vous nous avez communiquées, 
    nous avons le plaisir de vous confirmer les cours suivants à l’IAE Paris-Sorbonne :
</p>
<br>

<% @gestionnaire_email = "" %>
<% @invits = @intervenant.invits.with_confirmée_state.where("DATE(updated_at) = ?", Date.today) %>
<% @invits.each do | invit | %>
  <span style="background-color:<%= invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
    <%= invit.cour.formation.nom %>
  </span>
  <br>
  <br>
  <strong>Date:</strong>
  <%= l(invit.cour.debut, format: :long) %>
  <br>
  <br>
  <strong>Durée:</strong>
  <%= number_with_precision(invit.cour.duree, precision: 1, strip_insignificant_zeros: true) %> h
  <br>
  <br>
  <strong>UE/Intitulé:</strong>
  <%= invit.cour.nom_ou_ue %>
  <hr>
  <% @gestionnaire_email = invit.formation.user.email %>
<% end %>

<p>
  Pour ajouter vos cours dans votre agenda, cliquer ici: 
  <%= link_to "Ajouter à mon calendrier", cours_url(format: :ics, ids: @invits.pluck(:cour_id)) %>
</p>

<p>
  En cas de problème, merci de contacter par retour votre gestionnaire de formation : 
  <%= mail_to @gestionnaire_email %>
</p>

<p> 
  L’IAE Paris-Sorbonne vous remercie de votre implication. 
</p>