<div class="nested-form-wrapper flex flex-wrap mb-4" data-new-record="<%= f.object.new_record? %>">

  <div class="sm:w-4/5">
    <div class="form-control">
      <%= f.label :statut %>
      <%= f.select :statut, VacationActiviteTarif.statuts.keys.to_a, {}, class: 'select select-bordered select-sm w-full' %>
    </div>
  </div>

  <div class="flex gap-4 mt-2">
    <div class="flex-1">
      <div class="form-control">
        <%= f.label :prix, "Prix (€)" %>
        <%= f.number_field :prix, class: 'input input-bordered input-sm w-full', required: true %>
      </div>
    </div>

    <div class="flex-1">
      <div class="form-control">
        <%= f.label :forfait_hetd, 'Forfait HETD' %>
        <%= f.number_field :forfait_hetd, step: :any, class: 'input input-bordered input-sm w-full', required: true %>
      </div>
    </div>

    <div class="flex-1">
      <div class="form-control">
        <%= f.label :max, "Maximum" %>
        <%= f.number_field :max, class: 'input input-bordered input-sm w-full' %>
      </div>
    </div>

    <div class="self-end">
      <button type="button" data-action="nested-form#remove" class="btn btn-sm">[X]</button>
      <%= f.hidden_field :_destroy %>
    </div>
  </div>

</div>