<tr class="hover border">
  <td><b><%= vacation_activite.nature %></b></td>
  <td><%= vacation_activite.nom %></td>
  <% VacationActiviteTarif.statuts.each do |statut| %>
    <td>
      <% if tarif = vacation_activite.vacation_activite_tarifs.find_by(statut:) %>
        <%= simple_format(tarif.prix_ou_HETD) %>
        <% if tarif.max %>
          <span class="text-error">
            <%= "#{tarif.max} Maximum" %>
          </span>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <td style="white-space: nowrap">
    <%= link_to "Voir", vacation_activite, class: "text-primary hover:underline" %>
  </td>
</tr>
