<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    
    <h1 class="text-4xl font-black">
      <%= @vacation_activite.nature %>
    </h1>
    <h2 class="text-2xl">
      <%= @vacation_activite.nom %>
    </h2>

    <% @vacation_activite.vacation_activite_tarifs.order(:statut).each do |tarif| %>
      <br>
      <b><%= tarif.statut %></b>
      <%= simple_format(tarif.prix_ou_HETD) %>
      <%= ", Maximum #{tarif.max}" if tarif.max %>
      <br>
    <% end %>
    <br>
    <%= link_to "Modifier", edit_vacation_activite_path(@vacation_activite), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "[X]", vacation_activite_path(@vacation_activite), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Retour", vacation_activites_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
