<%= bootstrap_form_for(@fermeture) do |f| %>
  <% if @fermeture.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

      <h3><%= t('activerecord.errors.template.header',
                  model: Fermeture.model_name.human, count: @fermeture.errors.count) %></h3>

      <ul>
        <% @fermeture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>

  <%= f.text_field :date, 
                    value: !@fermeture.new_record? ? @fermeture.date.strftime("%Y-%m-%dT%H:%M") : nil, 
                    type: 'datetime-local',
                    label: 'Début de la période de fermeture', class: 'col-sm-3' %>

  <% if @fermeture.new_record? %>
    <%= label_tag 'Fin de la période' %>
    <%= text_field_tag :date_fin, :date_fin, type: 'datetime-local', class: 'form-control col-sm-3' %>
  <% end %>
  <br>

  <%= f.text_field :nom, class: 'col-sm-3' %>
  <br>

  <%= f.form_group do %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>

<% end %>
