<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Fermeture).new? %>
    <%= link_to new_fermeture_path, class: 'btn text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Fermeture
    <% end %>
  <% end %>
  <h3><%= fa_icon 'umbrella-beach' %> Liste des jours de fermeture</h3>
</div>

<div class='container-fluid'>
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">

        <div class="col-sm-2">
          <%= label_tag "Période" %>    
          <%= select_tag :nom, options_for_select(@noms_périodes, params[:nom]), {include_blank: true, class: 'form-control', onchange: 'this.form.submit()'} %>
        </div>

        <div class="col-sm-3">
          <%= label_tag "Du" %>    
          <%= text_field_tag :date_debut, params[:date_debut], type:'date', onchange:'this.form.submit()', class:"form-control" %>
        </div>

        <div class="col-sm-3">
          <%= label_tag "Au" %>    
          <%= text_field_tag :date_fin, params[:date_fin], type:'date', onchange:'this.form.submit()', class:"form-control" %>
        </div>

        <div class="col-sm-2">
          <%= label_tag "Fermetures" %>
          <br> 
          <%= radio_button_tag :futur, 'oui', (params[:futur]=='oui'), onchange:'this.form.submit()' %>
          A venir
          <%= radio_button_tag :futur, 'non', (params[:futur]=='non'), onchange:'this.form.submit()' %>
          Toutes 
        </div>

        <div class="col-sm-2">
          <%= label_tag "Afficher" %>
          <br> 
          <%= radio_button_tag :paginate, "pages", (params[:paginate]=='pages'), onchange:'this.form.submit()' %>
          Pages 
          <%= radio_button_tag :paginate, "all", (params[:paginate]=='all'), onchange:'this.form.submit()' %>
          Tout 
        </div>

      </div>
    </div>  
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th><%= fermetures_sort_link 'fermetures.date', 'Date' %></th>
        <th>Jour</th>
        <th><%= fermetures_sort_link 'fermetures.nom', 'Période' %></th>
        <th><%= fermetures_sort_link 'fermetures.updated_at', 'Màj' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @fermetures.each do |fermeture| %>
        <tr>
          <td><b><%= l fermeture.date %></b></td>
          <td><%= l fermeture.date, format: :long %></td>
          <td><%= fermeture.nom %></td>
          <td>il y a <%= time_ago_in_words fermeture.updated_at %></td>
          <td>
            <%= link_to edit_fermeture_path(fermeture), class: 'btn btn-default' do %>
              <%= fa_icon 'edit' %>
            <% end %>
            <%= link_to(fermeture, method: :delete, data: {confirm: 'Confirmez-vous ?'}, class: 'btn btn-default') do %>
              <%= fa_icon 'trash' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page_info">
    <%= page_entries_info @fermetures %>
  </div>

  <%= will_paginate @fermetures, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

</div>
