<tr class="hover border">
  <td class="text-center"><%= fa_icon edusign_log.icon_etat, class: edusign_log.icon_color %></td>
  <td><%= time_ago_in_words edusign_log.created_at %></td>
  <td><%= edusign_log.modele_type.humanize %></td>
  <td><%= edusign_log.username %></td>
  <td><%= edusign_log.etat.humanize %></td>
  <td><%= link_to 'Voir', edusign_log, class: 'text-primary hover:underline' %></td>
</tr>
