<%= form_for(@intervenant) do |f| %>
  <% if @intervenant.errors.any? %>
    <div class="alert alert-error" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="text-2xl"><%= t('activerecord.errors.template.header',
                  model: Intervenant.model_name.human, count: @intervenant.errors.count) %></h3>
      <ul>
      <% @intervenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-wrap gap-32">
    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4">
      <div class="form-control">
        <%= f.label :nom, 'Nom *' %>
        <%= f.text_field :nom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :prenom, 'Prénom *' %>
        <%= f.text_field :prenom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :email, 'Email *' %>
        <%= f.email_field :email, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="flex flex-wrap gap-4">        
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :titre1, 'Titre' %>
            <%= f.text_field :titre1, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :bureau %>
            <%= f.text_field :bureau, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">        
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :téléphone_fixe %>
            <%= f.text_field :téléphone_fixe, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :téléphone_mobile %>
            <%= f.text_field :téléphone_mobile, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4">
      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :status, 'Statut *' %>
            <%= f.select :status, Intervenant.statuses.keys.to_a, {include_blank: true}, required: true, class: 'select select-bordered select-sm w-full' %>
          </div>
        </div>

        <div class="w-2/5">
          <div class="form-control">
            <%= f.label :nbr_heures_statutaire, 'Nombre heures statutaires' %>
            <%= f.number_field :nbr_heures_statutaire, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>

        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :année_entrée, 'Année d\'entrée' %>
            <%= f.number_field :année_entrée, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :date_naissance %>
            <%= f.date_field :date_naissance, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>

        <div class="relative flex-grow max-w-full flex-1">
          <div class="form-control">
            <%= f.label :remise_dossier_srh, 'Date remise dossier SRH' %>
            <%= f.date_field :remise_dossier_srh, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>

      <div class="form-control">
        <%= f.label :photo %>
        <%= f.text_field :photo, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :adresse %>
        <%= f.text_field :adresse, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="flex flex-wrap">        
        <div class="sm:w-1/4 pr-4">
          <div class="form-control">
            <%= f.label :cp %>
            <%= f.text_field :cp, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div> 
        <div class="sm:w-3/4 pl-4">
          <div class="form-control">
            <%= f.label :ville %>
            <%= f.text_field :ville, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>


      <% if current_user.admin? %>
        <div class="flex flex-wrap gap-4">        
          <div class="relative flex-grow max-w-full flex-1">
            <%= f.check_box :doublon, title:"Autorise les doublons de cours sur un même créneau horaire !" %>
            <%= f.label :doublon, 'Autoriser les doublons ?' %>
          </div>
          
          <div class="relative flex-grow max-w-full flex-1">
            <%= f.check_box :notifier, title: "Envoyer la liste des cours du mois prochain" %>
            <%= f.label :notifier, 'Notification planning ?' %>
          </div>
        </div>
      <% end %>

    </div>   
  </div>

  <% if policy(:tool).can_see_RHGroup_private_tool? %>
    <h4 class="text-xl">Responsabilités</h4>
    <hr>
    <%= f.fields_for :responsabilites do |r| %>
      <div class="flex flex-wrap shadow py-4 mb-4">
        <div class="sm:w-1/6 px-4">
          <div class="form-control">
            <%= r.label :debut, 'Date' %>
            <%= r.date_field :debut, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>

        <div class="sm:w-2/5 px-4">
          <div class="form-control">
            <%= r.label :titre %>
            <%= r.select :titre, Intervenant.liste_responsabilites, {include_blank: true}, class: 'slim-select' %>
          </div>
        </div>

        <div class="sm:w-1/4 px-4">
          <div class="form-control">
            <%= r.label :formation_id, 'Formation/EOTP' %>
            <%= r.collection_select :formation_id, 
                    Formation.where(hors_catalogue: false), 
                    :id,
                    :nom_eotp,
                    {include_blank: true},
                    class: 'slim-select' %>
          </div>
        </div>  
  
        <div class="sm:w-1/6 px-4">
          <div class="form-control">
            <%= r.label :heures, 'Forfait' %>
            <%= r.text_field :heures, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>

        <div class="sm:w-4/5 px-4">
          <div class="form-control">
            <%= r.label :commentaires %>
            <%= r.text_field :commentaires, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>

        <div class="sm:w-1/5 px-4 self-end">
          <%= r.check_box :_destroy %>
          <%= r.label :_destroy, 'Supprimer ?' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= f.submit class: "btn btn-primary text-white mt-4" %>
<% end %>

<%= render 'partials/slim_select' %>