<tr class="hover border">
    <td><b><%= link_to intervenant.nom, intervenant, class: 'text-primary hover:underline' %></b></td>
    <td><b><%= intervenant.prenom %></b></td>
    <td><%= intervenant.try(:status) %></td>
    <td>
        <%= intervenant.email %>
        <% if !intervenant.linked_user && intervenant.cours.confirmé.count.positive? %>
            <%= link_to users_path(search: intervenant.nom) do %>
                <%= fa_icon 'question-circle', class: 'text-base-content' , title: 'L\'intervenant n\'a pas de compte de connexion (utilisateur) associé à cet email' %>
            <% end %>
        <% end %>
    </td>
    <td><%= intervenant.doublon ? "Autorisés" : "" %></td>
    <td class="text-right"><%= intervenant.nbr_heures_statutaire %></td>
    <td><%= l(intervenant.remise_dossier_srh.to_date) if intervenant.remise_dossier_srh %></td>
    <td><%= time_ago_in_words(intervenant.created_at) %></td>
    <td class="text-center">
        <% if intervenant.edusign_id? %>
            <%= fa_icon 'check' %>
        <% end %>
    </td>
    <td>
        <% if policy(Intervenant).edit? %>
            <%= link_to edit_intervenant_path(intervenant), class: "btn btn-ghost btn-xs" do %>
                <%= fa_icon 'edit' %>
            <% end %>
        <% end %>
        <% if policy(Intervenant).destroy? %> 
            <% if !(intervenant.cours.any? or Cour.where(intervenant_binome: intervenant).any?) %>
                <%= link_to(intervenant, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?', class: "btn btn-ghost btn-xs") do %>
                    <%= fa_icon 'trash-alt' %>
                <% end %>
            <% else%>
                <%= fa_icon 'trash-alt', title: "Impossible de supprimer cet intervenant car il est dans un cours !", class: "btn btn-ghost btn-xs pt-1 text-secondary" %>
            <% end %>
        <% end %>
    </td>
</tr>
