<tr class="hover border">
    <td><b><%= link_to intervenant.nom, intervenant, class: 'text-primary hover:underline' %></b></td>
    <td><b><%= intervenant.prenom %></b></td>
    <td><%= intervenant.try(:status) %></td>
    <td>
        <%= intervenant.email %>
        <% if !intervenant.linked_user && intervenant.cours.confirmé.count.positive? %>
            <%= link_to users_path(search: intervenant.nom) do %>
                <%= fa_icon 'question-circle', class: 'text-base-content' , title: 'L\'intervenant n\'a pas de compte de connexion (utilisateur) associé à cet email' %>
            <% end %>
        <% end %>
    </td>
    <td><%= intervenant.doublon ? "Autorisés" : "" %></td>
    <td class="text-right"><%= intervenant.nbr_heures_statutaire %></td>
    <td><%= l(intervenant.remise_dossier_srh.to_date) if intervenant.remise_dossier_srh %></td>
    <td><%= time_ago_in_words(intervenant.created_at) %></td>
    <td>
        <%= link_to edit_intervenant_path(intervenant), class: "btn btn-ghost btn-xs" do %>
            <%= fa_icon 'edit' %>
        <% end %>
        <% unless intervenant.cours.any? or Cour.where(intervenant_binome: intervenant).any? %> 
            <%= link_to(intervenant, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?', class: "btn btn-ghost btn-xs") do %>
                <%= fa_icon 'trash-alt' %>
            <% end %>
        <% end %>
    </td>
</tr>
