<div class="nested-form-wrapper flex flex-wrap shadow py-4 mb-4" data-new-record="<%= f.object.new_record? %>">
  <div class="sm:w-1/6 px-4">
    <div class="form-control">
      <%= f.label :debut, 'Date' %>
      <%= f.date_field :debut, class: 'input input-bordered input-sm w-full' %>
    </div>
  </div>

  <div class="sm:w-2/5 px-4">
    <div class="form-control">
      <%= f.label :titre %>
      <%= f.select :titre, Intervenant.liste_responsabilites, {include_blank: true}, class: 'select select-bordered select-sm w-full' %>
    </div>
  </div>

  <div class="sm:w-1/4 px-4">
    <div class="form-control">
      <%= f.label :formation_id, 'Formation/EOTP' %>
      <%= f.collection_select :formation_id, 
              Formation.where(hors_catalogue: false), 
              :id,
              :nom_eotp,
              {include_blank: true},
              class: 'select select-bordered select-sm w-full' %>
    </div>
  </div>  

  <div class="sm:w-1/6 px-4">
    <div class="form-control">
      <%= f.label :heures, 'Forfait' %>
      <%= f.text_field :heures, class: 'input input-bordered input-sm w-full' %>
    </div>
  </div>

  <div class="sm:w-4/5 px-4">
    <div class="form-control">
      <%= f.label :commentaires %>
      <%= f.text_field :commentaires, class: 'input input-bordered input-sm w-full' %>
    </div>
  </div>

  <div class="sm:w-1/5 px-4 self-end">
    <button type="button" data-action="nested-form#remove" class="btn btn-sm">[X]</button>
    <%= f.hidden_field :_destroy %>
  </div>
</div>