<div class="border-b mt-6 mb-2 pb-4">
  <% if policy(Intervenant).new? %>
    <%= link_to new_intervenant_path, class: 'text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Intervenant
    <% end %>
  <% end %>
  <h3 class="text-2xl"><%= fa_icon 'chalkboard-teacher' %> Liste des intervenants</h3>
</div>

<div class="bs-container p-4 shadow mb-4">
  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap">
      <div class="sm:w-1/3 pr-4">
        <%= label_tag :nom, "Nom/Prénom" %>    
        <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"input input-bordered input-sm w-full" %>
      </div>

      <div class="sm:w-1/5 px-4">
        <%= label_tag :status, "Statut" %>
        <%= select_tag :status, options_for_select(Intervenant.statuses, 
              params[:status]), include_blank:true,
              class: 'select select-bordered select-sm w-full', onchange: 'this.form.submit()' %>
      </div>

      <div class="sm:w-1/4 pl-4">
        <%= label_tag :doublon, "Doublons autorisés ?" %>
        <br>    
        <%= check_box_tag :doublon, 1, params[:doublon], onchange:'this.form.submit()' %>
      </div>
    </div>
  <% end %>
</div>

<% if @intervenants.any? %>
  <div class="overflow-x-auto">
    <table class="table table-zebra">
      <thead>
        <tr>
          <th><%= sort_link 'intervenants.nom', 'Nom' %></th>
          <th>Prénom</th>
          <th><%= sort_link 'intervenants.status', 'Statut' %></th>
          <th>Email</th>
          <th>Doublons?</th>
          <th><%= sort_link 'intervenants.nbr_heures_statutaire', 'Heures' %></th>
          <th><%= sort_link 'intervenants.remise_dossier_srh', 'Date_SRH' %></th>
          <th><%= sort_link 'intervenants.created_at', 'Créé il y a' %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= render @intervenants %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="9">
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div class="page_info">
    <%= page_entries_info @intervenants %>
  </div>

  <div class="planning_pagination">
    <%= will_paginate @intervenants %>
  </div>
<% end %>


