<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Intervenant).new? %>
    <%= link_to new_intervenant_path, class: 'btn text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Intervenant
    <% end %>
  <% end %>
  <h3><%= fa_icon 'chalkboard-teacher' %> Liste des intervenants</h3>
</div>

<div class="container-fluid p-3 shadow-sm shadow-sm">
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <%= label_tag :nom, "Nom/Prénom" %>    
          <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
        </div>
        
        <div class="col-sm-3">
          <%= label_tag :status, "Statut" %>
          <div class="input-group">
            <%= select_tag :status, options_for_select(Intervenant.statuses, 
                  params[:status]), include_blank:true,
                  class: 'form-control form-control-sm', onchange: 'this.form.submit()' %>
            <span class="input-group-btn">
              <%= submit_tag 'Filtrer', class: "btn btn-sm btn-success" %>
            </span>
          </div>
        </div>

        <div class="col-sm-3">
          <%= label_tag :doublon, "Doublons autorisés ?" %>
          <br>    
          <%= check_box_tag :doublon, 1, params[:doublon], onchange:'this.form.submit()' %>
        </div>
        
      </div>
    </div>  
  <% end %>
</div>
<br>

<% if @intervenants.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sort_link 'intervenants.nom', 'Nom' %></th>
          <th>Prénom</th>
          <th>Titre</th>
          <th><%= sort_link 'intervenants.status', 'Statut' %></th>
          <th>Doublons?</th>
          <th><%= sort_link 'intervenants.nbr_heures_statutaire', 'Heures' %></th>
          <th><%= sort_link 'intervenants.remise_dossier_srh', 'Date_SRH' %></th>
          <th><%= sort_link 'intervenants.created_at', 'Créé il y a' %></th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th colspan=9></th>
        </tr>
      </tfoot>

      <tbody>
        <%= render @intervenants %>
      </tbody>

    </table>

    <div class="page_info">
      <%= page_entries_info @intervenants %>
    </div>

    <%= will_paginate @intervenants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  </div>
<% end %>


