<h3 class="mt-5 mb-5">
  <%= fa_icon 'calendar-check' %>
  Invitations à l'attention de <%= @intervenant.prenom_nom %>
  <div class="small mt-2">
    Propositions de créneaux horaires à valider 
  </div>
</h3>

<div class="container-fluid p-3 shadow-sm">
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">

        <div class="col-sm-5">
          <%= label_tag :formation %>
          <%= select_tag :formation, 
                              options_from_collection_for_select(@formations, :id, :nom_promo, params[:formation]), 
                              include_blank: true,
                              class: 'form-control form-control-sm select2', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :workflow_state, "État" %>
          <%= select_tag :workflow_state, 
                              options_for_select(Invit.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                              include_blank: true,
                              class: 'form-control form-control-sm', 
                              onchange: 'this.form.submit()' %>
        </div>
        
      </div>
    </div>  
  <% end %>
</div>
<br>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Formation</th>
      <th>U.E.</th>
      <th>État</th>
      <th>Message</th>
      <th>MàJ</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= current_date = '' %>
    <% @invits.each do |invit| %>
      <% if invit.cour.debut.to_date != current_date %>
        <tr class="shadow-sm bg-light">
          <th colspan=9>
            <%= fa_icon 'calendar-check' %>
            <b><%= l(invit.cour.debut.to_date, format: :long).humanize %></b> 
          </th>
        </tr>
        <% current_date = invit.cour.debut.to_date %>
      <% end %>  

      <tr>
        <td>
          <%= link_to invit do %>
            <b><%= l(invit.cour.debut, format: :heures_min) %></b> 
            <br>
            <%= l(invit.cour.fin, format: :heures_min) %>
          <% end %>
        </td>
        <td>
          <span style="background-color:<%= invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
            <%= invit.cour.formation.nom %>
          </span>
        </td>
        <td>
          <%= Unite.find(invit.ue).num unless invit.ue.blank? %>
          :
          <%= invit.nom unless invit.nom.blank? %>
        </td>
        <td>
          <span class="badge <%= invit.style %>">
            <%= invit.workflow_state.humanize %>
          </span>
        </td>
        <td><span title="<%= invit.msg %>"><%= truncate(invit.msg, length: 20) %></span></td>
        <td>il y a <%= time_ago_in_words invit.updated_at %></td>
        <td>
          <% if invit.can_valider? %>
            <%= link_to "Je suis disponible", valider_invit_path(invit), class: 'btn btn-sm btn-outline-success' %>
          <% end %>
        </td>
        <td style="white-space: nowrap;">
          <% if invit.can_rejeter? %>
            <%= link_to "Je ne suis pas disponible", rejeter_invit_path(invit), class: 'btn btn-sm btn-outline-danger' %>
          <% end %>
        </td>
        <td><%= link_to 'Commentaires', invit %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr><th colspan=10></th></tr>
  </tfoot>
</table>

<div class="page_info">
  <%= page_entries_info @invits %>
</div>

<%= will_paginate @invits, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
