<h3 class="text-2xl mt-12 mb-12">
  <%= fa_icon 'calendar-check' %>
  Invitations à l'attention de <%= @intervenant.prenom_nom %>
  <div class="small mt-2">
    Propositions de créneaux horaires à valider 
  </div>
</h3>

<div class="bs-container mx-auto sm:px-4 max-w-full p-4 shadow">
  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap">

      <div class="sm:w-2/5 px-4">
        <%= label_tag :formation %>
        <%= select_tag :formation, 
                            options_from_collection_for_select(@formations, :id, :nom_promo, params[:formation]), 
                            include_blank: true,
                            class: 'slim-select', 
                            onchange: 'this.form.submit()' %>
      </div>

      <div class="sm:w-1/5 px-4">
        <%= label_tag :workflow_state, "État" %>
        <%= select_tag :workflow_state, 
                            options_for_select(Invit.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                            include_blank: true,
                            class: 'select select-bordered select-sm w-full', 
                            onchange: 'this.form.submit()' %>
      </div>
      
    </div>
  <% end %>
</div>
<br>

<div class="overflow-x-auto">
  <table class="table">
    <thead class="bg-slate-100 border">
      <tr>
        <th>Date</th>
        <th>Formation</th>
        <th>U.E.</th>
        <th>État</th>
        <th>Message</th>
        <th>MàJ</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <%= current_date = '' %>
      <% @invits.each do |invit| %>
        <% if invit.cour.debut.to_date != current_date %>
          <tr class="hover border bg-base-200">
            <th colspan=9>
              <%= fa_icon 'calendar-check' %>
              <b><%= l(invit.cour.debut.to_date, format: :long).humanize %></b> 
            </th>
          </tr>
          <% current_date = invit.cour.debut.to_date %>
        <% end %>  

        <tr class="hover border">
          <td>
            <%= link_to invit, class: 'text-primary hover:underline' do %>
              <b><%= l(invit.cour.debut, format: :heures_min) %></b> 
              <br>
              <%= l(invit.cour.fin, format: :heures_min) %>
            <% end %>
          </td>
          <td>
            <span style="background-color:<%= invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
              <%= invit.cour.formation.nom %>
            </span>
          </td>
          <td>
            <%= Unite.find(invit.ue).num unless invit.ue.blank? %>
            :
            <%= invit.nom unless invit.nom.blank? %>
          </td>
          <td>
            <span class="badge <%= invit.style %> text-white">
              <%= invit.workflow_state.humanize %>
            </span>
          </td>
          <td><span title="<%= invit.msg %>"><%= truncate(invit.msg, length: 20) %></span></td>
          <td>il y a <%= time_ago_in_words invit.updated_at %></td>
          <td>
            <% if invit.can_valider? %>
              <%= link_to "Je suis disponible", valider_invit_path(invit), class: 'btn btn-sm btn-success text-white btn-outline' %>
            <% end %>
          </td>
          <td style="white-space: nowrap;">
            <% if invit.can_rejeter? %>
              <%= link_to "Je ne suis pas disponible", rejeter_invit_path(invit), class: 'btn btn-sm btn-error btn-outline' %>
            <% end %>
          </td>
          <td><%= link_to 'Commentaires', invit, class: 'text-primary hover:underline' %></td>
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <tr><th colspan=10></th></tr>
    </tfoot>
  </table>
</div>

<div class="page_info">
  <%= page_entries_info @invits %>
</div>

<div class="planning_pagination">
  <%= will_paginate @invits %>
</div>
<br>