<div class="card shadow-sm p-3 mt-3">

  <div>
    <div class="btn-group float-right">
      <% if policy(:tool).can_see_RHGroup_private_tool? %>
        <%= link_to edit_intervenant_path(@intervenant), class: 'btn btn-sm btn-outline-primary' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>

        <a href="#audit" data-toggle="collapse" class='btn btn-sm btn-outline-primary'>
          <%= fa_icon 'search' %> Audit
        </a>
      <% end %>
      <%= link_to intervenants_path, class: 'btn btn-sm btn-outline-primary' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <h2>
        <span style="opacity: 80%;">
          <%= fa_icon 'chalkboard-teacher 2x' %>
        </span>
      </h2>
    </div>  

    <div class="col-sm-5">
      <h2>
        <small class="text-muted">Nom</small><br>
        <%= @intervenant.nom %>
      </h2>
    </div>

    <div class="col-sm-4">
      <h2>
        <small class="text-muted">Prénom</small><br>
        <%= @intervenant.prenom %>
      </h2>
    </div>
  </div>

  <hr>
  
  <div class="row">
    <div class="col-sm-3">
      <h3>
        <small class="text-muted">Titre</small><br>
      </h3>
      <%= @intervenant.titre1 %>
      <%= @intervenant.titre2 %>

      <h3 class="mt-2">
        <small class="text-muted">Statut</small><br>
      </h3>
      <%= @intervenant.try(:status) %>

      <% if @intervenant.année_entrée %>
        <h3 class="mt-2">
          <small class="text-muted">Ancienneté</small><br>
        </h3>
        <%= Date.today.year - @intervenant.année_entrée %>
      <% end %>
    </div>

    <div class="col-sm-5">
      <h3>
        <small class="text-muted">Courriel</small><br>
      </h3>
      <%= mail_to @intervenant.email %>
    </div>

    <div class="col-sm-4">
      <h3>
        <small class="text-muted">Mobile</small><br>
      </h3>
      <%= @intervenant.téléphone_mobile %>

      <h3 class="mt-2">
        <small class="text-muted">Salles habituelles</small><br>
      </h3>
      <%= @salles_habituelles %>

    </div>
  </div>

  <hr>

  <% if @formations.any? %>
    <h3>
      <small>
        <%= "Formation".pluralize(@formations.size) %>
        <%= "dispensée".pluralize(@formations.size) %>
        <span class="badge badge-pill badge-info">
          <%= @formations.size %>
        </span>
      </small>
    </h3>

    <p>
      <% @formations.each_with_index do |formation, index| %>
        <%= link_to formation.nom, 
                    cours_path(formation_id: formation, 
                                intervenant_id: @intervenant.id, 
                                intervenant: @intervenant.nom_prenom,
                                filter: 'all') %><%= ',' if index != @formations.size - 1 %>
      <% end %>
    </p>
  <% end %>

  <% if policy(:tool).can_see_RHGroup_private_tool? %>
    <% if @intervenant.responsabilites.any? %>
      <div class="shadow-sm p-4">
        <h2>
          <%= fa_icon 'file-contract' %>
          Responsabilités
        </h2>

        <table class="table table-striped table-sm">
          <thead>
            <th>Date</th>
            <th>Formation</th>
            <th>Titre</th>
            <th>Forfait</th>
            <th>Commentaires</th>
          </thead>

          <% @intervenant.responsabilites.each do |r| %>
            <tr>
                <td>
                  <%= l r.debut %>
                </td>
                <td>
                  <%= link_to(Formation.unscoped.find(r.formation_id).nom, formations_path(r.formation_id)) %>
                </td>
                <td>
                  <%= r.titre %>
                </td>
                <td>
                  <%= r.heures %>h
                </td>
                <td>
                  <%= r.commentaires %>
                </td>
            </tr>
          <% end %>
        </table>
      </div>
      <br>
    <% end %>
  <% end %>

  <% if @intervenant.vacations.any? %>
    <div class="shadow-sm p-4">
      <h2>
        <%= fa_icon 'user-md' %>
        Vacations
      </h2>

      <table class="table table-striped table-sm ">
        <thead>
          <th>Date</th>
          <th>Formation</th>
          <th>Activité</th>
          <th>Intervenant</th>
          <th>Qté</th>
          <th>Forfait_HTD</th>
          <th>Commentaires</th>
        </thead>

        <% @intervenant.vacations.each do |vacation| %>
          <%= render vacation %>
        <% end %>
      </table>
    </div>

  <% end %>

  <hr>
  <br>

  <div id="audit" class="collapse">
    <h4>Audit des modifications</h4>
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <th>Date</th>
        <th>Utilisateur</th>            
        <th>Type</th>
        <th>Record_id</th>
        <th>Action</th>
        <th>Modifications</th>
      </thead>

      <tbody>
        <%= render partial: 'tools/audit', collection: @intervenant.audits %>
      </tbody>

    </table>
  </div>

</div>
