<div class="card shadow p-4 my-8">

  <div>
    <div class="join float-right">
      <% if policy(:tool).can_see_RHGroup_private_tool? %>
        <%= link_to edit_intervenant_path(@intervenant), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>
      <% end %>
      <%= link_to intervenants_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>
  
  <div class="flex flex-wrap mb-4">
    <div class="sm:w-1/4 px-4">
      <% if @intervenant.photo.present? %>
        <img src=<%= @intervenant.photo %> width=250 loading='eager' class="shadow">
      <% else %>
        <%= image_tag 'planning_intervenant.jpg', class: 'shadow', width: 150 %>
      <% end %>
    </div>  

    <div class="sm:w-2/5 px-4">
      <h2 class="text-3xl">
        <small class="text-secondary">Nom</small><br>
        <%= @intervenant.nom %>
      </h2>
    </div>

    <div class="sm:w-1/3 px-4">
      <h2 class="text-3xl">
        <small class="text-secondary">Prénom</small><br>
        <%= @intervenant.prenom %>
      </h2>
    </div>
  </div>

  <hr class="">
  
  <div class="flex flex-wrap mb-4">
    <div class="sm:w-1/4 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Titre</small><br>
      </h3>
      <%= @intervenant.titre1 %>
      <%= @intervenant.titre2 %>

      <h3 class="text-2xl mt-2">
        <small class="text-secondary">Statut</small><br>
      </h3>
      <%= @intervenant.try(:status) %>

      <% if @intervenant.année_entrée %>
        <h3 class="text-2xl mt-2">
          <small class="text-secondary">Ancienneté</small><br>
        </h3>
        <%= Date.today.year - @intervenant.année_entrée %>
      <% end %>
    </div>

    <div class="sm:w-2/5 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Courriel</small><br>
      </h3>
      <%= mail_to @intervenant.email %>

      <% if @user && @user.sign_in_count.positive? %>
        <h3 class="text-2xl mt-6">
          <small class="text-secondary">Dernière connexion</small>
        </h3>
        Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
        <p class="mb-4">
          (<%= @user.sign_in_count %> connexions)
          <%= link_to 'Voir', user_path(@user) %>
        </p>
      <% end %>
    </div>

    <div class="sm:w-1/3 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Mobile</small><br>
      </h3>
      <%= @intervenant.téléphone_mobile %>

      <h3 class="text-2xl mt-2">
        <small class="text-secondary">Salles habituelles</small><br>
      </h3>

      <div class="flex flex-wrap items-center gap-2">
        <% @salles_habituelles.each do |salle_id, count| %>
          <% salle = Salle.find(salle_id) %>
          <span class="text-success"
          style="font-size: calc( .25rem + <%= [1.5, (count.fdiv(@average_count))].min %>rem); " 
                title="Salle <%= salle.nom %> a été utilisée <%= count %> fois">
            <%= salle.nom.first(2) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <hr>

  <% if @formations.any? %>
    <h3 class="text-2xl mt-8 mb-4">
      <small class="text-secondary">
        <%= "Formation".pluralize(@formations.size) %>
        <%= "dispensée".pluralize(@formations.size) %>
        <span class="badge badge-info text-white">
          <%= @formations.size %>
        </span>
      </small>
    </h3>

    <p class="mb-4">
      <% @formations.each_with_index do |formation, index| %>
        <%= link_to formation.nom, 
                    cours_path(formation_id: formation, 
                                intervenant_id: @intervenant.id, 
                                intervenant: @intervenant.nom_prenom,
                                filter: 'all') %><%= ',' if index != @formations.size - 1 %>
      <% end %>
    </p>

    <hr class="mt-4">
  <% end %>

  <% if policy(:tool).can_see_RHGroup_private_tool? %>
    <% if @intervenant.responsabilites.any? %>
      <div class="mt-8">
        <h2 class="text-3xl">
          <%= fa_icon 'file-contract' %>
          Responsabilités
        </h2>

        <div class="overflow-x-auto">
          <table class="table table-zebra table-sm">
            <thead>
              <th>Date</th>
              <th>Formation</th>
              <th>Titre</th>
              <th>Forfait</th>
              <th>Commentaires</th>
            </thead>

            <% @intervenant.responsabilites.each do |r| %>
              <tr class="hover">
                  <td>
                    <%= l r.debut %>
                  </td>
                  <td>
                    <%= link_to(Formation.unscoped.find(r.formation_id).nom, formations_path(r.formation_id)) %>
                  </td>
                  <td>
                    <%= r.titre %>
                  </td>
                  <td>
                    <%= r.heures %>h
                  </td>
                  <td>
                    <%= r.commentaires %>
                  </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <br>
    <% end %>
  <% end %>

  <% if @intervenant.vacations.any? %>
    <div class="mt-8">
      <h3 class="text-xl text-secondary my-4">
        <%= fa_icon 'user-md' %>
        Vacations
      </h2>

      <div class="overflow-x-auto">
        <table class="table table-zebra table-sm ">
          <thead>
            <th>Date</th>
            <th>Formation</th>
            <th>Activité</th>
            <th>Intervenant</th>
            <th>Qté</th>
            <th>Forfait_HTD</th>
            <th>Commentaires</th>
          </thead>

          <% @intervenant.vacations.each do |vacation| %>
            <%= render vacation %>
          <% end %>
        </table>
      </div>
    </div>

  <% end %>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 mt-8">
    <div class="collapse-title text-xl text-secondary">
      Audit des modifications
    </div>
    <div class="overflow-x-auto collapse-content bg-base-100">
      <table class="table table-xs">
        <thead>
          <th>Date</th>
          <th>Utilisateur</th>            
          <th>Type</th>
          <th>Record_id</th>
          <th>Action</th>
          <th>Modifications</th>
        </thead>

        <tbody>
          <%= render partial: 'tools/audit', collection: @intervenant.audits.reorder(id: :desc) %>
        </tbody>

      </table>
    </div>
  </div>

</div>
