<div class="flex flex-col justify-center items-center mb-12">
  <% unless request.variant.include?(:phone) %>
    <%= image_tag "logo@2000.png", style: "width: 100%; max-width: 500px;" %>
  <% end %>
  <div class="border border-gray-900 rounded shadow p-6 w-full" style="max-width: 500px">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h1 class="text-4xl text-center border-b mb-4 pb-4">
        <%= t('.sign_up') %>
      </h1>

      <div class="flex flex-wrap">
        <div class="relative flex-grow max-w-full flex-1">

          <div class="form-control">
            <%= f.label :nom %>
            <%= f.text_field :nom, autofocus: true, class: "input input-bordered input-sm w-full" %>
          </div>

          <div class="form-control my-4">
            <%= f.label :prénom %>
            <%= f.text_field :prénom, class: "input input-bordered input-sm w-full" %>
          </div>

          <div class="form-control">
            <%= f.label :email %>
            <%= f.email_field :email, class: "input input-bordered input-sm w-full" %>
          </div>

          <div class="form-control my-4">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "input input-bordered input-sm w-full" %>
          </div>

          <div class="form-control">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "input input-bordered input-sm w-full" %>
          </div>
          <div>
            <%= f.submit t('.sign_up'), class: "btn btn-primary text-white w-full my-4" %>
            <br>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>