<div class="d-flex flex-column justify-content-center align-items-center mb-5">
  <% unless request.variant.include?(:phone) %>
    <%= image_tag "logo@2000.png", style: "width: 100%; max-width: 500px;" %>
  <% end %>
  <div class="border border-dark rounded shadow w-100 p-5" style="max-width: 500px">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <h1 class="text-center border-bottom mb-3 pb-3">
        <%= t('.sign_up') %>
      </h1>

      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.text_field :nom, autofocus: true %>

            <%= f.text_field :prénom %>

            <%= f.email_field :email %>
            <%= f.password_field :password, autocomplete: "off" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
            <br>
            <div class="actions">
              <%= f.submit t('.sign_up'), class: "btn btn-primary mb-3" %>
              <br>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>