<tr class="hover border">
    <td>
        <%= l vacation.date if vacation.date %>
    </td>
    <td>
        <%= link_to(Formation.find(vacation.formation_id).nom, Formation.find(vacation.formation_id), class: 'text-primary hover:underline') %>
    </td>
    <td>
        <%= vacation.vacation_activite.try(:nom) %>
    </td>
    <td>
        <%= vacation.intervenant.nom %>
    </td>
    <td>
        <%= vacation.qte %>
    </td>
    <td>
        <%= vacation.commentaires %>
    </td>
    <td class="text-secondary">
        <%= vacation.titre %>
    </td>
    <td class="text-secondary">
        <%= "#{vacation.forfaithtd} h" if vacation.forfaithtd %>
    </td>
</tr>
