<h1 class="text-2xl mt-6">
  <%= fa_icon 'user-md' %>
  Vacation 
</h1>

<div class="card shadow p-4 mb-8">
  <div>
    <div class="join float-right">
      <%= link_to edit_vacation_path(@vacation), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'edit' %> Modifier
      <% end %>

      <%= link_to vacations_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap gap-24">
    <div>
      <p class="mb-4">
        <strong>Intervenant</strong>
        <br>
        <%= link_to @vacation.intervenant.nom_prenom, intervenant_path(@vacation.intervenant.slug || @vacation.intervenant.id), class: 'text-primary hover:underline font-bold' %>
      </p>

      <p class="mb-4">
        <strong>Date</strong>
        <br>
        <%= l(@vacation.date, format: :long) %>
      </p>
    </div>

    <div>
      <p class="mb-4">
        <strong>Statut</strong>
        <br>
        <%= @vacation.intervenant.status %>
      </p>

      <p class="mb-4 max-w-xs">
        <strong>Activité</strong>
        <br>
        <span title="<%= @vacation.vacation_activite.nom %>">
          <%= @vacation.vacation_activite.nom %>
        </span>
      </p>
    </div>
    <div>
      <p class="mb-4">
        <strong>Formation</strong>
        <br>
        <span class="pl-2" style="border-left: .3rem solid <%= @vacation.formation.try(:positive_color) %>">
          <%= link_to(Formation.unscoped.find(@vacation.formation_id).nom, Formation.unscoped.find(@vacation.formation_id), class: 'text-primary hover:underline') %>
        </span>
      </p>

      <div class="flex gap-8">
        <p class="mb-4">
          <strong>Quantité</strong>
          <br>
          <%= @vacation.qte %>
        </p>

        <p class="mb-4">
          <strong>Montant</strong>
          <br>
          <% if @vacation.forfaithtd > 0 %>
            <%= number_to_currency(((Cour.Tarif * @vacation.forfaithtd) * @vacation.qte).round(2)) %>
          <% else %>
            <%= number_to_currency(@vacation.tarif * @vacation.qte) %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div>
    <p class="mb-4">
      <strong>Commentaires</strong>
      <br>
      <%= @vacation.commentaires %>
    </p>
  </div>
  <div class="flex gap-24">
    <p class="mb-4 text-secondary">
      <strong>Activité antérieure</strong>
      <br>
      <%= @vacation.titre %>
    </p>

    <p class="mb-4 text-secondary">
      <strong>Forfait HTD</strong>
      <br>
      <%= @vacation.forfaithtd %>
    </p>
  </div>
</div>


<br>
<h4 class="text-xl mb-4">Audit des modifications</h4>

<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead class="bg-slate-100 border">
      <th>Date</th>
      <th>Utilisateur</th>            
      <th>Type</th>
      <th>Id</th>
      <th>Action</th>
      <th>Modifications</th>
    </thead>
    <%= render partial: 'tools/audit', collection: @vacation.own_and_associated_audits.reorder(id: :desc) %>
  </table>
</div>
<br>