<tr class="hover">
  <td><%= mail_log.user_id == 0 ? "Système" : User.find(mail_log.user_id).nom_et_prénom %></td>
  <td><%= mail_log.to %></td>
  <td class="hover:cursor-help" title="Détail objet : <%= mail_log.title %>"><%= mail_log.subject %></td>
  <td class="whitespace-nowrap"><%= time_ago_in_words mail_log.created_at %></td>
  <td>
    <% if mail_log.statut %>
      <span class="text-success">OK</span>
    <% else %>
      <span class="text-error">KO</span>
    <% end %>
  </td>
  <td>
    <% if mail_log.opened && mail_log.statut %>
      <span class="text-info">OUVERT</span>
    <% end %>
  </td>
  <td><%= link_to 'Voir', mail_log, class: 'text-primary hover:underline' %></td>
</tr>