<p class="mb-4">
  <strong>Il y a :</strong>
  <%= time_ago_in_words @mail_log.created_at %>
</p>

<p class="mb-4">
  <strong>Destinataire :</strong>
  <%= @mail_log.to %>
</p>

<p class="mb-4">
  <strong>Sujet :</strong>
  <%= @mail_log.subject %>
</p>

<p class="mb-4">
  <strong>Date :</strong>
  <%= l @mail_log.created_at %>
</p>

<p class="mb-4">
  <strong>ID du message :</strong>
  <%= @mail_log.message_id %>
</p>

<p class="mb-4">
  <strong>Statut :</strong>
  <% if @mail_log.statut %>
    <span class="text-success">OK</span>
  <% else %>
    <span class="text-error break-words!"><%= JSON.pretty_generate(@mail_log.error_message) %></span>
  <% end %>
</p>

<p class="mb-4">
  <strong>État :</strong>
  <% if @mail_log.etat %>
    <span class="text-info">OUVERT</span>
  <% end %>
</p>

<%= link_to 'Retour', mail_logs_path, class: 'text-primary hover:underline' %>
