<nav class="navbar mb-4 pr-0 sticky top-0 z-50 shadow <%= ENV["STAGING_COLOR_MODE"].present? ? ENV["STAGING_COLOR_MODE"] : 'bg-base-100' %>">
  <div class="navbar-start">
    <%= link_to root_path do %>
      <%= image_tag("1200px-Logo_iae.png", width: 175, alt: 'logo IAE') %>
    <% end %>
  </div>
  <div class="navbar-end">
    <% if user_signed_in? %> 
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content z-[1] p-0 shadow bg-slate-100 rounded-box w-screen">
          <% if current_user.étudiant? %>
            <%= navbar_nav_item('Ma journée', 'today', mes_sessions_etudiant_path, 'cours', 'mes_sessions_etudiant', nil, 'py-2') %>
            <%= navbar_nav_item('Planning', 'calendar_month', cours_path, 'cours', nil, 'mes_sessions_etudiant', 'py-2') %>
          <% elsif current_user.intervenant? || current_user.enseignant? %>
            <%= navbar_nav_item('Ma journée', 'today', mes_sessions_intervenant_path, 'cours', 'mes_sessions_intervenant', nil, 'py-2') %>
            <%= navbar_nav_item('Planning', 'calendar_month', cours_path, 'cours', nil, 'mes_sessions_intervenant', 'py-2') %>
          <% else %>
            <%= navbar_nav_item('Planning', 'calendar_month', cours_path, 'cours', nil, nil, 'py-2') %>
          <% end %>
          <% unless current_user.étudiant? %>
            <%= navbar_nav_item('Salles', 'meeting_room', occupation_salles_path, 'salles', nil, nil, 'py-2') %>
          <% end %>
          <% if current_user.intervenant? && !current_user.partenaire_qse? %>
            <%= navbar_nav_item('Sujets d\'examens', 'docs', sujets_intervenant_path(Intervenant.find_by(id: @intervenant_user_id)), 'intervenants', 'sujets', nil, 'py-2') %>
          <% end %>
          <% if current_user.partenaire_qse? %>
            <%= navbar_nav_item('Sujets d\'examens', 'docs', sujets_path(), 'sujets', nil, nil, 'py-2') %>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, 'data-turbo-method': :delete, title: "Fermer la session de #{current_user.email}", class: 'flex items-center gap-1 text-base-content py-2' do %>
              <span class="material-symbols-outlined text-xl mb-0.5">
                logout
              </span>
              Déconnexion
            <% end %> 
          </li>
        </ul>
      </div>
    <% else %>
      <ul class="mr-4">
        <%= navbar_nav_item('Se connecter', 'login', new_user_session_path, nil, nil) %>
      </ul>
    <% end %>
  </div>
</nav>