<nav class="navbar sticky top-0 z-50 shadow <%= ENV["STAGING_COLOR_MODE"].present? ? ENV["STAGING_COLOR_MODE"] : 'bg-base-100' %>">
  <div class="flex-1">
    <a href="/" aria-label="logo" class="mr-3">
      <%= image_tag("1200px-Logo_iae.png", width: 175, alt: 'logo IAE') %>
    </a>
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
        <% if current_user.étudiant? %>
          <%= navbar_nav_item('ma journée', 'calendar-day', mes_sessions_etudiant_path, nil, 'mes_sessions_etudiant') %>
          <%= navbar_nav_item('cours', 'calendar-alt', cours_path, 'Planning', 'index') %>
        <% elsif current_user.intervenant? || current_user.enseignant? %>
          <%= navbar_nav_item('ma journée', 'calendar-day', mes_sessions_intervenant_path, nil, 'mes_sessions_intervenant') %>
          <%= navbar_nav_item('cours', 'calendar-alt', cours_path, 'Planning', 'index') %>
        <% else %>
          <%= navbar_nav_item('cours', 'calendar-alt', cours_path, 'Planning') %>
        <% end %>
        <% unless current_user.étudiant? %>
          <%= navbar_nav_item('salles', 'chalkboard', occupation_salles_path) %>
        <% end %>
        <% if policy(current_user).left_navbar? %>
          <%= navbar_nav_item('formations', 'briefcase', formations_path) %>
          <%= navbar_nav_item('intervenants', 'chalkboard-teacher', intervenants_path) %>
          <%= navbar_nav_item('etudiants', 'graduation-cap', etudiants_path) %>
        <% end %>
        
        <% if current_user.rh? %>
          <%= navbar_nav_item('dossiers', 'folder', dossiers_path) %>
        <% end %>

        <% if policy(:tool).audit_cours? %>
          <li class="nav-item">
            <% is_active = params[:action] == 'audit_cours' %>
            <%= link_to tools_audit_cours_path, class: "nav-link text-#{ is_active ? 'primary' : 'base-content' }" do %>
              <%= fa_icon 'calendar-check' %>
              À booker
              <% aplanifier = CoursNonPlanifie.count %>
              <% if aplanifier > 0 %>
                <span class="badge badge-error text-white"><%= aplanifier %></span>
              <% end %>
            <% end %>
          </li>  
        <% end %>

      <% end %>
    </ul>
  </div>

  <div>
    <ul class="menu menu-horizontal items-center px-1">
      <% if user_signed_in? %>
        <li class="mr-12">
          <%= current_user.username %>
          <% if current_page? root_path %>
            <br>
            <%= current_user.current_sign_in_at_with_ip %>
          <% end %>
        </li>
        <% if policy(current_user).right_navbar? %>
          <%= navbar_nav_item('', 'wrench', tools_index_path) %>
          <%= navbar_nav_item('', 'search-plus', tools_rechercher_path) %>
          <%= navbar_nav_item('', 'info-circle', guide_index_path) %>
        <% end %>

        <li>
          <%= link_to destroy_user_session_path, 'data-turbo-method': :delete, title: "Fermer la session de #{current_user.email}", class: 'p-1.5' do %>
            <span class="text-base-content">
              <i class="fas fa-fw fa-sign-out-alt"></i>
              Déconnexion
            </span>
          <% end %> 
        </li>

      <% else %>
        <%= navbar_nav_item('Se connecter', 'sign-in-alt', new_user_session_path) %>
      <% end %>
    </ul>
  </div>
</nav>