<div class="border-b mt-6 mb-2 pb-4">
  <% if policy(Ouverture).new? %>
    <%= link_to new_ouverture_path, class: 'text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Ouverture
    <% end %>
  <% end %>
  <h3 class="text-2xl">
    <%= fa_icon 'business-time' %>
    Horaires d'ouverture
  </h3>
</div>

<div class="overflow-x-auto">
  <table class="table table-xs table-zebra">
    <thead>
      <tr>
        <th>Bloc</th>
        <th>Jour</th>
        <th>Début</th>
        <th>Fin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ouvertures.each do |ouverture| %>
        <tr class="hover">
          <td><b><%= ouverture.bloc %></b></td>
          <td><%= ouverture.jour.humanize %></td>
          <td><%= ouverture.début.strftime("%Hh%M") %></td>
          <td><%= ouverture.fin.strftime("%Hh%M") %></td>
          <td>
            <%= link_to edit_ouverture_path(ouverture), class: 'btn btn-xs btn-ghost' do %>
              <%= fa_icon 'edit' %>
            <% end %>
            <%= link_to(ouverture, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?', class: 'btn btn-xs btn-ghost') do %>
              <%= fa_icon 'trash' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
