<p class="my-4">
  <strong>Bloc:</strong>
  <%= @ouverture.bloc %>
</p>

<p class="mb-4">
  <strong>Jour:</strong>
  <%= @ouverture.jour %>
</p>

<p class="mb-4">
  <strong>Début:</strong>
  <%= l @ouverture.début %>
</p>

<p class="mb-4">
  <strong>Fin:</strong>
  <%= l @ouverture.fin %>
</p>

<%= link_to 'Voir', edit_ouverture_path(@ouverture), class: 'text-primary hover:underline' %> |
<%= link_to 'Retour', ouvertures_path, class: 'text-primary hover:underline' %>
