<p class="mb-4">
  <strong>Bloc:</strong>
  <%= @ouverture.bloc %>
</p>

<p class="mb-4">
  <strong>Jour:</strong>
  <%= @ouverture.jour %>
</p>

<p class="mb-4">
  <strong>Début:</strong>
  <%= @ouverture.début %>
</p>

<p class="mb-4">
  <strong>Fin:</strong>
  <%= @ouverture.fin %>
</p>

<%= link_to 'Voir', edit_ouverture_path(@ouverture) %> |
<%= link_to 'Retour', ouvertures_path %>
