<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  <%= "Une nouvelle commande vient d'arriver pour le <b>#{l @cour.debut, format: :long}</b>, demandé par #{@cour.own_and_associated_audits.first.user.try(:nom_et_prénom)}.".html_safe %>
  <br><br>

  <%= simple_format @cour.options.commande.first.description %>
  <% if @cour.salle %>
    Salle : <%= @cour.salle.nom %>
    <br><br>
  <% end %>
  <%= @cour.formation.nom %>
  <br>
  <%= @cour.intervenant.nom_prenom %>

  <br><br>
  Commande faite par : <%= @cour.audits.last.user.try(:nom_et_prénom) %>

  <br><br>
  <%= link_to "Voir toutes les commandes", tools_commandes_url %>
</p>

