<p style="margin-bottom: 0.5rem">
  Bonjour,
  <br><br>
  Il y a <%= @cours.count %> commmande(s) prévue(s) pour dans 7 jours
  <br><br>
  <% @cours.each do |cour| %>
    <b><%= l cour.debut, format: :long %></b>
    <br>
    <%= simple_format cour.options.commande.first.description %>
    <% if cour.salle %>
      Salle : <%= cour.salle.nom %>
      <br>
    <% end %>
    <br>
    <%= cour.formation.nom %>
    <br>
    <%= cour.intervenant.nom_prenom %>
    <br><br><br>
  <% end %>

  <br><br>
  <%= link_to "Voir toutes les commandes", tools_commandes_url %>
</p>

