<%= bootstrap_form_for(@user) do |f| %>
  
  <div class="form-group">
    <div class="row">
      <div class="col-sm-4">
        <%= f.text_field :nom %>
        <%= f.text_field :prénom %>
        <%= f.text_field :email %>
        <%= f.text_field :mobile %>
        <%= f.select :role, options_for_select(User.roles.keys, @user.role), label: "Rôle" %>

        <% if @user.new_record? %>
          <%= f.password_field :password %>
          <%= f.password_field :password_confirmation %>
        <% end %>
        
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
