<div class="border-b mt-6 mb-2 pb-4">
    <div class="float-right">
        <%= link_to user_path(current_user), class: 'btn btn-ghost' do %>
            <%= fa_icon 'list-alt', text: ' Retour' %>
        <% end %>
    </div>
	<h1 class="text-3xl"><%= fa_icon 'key' %> Activation de la double authentification par mail</h1>
</div>

<div>
    <p class="text-xl my-8">Nous venons de vous envoyer le code. Vérifiez votre boîte mail.</p>
    <p>Code de vérification obtenu</p>
    <%= form_with url: enable_otp_users_path, method: :post, class: "flex flex-col w-min gap-4" do |f| %>
        <%= f.text_field :otp_attempt, class: 'input input-bordered input-sm mb-2', required: true, autofocus: true %>
        <%= hidden_field_tag :method, "email" %>
        <div class="flex flex-wrap mb-12 mt-4 gap-4">
            <%= f.submit "Activer la double authentification", class: "btn btn-success btn-outline hover:!text-white mt-2" %>
            <%= link_to 'Annuler', request.referrer, class:"btn btn-light" %>
        </div>
    <% end %>
</div>
