<div class="pb-2 mt-4 mb-2 border-bottom">

	<% if current_user.try(:admin?) %>	
		<div class="buttons-group float-end">
			<%= link_to edit_user_path(@user), class: 'btn btn-default' do %>
				<%= fa_icon 'edit', text: ' Modifier' %>
			<% end %>

			<a href="#audit" data-bs-toggle="collapse" class='btn btn-default'>
				<%= fa_icon 'search', text: ' Audit' %>
			</a>

			<%= link_to users_path, class: 'btn btn-default' do %>
				<%= fa_icon 'list-alt', text: ' Retour' %>
			<% end %>
		</div>

	<% end %>

	<h3><%= fa_icon 'user' %> <%= @user.email %></h3>
</div>
<br>

<p>
	<strong>Nom:</strong>
	<%= @user.nom %>
</p>
<p>
	<strong>Prénom:</strong>
	<%= @user.prénom %>
</p>
<p>
	<strong>Mobile:</strong>
	<%= @user.mobile %>
</p>
<p>
	<strong>Rôle:</strong>
	<%= @user.role.humanize %>
</p>
<br>

<p>
	Compte créé le: 
	le <%= l(@user.created_at) %> 
	| Il y a <%= time_ago_in_words(@user.created_at) %>
</p>

<% unless @user.sign_in_count.zero? %>
	<p>
		Connexion actuelle: 
		le <%= l(@user.current_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
	</p>
	<p>
		Dernière connexion: 
		le <%= l(@user.last_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
	</p>
	<p>
		Nbr connexions: <%= @user.sign_in_count %> 
	</p>
<% end %>
<br>

<div id="audit" class="collapse">
  <% if current_user.admin? %>
    <h3>Audit des modifications</h3>
	<table class="table table-bordered table-hover table-condensed">
		<thead>
			<th>Date</th>
			<th>Utilisateur</th>            
			<th>Type</th>
			<th>Record_id</th>
			<th>Action</th>
			<th>Modifications</th>
		</thead>
		<%= render partial: 'tools/audit', collection: @user.audits %>
	</table>
  <% end %>
</div> 
