<div class="border-b mt-6 mb-2 pb-4">

	<% if current_user.try(:admin?) %>	
		<div class="buttons-group float-right">
			<%= link_to edit_user_path(@user), class: 'btn btn-ghost' do %>
				<%= fa_icon 'edit', text: ' Modifier' %>
			<% end %>

			<%= link_to users_path, class: 'btn btn-ghost' do %>
				<%= fa_icon 'list-alt', text: ' Retour' %>
			<% end %>
		</div>

	<% end %>

	<h3 class="text-2xl"><%= fa_icon 'user' %> <%= @user.email %></h3>
</div>
<br>

<p class="mb-4">
	<strong>Nom:</strong>
	<%= @user.nom %>
</p>
<p class="mb-4">
	<strong>Prénom:</strong>
	<%= @user.prénom %>
</p>
<p class="mb-4">
	<strong>Mobile:</strong>
	<%= @user.mobile %>
</p>
<p class="mb-4">
	<strong>Rôle:</strong>
	<%= @user.role.humanize %>
</p>
<p class="mb-4">
	<strong>Email:</strong>
	<%= @user.email %>
</p>
<br>

<p class="mb-4">
	Compte créé : 
	le <%= l(@user.created_at) %> 
	| Il y a <%= time_ago_in_words(@user.created_at) %>
</p>

<% if @user.discarded_at %>
	<p class="mb-4 font-bold">
		Compte désactivé : 
		le <%= l(@user.discarded_at) %> 
		| Il y a <%= time_ago_in_words(@user.discarded_at) %>
		| Vous pouvez réactiver ce compte en cliquant <%= link_to "ici", reactivate_user_path(@user), class: 'text-primary hover:underline' %>.
	</p>
<% end %>

<br>

<% unless @user.sign_in_count.zero? %>
	<p class="mb-4">
		Connexion actuelle: 
		le <%= l(@user.current_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
	</p>
	<p class="mb-4">
		Dernière connexion: 
		le <%= l(@user.last_sign_in_at) %> 
		| Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
	</p>
	<p class="mb-4">
		Nbr connexions: <%= @user.sign_in_count %> 
	</p>
<% end %>
<br>

<% if current_user.admin? %>
	<div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100">
		<div class="collapse-title text-secondary">
			Audit des modifications
		</div>
		<div class="overflow-x-auto collapse-content bg-base-100"> 
			<table class="table table-xs">
				<thead class="bg-base-200 border">
					<th>Date</th>
					<th>Utilisateur</th>
					<th>Type</th>
					<th>Record_id</th>
					<th>Action</th>
					<th>Modifications</th>
				</thead>
				<%= render partial: 'tools/audit', collection: @user.audits.reorder(id: :desc) %>
			</table>
		</div>
	</div>
<% end %>
