<div class="flex flex-col justify-center items-center mb-12">
  <% unless request.variant.include?(:phone) %>
    <%= image_tag "Aikku_logo.png", style: "width: 100%; max-width: 500px;" %>
  <% end %>
  <div class="w-full" style="max-width: 500px">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <h1 class="text-4xl text-center border-b mb-4 pb-4">
    <%= t('.change_your_password') %>
  </h1>
  
  <%= render "devise/shared/error_messages", resource: resource %> 
  
  <div class="flex flex-wrap">
    <div class="relative flex-grow max-w-full flex-1">
      <%= f.hidden_field :reset_password_token %>

      <div class="form-control">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "input input-bordered input-sm w-full", required: true %>
      </div>

      <div class="form-control my-4">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "input input-bordered input-sm w-full", required: true %>
      </div>

      <%= f.submit t('.change_my_password'), class: "btn btn-primary text-white", 'data-turbo': false %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
