<div class="d-flex flex-column vh-100 justify-content-center align-items-center">
  <%= image_tag "logo@2000.png", style: "width: 100%; max-width: 500px;" %>
  <div class="border border-dark rounded shadow w-100 p-5" style="max-width: 500px">
    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h1 class="text-center border-bottom mb-3 pb-3">
        <%= t('.forgot_your_password') %>
      </h1>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.email_field :email, autofocus: true  %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Envoyez-moi les instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>