<div id="<%= dom_id dossier_etudiant %>">
  <div class="flex flex-col items-start w-full">
    <div class="flex w-full">
      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Nom :</strong>
        <%= dossier_etudiant.nom.upcase %>
      </p>

      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Prénom :</strong>
        <%= dossier_etudiant.prénom %>
      </p>
      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Formation souhaitée :</strong>
        <%= dossier_etudiant.formation %>
      </p>
    </div>

    <div class="flex w-full">
      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Nom :</strong>
        <span class="badge <%= dossier_etudiant.style %> text-white">
          <%= dossier_etudiant.workflow_state.humanize %>
        </span>
      </p>

      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Email :</strong>
        <%= dossier_etudiant.email %>
      </p>

      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Adresse :</strong>
        <%= dossier_etudiant.adresse %>
      </p>
    </div>

    <div class="flex justify-between w-full">
      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Téléphone fixe :</strong>
        <%= dossier_etudiant.téléphone_fixe %>
      </p>

      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Téléphone mobile :</strong>
        <%= dossier_etudiant.téléphone_mobile %>
      </p>

      <p class="flex-1 my-5">
        <strong class="block font-medium mb-1">Mode de paiement :</strong>
        <%= dossier_etudiant.mode_payement %>
      </p>
    </div>

    <div class="flex justify-around w-full">
      <% if @dossier_etudiant.certification.previewable? %>
        <p class="my-5">
          <strong class="block font-medium mb-1">Certification :</strong>
          <%= link_to image_tag(@dossier_etudiant.certification.preview(resize_to_limit: [250, 250]), class: 'max-w-none shadow-xl'), @dossier_etudiant.certification %>
        </p>
      <% end %>
      <% if @dossier_etudiant.pièce_identité.previewable? %>
        <p class="my-5">
          <strong class="block font-medium mb-1">Pièce d'identité :</strong>
          <%= link_to image_tag(@dossier_etudiant.pièce_identité.preview(resize_to_limit: [250, 250]), class: 'max-w-none shadow-xl'), @dossier_etudiant.pièce_identité %>
        </p>
      <% end %>
    </div>
  </div>

  <% if action_name != "show" %>
    <div class="mt-4">
      <%= link_to "Voir", dossier_etudiant, class: "btn" %>
      <%= link_to "Modifier", edit_dossier_etudiant_path(dossier_etudiant), class: "btn btn-primary btn-outline" %>
    </div>
    <hr class="mt-6">
  <% end %>
</div>
