<%= form_with(model: dossier_etudiant, class: "contents") do |form| %>
  <% if dossier_etudiant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dossier_etudiant.errors.count, "error") %> empêche le dossier d'inscription d'être enregistré :</h2>

      <ul>
        <% dossier_etudiant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nom %>
    <%= form.text_field :nom, class: "input input-bordered input-sm w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :prénom %>
    <%= form.text_field :prénom, class: "input input-bordered input-sm w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :certification, "Certificat Baccalauréat :" %>
    <%= form.file_field :certification, required: true, label: 'Fichier PDF', accept: 'application/pdf', class: 'file-input file-input-bordered file-input-sm file-input-success' %>
  </div>

  <div class="my-5">
    <%= form.label :mode_payement, 'Mode de payement : ' %>
    <%= form.select :mode_payement, options_for_select(['CB', 'Chèque', 'Paypal', 'Virement']), {}, class: "select select-bordered select-sm w-fit" %>
  </div>

  <% if !dossier_etudiant.new_record? && user_signed_in?  %>
    <div class="form-control mb-4">
      <%= form.label :workflow_state %>
      <%= form.select :workflow_state, DossierEtudiant.workflow_spec.states.keys.to_a, {}, class: 'select select-bordered select-sm w-fit' %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "btn btn-primary btn-outline hover:!text-white" %>
  </div>
<% end %>
