<%= form_with(model: dossier_etudiant, class: "contents") do |form| %>
  <% if dossier_etudiant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dossier_etudiant.errors.count, "error") %> empêche le dossier d'inscription d'être enregistré :</h2>

      <ul>
        <% dossier_etudiant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :etudiant_id %>
    <%= form.text_field :etudiant_id, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :mode_payement %>
    <%= form.text_field :mode_payement, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <% unless dossier_etudiant.new_record? %>
    <div class="form-control mb-4">
      <%= form.label :workflow_state %>
      <%= form.select :workflow_state, DossierEtudiant.workflow_spec.states.keys.to_a, {}, class: 'select select-bordered select-sm w-full' %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
