<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @dossier_etudiant %>

    <div class="flex gap-2 mt-4">
      <% if policy(@dossier_etudiant).edit? %>
        <%= link_to "Modifier", edit_dossier_etudiant_path(@dossier_etudiant), class: "btn btn-primary btn-outline" %>
      <% end %>
      <% if policy(@dossier_etudiant).destroy? %>
        <%= button_to "Supprimer", dossier_etudiant_path(@dossier_etudiant), method: :delete, class: "btn btn-ghost" %>
      <% end %>

      <%= link_to "Retour", user_signed_in? ? dossier_etudiants_path : root_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
