<div class="page-header">
  <h1>
    <span class="glyphicon glyphicon-inbox"></span>  
    Import logs
  </h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th />
        <th>Le</th>
        <th>Type</th>
        <th>Par</th>
        <th>Etat</th>
        <th>Message</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @import_logs) do |import_log| %>
        <td><i class="btn-lg <%= import_log.icon_etat %>"></i></td>
        <td><%= l(import_log.created_at.in_time_zone('Paris'), format: :short) %></td>
        <td><%= import_log.model_type %></td>
        <td><%= import_log.user.username if import_log.user %></td>
        <td><%= import_log.etat.humanize %></td>
        <td><%= import_log.message %></td>
        <td>
          <%= link_to import_log, class:"btn btn-default" do %>
            <i class="glyphicon glyphicon-zoom-in"></i>
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
