<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to import_logs_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
  </div>
  
  <h1>
    <span class="glyphicon glyphicon-inbox"></span>
    Import log #<%= @import_log.id %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Le:</dt>
  <dd><%= @import_log.created_at.in_time_zone('Paris') %></dd>

  <dt>Type:</dt>
  <dd><%= @import_log.model_type %></dd>

  <dt>Par:</dt>
  <dd><%= @import_log.user.username if @import_log.user %></dd>
  <br>

  <dt>Etat:</dt>
  <dd>
    <span class="<%= @import_log.icon_etat %>"></span>
    <%= @import_log.etat.humanize %>
  </dd>

  <dt>Nbr lignes à importer:</dt>
  <dd><%= link_to @import_log.nbr_lignes, import_log_path(@import_log) %></dd>

  <% if @import_log.etat == "warning" %>
    <dt>Lignes rejetées:</dt>
    <dd>
      <%= link_to @import_log.nbr_lignes - @import_log.lignes_importees, import_log_path(@import_log, filter: true) %> 
    </dd>
  <% end %>

  <dt>Total lignes importées:</dt>
  <dd><%= @import_log.lignes_importees %></dd>
  <br>

  <dt>Message:</dt>
  <dd><%= @import_log.message %></dd>

  <dt>Fichier:</dt>
  <dd>
      <%= @import_log.fichier %> |
      <%= link_to "Télécharger", download_imported_file_import_log_path(@import_log) %>
  </dd>
</dl>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Ligne</th>
        <th>Etat</th>
        <th>Message</th>
        <th>Erreur</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @import_log_lines) do |import_log_line| %>
        <td><%= import_log_line.num_ligne %></td>
        <td><span class="<%= import_log_line.icon_etat %>"></span></td>
        <td><%= import_log_line.pretiffy_message.first %></td>
        <td><%= import_log_line.pretiffy_message.last %></td>
      <% end %>
    </tbody>
  </table>
</div>
