<div class="border-b mt-6 mb-2 pb-4">
  <h3 class="text-2xl"><%= fa_icon 'inbox' %> Import log #<%= @import_log.id %></h3>
</div>

<dl class="flex flex-wrap">
  <div class="relative flex-grow max-w-full flex-1">
    <strong>Le</strong>
    <p class="mb-4"><%= l(@import_log.created_at.in_time_zone('Paris')) %></p>

    <strong>Type</strong>
    <p class="mb-4"><%= @import_log.model_type %></p>

    <strong>Par</strong>
    <p class="mb-4"><%= @import_log.user.username if @import_log.user %></p>

    <strong>Fichier</strong>
    <p class="mb-4">
        <%= @import_log.fichier %> |
        <%= link_to "Télécharger", download_imported_file_import_log_path(@import_log), class: 'link' %>
    </p>

  </div>

  <div class="relative flex-grow max-w-full flex-1">
    <strong>Etat</strong>
    <p class="mb-4">
      <%= fa_icon @import_log.icon_etat, class: @import_log.icon_color %>
      <%= @import_log.etat.humanize %>
    </p>

    <div class="flex flex-wrap">
      <div class="relative flex-grow max-w-full flex-1">
        <strong>Nbr lignes à importer</strong>
        <p class="mb-4"><%= link_to @import_log.nbr_lignes, import_log_path(@import_log), class: 'link' %></p>
      </div>

      <div class="relative flex-grow max-w-full flex-1">
        <% if @import_log.etat == "warning" %>
          <strong>Rejetées</strong>
          <p class="mb-4">
            <%= link_to @import_log.nbr_lignes - @import_log.lignes_importees, import_log_path(@import_log, filter: true), class: 'link' %> 
          </p>
        <% end %>
      </div>

      <div class="relative flex-grow max-w-full flex-1">
        <strong>Importées</strong>
        <p class="mb-4"><%= @import_log.lignes_importees %></p>
      </div>
    </div>

    <strong>Message</strong>
    <p class="<%= @import_log.icon_color %> mb-4"><%= @import_log.message %></p>
</dl>

<div class="overflow-x-auto">
  <table class="table table-zebra table-sm">
    <thead>
      <tr>
        <th>Ligne</th>
        <th>Etat</th>
        <th>Message</th>
        <th>Erreur</th>
      </tr>
    </thead>

    <tbody>
      <% @import_log_lines.each do |import_log_line| %>
        <tr class="hover">
          <td><%= import_log_line.num_ligne %></td>
          <td><%= fa_icon import_log_line.icon_etat, class: import_log_line.icon_color %></td>
          <td><%= import_log_line.pretiffy_message.first %></td>
          <td><%= import_log_line.pretiffy_message.last %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
