<%= form_for(@agent) do |f| %>
  <% if @agent.errors.any? %>
    <div class="alert alert-error" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3><%= t('activerecord.errors.template.header',
                  model: Agent.model_name.human, count: @agent.errors.count) %></h3>
      <ul>
      <% @agent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-4">
    <div class="form-control">
      <%= f.label :nom, 'Nom *' %>
      <%= f.text_field :nom, class: 'input input-primary w-full', required: true %>
    </div>
    <div class="form-control">
      <%= f.label :prénom, 'Prénom *' %>
      <%= f.text_field :prénom, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="form-control">
      <%= f.label :Catégorie, 'Catégorie *' %>
      <%= f.select :catégorie,
        options_for_select(%w{A B C}, @agent.catégorie),
        {},
        class: 'select select-bordered w-full',
        required: true %>
    </div>

    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
