<%= form_for(@agent) do |f| %>
  <%= render partial: 'partials/errors', locals: { record: @agent } %>

  <div class="flex flex-col gap-4">
    <div class="form-control">
      <%= f.label :nom, 'Nom *' %>
      <%= f.text_field :nom, class: 'input input-primary w-full', required: true %>
    </div>
    <div class="form-control">
      <%= f.label :prénom, 'Prénom *' %>
      <%= f.text_field :prénom, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="form-control">
      <%= f.label :Catégorie, 'Catégorie *' %>
      <%= f.select :catégorie,
        options_for_select(%w{A B C}, @agent.catégorie),
        {},
        class: 'select select-bordered w-full',
        required: true %>
    </div>

    <%= f.submit class: "btn btn-primary text-white" %>
  </div>
<% end %>
