<div class="pb-2 mt-6 mb-2 border-b">
  <% if policy(Agent).new? %>
    <%= link_to new_agent_path, class: 'text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Agent
    <% end %>
  <% end %>
  <h3><%= fa_icon 'user-secret' %> Agents</h3>
</div>

<% if @agents.any? %>
  <div class="overflow-x-auto">
    <table class="table table-zebra table-bordered">
      <thead>
        <tr>
          <th><%= sort_link 'agents.nom', 'Nom' %></th>
          <th><%= sort_link 'agents.prénom', 'Prénom' %></th>
          <th><%= sort_link 'agents.catégorie', 'Catégorie' %></th>
          <th><%= sort_link 'agents.created_at', 'Créé le' %></th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th colspan=5></th>
        </tr>
      </tfoot>

      <tbody>
        <%= render @agents %>
      </tbody>

    </table>

    <div class="page_info">
      <%= page_entries_info @agents %>
    </div>

    <div class="planning_pagination">
      <%= will_paginate @agents %>
    </div>

  </div>
<% end %>