<p class="mb-4">
  <strong>Nom :</strong>
  <%= @agent.nom %>
</p>

<p class="mb-4">
  <strong>Prénom :</strong>
  <%= @agent.prénom %>
</p>

<p class="mb-4">
  <strong>Catégorie :</strong>
  <%= @agent.catégorie %>
</p>

<%= link_to 'Modifier', edit_agent_path(@agent), class: 'text-primary hover:underline' %> |
<%= link_to 'Retour', agents_path, class: 'text-primary hover:underline' %>
