<section id="mention_légales_content">
  <h1 class="text-4xl my-12">
    MENTIONS LÉGALES
  </h1>
  <h2 class="text-xl font-bold mb-6">
    1. Éditeur du site
  </h2>
  <p class="mb-6">
    <strong>IAE Paris-Sorbonne Business School</strong>
    <br><br>
    
    8 bis, rue de la Croix Jarry - 75 644 Paris cedex 13
    <br>
    Tél. 01 44 08 11 60
    <br>

    Siret : 197 500 028 00034 - APE : 8542Z 
    <br>
    Directeur de la publication : Éric LAMARQUE, Directeur de l’IAE Paris-Sorbonne
    <br>
    Contact : <%= link_to "iae-paris.com/nous-contacter", "https://www.iae-paris.com/fr/nous-contacter0", class: 'text-primary hover:underline' %>
  </p>

    <h2 class="text-xl font-black mt-8 mb-4">
      2. Conception et développement
    </h2>
    <p class="mb-6">
    <%= link_to 'https://www.aikku.eu/' do %>
      <%= image_tag 'logo_aikku.png', size: 200 %>
    <% end %>

    <b>AÏKKU (SAS)</b>
    <br><br>

    Siège social :
    <br><br>
    Tour Ariane - La Défense 
    <br>
    5, Place de la Pyramide
    <br>
    92800 PUTEAUX
    <br>
    FRANCE
    <br><br>

    SIREN : 934 780 735 R.C.S. Nanterre
    <br><br>
    
    Contact : <%= mail_to "contact@aikku.eu", class:"link" %> ou 
    <%= link_to "envoyer un message via notre formulaire de contact", "https://www.aikku.eu/fr/contact?objet=Aikku%20PLANN", class:'hover:underline' %>

    <br><br>
    Directeur de la publication : Philippe Nougaillon

    <br><br>
    Création d'AIKKU Plann en 2017
    <br>
    AIKKU Plann a été conçu et développé par nous-même en Ruby on Rails, est édité sous licence Open Source (GLP GNU v3).
  </p>

  <h2 class="text-xl font-bold mb-6">
    3. Hébergement
  </h2>
  <p class="mb-6">
    <strong>Heroku Inc</strong>
    <br>
    1 Market St. Suite 300
    <br>
    San Francisco
    <br>
    CA 94105 USA.
    <br>
    Contact : <%= link_to "heroku.com/contact", "https://www.heroku.com/contact", target: '_blank', class: 'text-primary hover:underline' %>
  </p>
</section>