<section id="mention_légales_content">
  <h1 class="text-4xl my-12">
    MENTIONS LÉGALES
  </h1>
  <h2 class="text-xl font-bold mb-6">
    1. Éditeur du site, conception et développement
  </h2>

  <p>
    Directeur de la publication : Philippe Nougaillon<br>
    <br>

    Siège social :
    <br><br>
    AIKKU SAS
    <br>
    Tour CB21/LA DÉFENSE 
    <br>
    16 PLACE DE L'IRIS
    <br>
    92400 COURBEVOIE
    <br>
    FRANCE
    <br><br>

    SIRET : 384 396 719 00047
    <br><br>
    
    Contact : <%= mail_to "contact@aikku.eu", class:"link" %>
  </p>

    <h2 class="text-xl font-black mt-8 mb-4">
      2. Conception et développement
    </h2>
    <p class="mb-6">
    <%= link_to 'https://www.aikku.eu/' do %>
      <%= image_tag 'logo_aikku.png', size: 200 %>
    <% end %>

    <b>AÏKKU (SAS)</b>
    <br><br>

    Siège social :
    <br><br>
    Tour Ariane - La Défense 
    <br>
    5, Place de la Pyramide
    <br>
    92800 PUTEAUX
    <br>
    FRANCE
    <br><br>

    SIREN : 934 780 735 R.C.S. Nanterre
    <br><br>
    
    Contact : <%= mail_to "contact@aikku.eu", class:"link" %> ou 
    <%= link_to "envoyer un message via notre formulaire de contact", "https://www.aikku.eu/fr/contact?objet=Aikku%20PLANN", class:'hover:underline' %>

    <br><br>
    Directeur de la publication : Philippe Nougaillon

    <br><br>
    Création d'AIKKU Plann en 2017
    <br>
    AIKKU Plann a été conçu et développé par nous-même en Ruby on Rails, est édité sous licence Open Source (GLP GNU v3).
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    3. Hébergement
  </h2>
  <p class="mb-4">
    <strong>GANDI SAS</strong>
    <br>
    63-65 boulevard Masséna
    <br>
    75013 Paris
    <br>
    FRANCE
    <br><br>
    Contact : <%= link_to "gandi.net", "https://www.gandi.net/fr", target: '_blank', class:'link' %>
  </p>

  <h2 class="text-xl font-black mt-8 mb-4">
    2024 © AIKKU SAS - Tous droits réservés
  </h2>

</section>