<h1 class="text-dark">Session</h1>

<%= render partial: 'ma_session', locals: {cour: @cour} %>

<h2 class="text-dark">Signature présence</h2>
<h4 class="text-dark"><%= current_user.nom_et_prénom %></h4>
<p>Le <%= l DateTime.now, format: :long %></p>

<%= form_with(model: @presence, url: signature_do_path) do |form| %>

  <%= form.hidden_field :cour_id %>
  <%= form.hidden_field :user_id %>
  <%= form.hidden_field :code_ue %>
  <%= form.hidden_field :role %>

  <%= form.text_field :signature, style: 'display: none' %>

  <div id="signature">
    <div class="wrapper">
      <canvas id="signature-pad" class="signature-pad" style="border: 1px #ccc solid;" width=350 height=300></canvas>
    </div>

    <div style="margin-top: 8px;">
      <button id="save" class="btn btn-success mr-3">Enregistrer</button>
      <a id="clear">Effacer</a>
    </div>
  </div>
<% end %>


<%= link_to 'Retour', current_user.étudiant? ? mes_sessions_path : mes_sessions_intervenant_path(Cour.find(params[:cour_id]).intervenant_id), class:'btn btn-light my-4' %>

<script>
  var signaturePad = new SignaturePad(document.getElementById('signature-pad'));
  var signatureField = document.getElementById('presence_signature');
  var saveButton = document.getElementById('save');
  var cancelButton = document.getElementById('clear');

  saveButton.addEventListener('click', function (event) {
    if (signaturePad.isEmpty()){
      event.preventDefault();
    } else {
      signatureField.setAttribute('value', signaturePad.toDataURL("image/svg+xml"));
    }
  });

  cancelButton.addEventListener('click', function (event) {
    signaturePad.clear();
  });
</script>