<tr class="hover">
  <td><b><%= document.nom %></b></td>
  <td>
    <% if document.fichier.attached? %>
    <%= link_to document.fichier.filename, url_for(document.fichier), target: '_blank' %>
    <% end %>
  </td>
  <td>
    <span class="badge <%= document.style %> text-white">
      <%= document.workflow_state.humanize %>
    </span>
    <% if document.non_conforme? %>
      <br>
      <b><%= "Motif: #{ document.commentaire }" %></b>
    <% end %>
  </td>
  <td><%= time_ago_in_words(document.created_at) %></td>
  <td class="text-right">
    <% if user_signed_in? && current_user.admin? && @dossier.can_déposer? %>
      <%= link_to '[X]', document, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?' %>
    <% end %>
  </td>
</tr>