<p style="margin-bottom: 0.5rem">
    Bonjour,
    <br><br>
    L'intervenant <%= @sujet.cour.intervenant_binome&.nom_prenom %> a déposé son sujet pour l'examen du <b><%= l(@sujet.cour.debut.to_date, format: :long) %> à <%= l @sujet.cour.debut, format: :heures_log %></b>.
    <br>
</p>

<p style="margin-bottom: 0.5rem">
    Vous pouvez accéder au sujet en
    <%= link_to 'cliquant ici', url_for(sujet_url(@sujet)) %>
    ou en copiant le lien suivant :
    <br><br>
    <%= url_for(sujet_url(@sujet)) %>
</p>

<p style="margin-bottom: 0.5rem">
    Bien cordialement,
    <br>
    IAE Paris
</p>