<h1 style="font-size: 2.25rem; line-height: 2.5rem;">Récapitulatif des cours réalisés du <%= @start_date %> au <%= @end_date %></h1>

<p style="margin-bottom: 0.5rem">
  <div style="overflow-x: auto">
    <table style="border: 1px solid lightgrey;" cellpadding=5 cellspacing=5>
      <thead>
        <tr style="text-align: left">
          <th>Date</th>
          <th>Durée</th>
          <th>Formation</th>
        </tr>
      </thead>
      <tbody>
        <% @cours.each do |c| %>
          <tr>
            <td><%= l(c.debut, format: :short) %></td>
            <td><%= c.duree.to_f %>h</td>
            <td><%= c.formation.nom %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td><%= "\n Total: #{@cours.count} cours, soit #{@cours.sum(:duree)} heure.s réalisée.s" %></td>
        <tr>
      </tfoot>
    </table>
  </div>
</p>

<p class="mb-4">Merci de vérifier ce récapitulatif et de nous signaler rapidement les omissions ou erreurs éventuelles.</p>