<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
  
    <body>
        <%= image_tag("logo_iae.png") %>
        <br />

        <div style="font-family: sans-serif;">

            <p>
                Bonjour,
                <br /><br />
                L'IAE Paris-Sorbonne a le plaisir de vous transmettre le récapitulatif de vos cours programmés du <%=l @debut %> au <%=l @fin %>
            </p>
            <br />

            <table style="border: 1px solid lightgrey;" cellpadding=5 cellspacing=5>
                <thead>
                    <tr>
                        <th  colspan=2>Date</th>
                        <th>Formation</th>
                        <th>Intitulé du cours</th>
                        <th>Salle</th>
                    </tr>
                </thead>
                <tbody>
                    <% @cours.each_with_index do | c, index | %>
                        <tr style="<%= index.even? ? 'background-color: #f2f2f2;' : nil %>" >
                            <td>
                                <b><%= I18n.l(c.debut.to_date, format: :day) %> <%= I18n.l(c.debut.to_date) %></b>
                            </td>
                            <td>
                                <b><%= I18n.l(c.debut, format: :heures_min) %></b>
                                - <%= I18n.l(c.fin, format: :heures_min) %>
                            </td>
                            <td><b><%= c.try(:formation).try(:nom) %></b></td>
                            <td><%= c.nom_ou_ue %></td>
                            <td><%= c.try(:salle).try(:nom) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>

            <p>
                <b>
                    Nous vous remercions de vérifier ce récapitulatif et de prendre contact 
                    avec votre gestionnaire de formation au plus vite en cas d'erreur/omission/modification.
                </b>
                <br>
            <p>

            <% if @gestionnaires.any? %>
                <table style="border: 1px solid lightgrey;" cellpadding=5 cellspacing=5>
                    <tbody>
                        <% @gestionnaires.each do | formation, email | %>
                            <% unless email.blank? %>
                                <tr>
                                    <td style="border: 1px solid lightgrey;"><%= formation %></td>
                                    <td><%= email %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
                <br />
            <% end %>

            <% unless @message.blank? %>
                <div style="padding: 15px; background-color: #f2f2f2;">
                    <%= @message %>
                </div>
                <br>
            <% end %>

            <p>
                 Bien cordialement,
                <br>

                IAE Paris
                <br>
            </p>

            <small>
                <%= link_to "plan d'accès au campus biopark".upcase!, image_path("Plan_d_acces_Campus_BioPark_-_IAE_Paris.pdf") %>
            </small>
            <br />

        </div>
    </body>
</html>