<p style="margin-bottom: 0.5rem;">
    Bonjour,
    <br><br>
    Depuis notre premier mail en date du <%= l(@first_relance.to_date, format: :long) %>, et malgré 5 relances, nous sommes toujours dans l'attente de votre sujet pour l'examen de votre UE <b><%= @ue %> (<%= @formation %>)</b> en date du <b style="font-size: 1.3em"><%= l(@debut.to_date, format: :long) %></b>.
    <br><br>
    <b>Sans réception de votre sujet sous 24h (<%= l(@jour_avant_debut, format: :long) %>)</b>, nous serons <b>dans l'obligation d'annuler votre examen</b>, d'en informer les étudiants et de le reprogrammer en fonction des créneaux disponibles dans le calendrier des regroupements du <%= @formation %>.
    Merci de déposer votre sujet <%= link_to 'ici', url_for(sujet_url(@sujet)) %>, en <b>format pdf avec la page de garde</b>, ou en copiant ce lien <%= url_for(sujet_url(@sujet)) %> dans votre navigateur.
</p>

<p style="margin-bottom: 0.5rem">
    Cordialement,
    <br>
    IAE Paris
</p>