<p style="margin-bottom: 0.5rem">
    Bonjour,
    <br><br>
    Comme indiqué dans notre précédent mail nous sommes toujours dans l'attente de votre sujet pour l'examen de votre UE#<%= @code_ue %> <b><%= @ue %> (<%= @formation %>)</b> en date du <b><%= l(@debut.to_date, format: :long) %></b>.
    <br>
    Nous vous rappellons que le sujet doit être déposé <%= link_to 'ici', url_for(sujet_url(@sujet)) %> ou en copiant ce lien <%= url_for(sujet_url(@sujet)) %> dans votre navigateur, en <b>format pdf avec la page de garde</b>.
    <br>
    Sans réception de votre sujet dans les 5 jours, les consignes par défaut (documents autorisés / ordinateur-téléphone-calculatrice interdits) seront transmises aux étudiants .
    <br><br>
    <% if @examens_count > 1 %>
        <b>Attention : <%= @examens_count %> examens sont liés à ce sujet mais le sujet n'est à déposer qu'une fois.</b>
    <% end %>
</p>

<p style="margin-bottom: 0.5rem">
    Bien cordialement,
    <br>
    Les gestionnaires en charge des examens (examens@iae.pantheonsorbonne.fr)
    <br>
    IAE Paris
</p>