<%= form_with(model: alert) do |f| %>
  <% if alert.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(alert.errors.count, "error") %> empêche cette alerte d'être enregistré :</h2>

      <ul>
        <% alert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h5 class="mb-6">
    <span class="text-warning font-light">Attention, sur le serveur il est actuellement <%= l(Time.now.utc, format: "%Hh%M") %></span>
  </h5>

  <div class="flex flex-col gap-4">
    <div class="form-control">
      <%= f.label :debut, "Début d'affichage *" %>
      <%= f.text_field :debut, 
                              value: @alert.debut.strftime("%Y-%m-%dT%H:%M"), 
                              type: "datetime-local", 
                              class: 'input input-bordered input-sm w-full',
                              required: true %>
    </div>

    <div class="form-control">
      <%= f.label :fin, "Fin d'affichage *" %>
      <%= f.text_field :fin, 
                              value: @alert.fin.strftime("%Y-%m-%dT%H:%M"), 
                              type: "datetime-local", 
                              class: 'input input-bordered input-sm w-full',
                              required: true %>
    </div>

    <div class="form-control">
      <%= f.label :message, "Message *" %>
      <%= f.text_field :message, required: true, class: 'input input-bordered input-sm w-full' %>
    </div>

    <div class="form-control">
      <%= f.label :etat, "État" %>
      <%= f.select :etat, Alert.etats.keys.to_a, {}, class: 'select select-bordered select-sm w-full' %>
    </div>

    <%= f.submit class: "btn btn-primary text-white" %>
  </div>
<% end %>
