<p class="my-4">
  <strong>Début d'affichage :</strong>
  <%= l @alert.debut %>
</p>

<p class="mb-4">
  <strong>Fin d'affichage :</strong>
  <%= l @alert.fin %>
</p>

<p class="mb-4">
  <strong>Visible ? :</strong>
  <%= 'OUI' if @alert.visible? %>
</p>

<p class="mb-4">
  <strong>Message :</strong>
  <%= @alert.message %>
</p>

<p class="mb-4">
  <strong>Style :</strong>
  <%= @alert.etat.humanize %>
</p>

<%= link_to 'Modifier', edit_alert_path(@alert), class: 'link' %> |
<%= link_to 'Retour', alerts_path, class: 'link' %>
