<div class="row">
    <div class="col-md-12">
      <%= month_calendar events: @cours do |date, meetings| %>
        <span class="calendar_day">
          <%= date.day %>
        </span>

        <% meetings.each do |meeting| %>
          <div class="meeting">
            <b>
              <%= l(meeting.debut, format: :heures_min) %>
            </b>
            -
            <%= l(meeting.fin, format: :heures_min) %>
            /
            <%= meeting.try(:salle).try(:nom) %>  
            <br>

            <% if params[:formation].blank? %>
              <span style="background-color:<%= meeting.formation.color %>;padding-left: 5px;margin-right: 3px;"></span>

              <b><%= link_to_if user_signed_in?, meeting.try(:formation).try(:nom), meeting %></b>
              <br>
            <% end %> 
            <% if user_signed_in? %>
              <%= link_to_if user_signed_in?, meeting.intervenant.nom_prenom, 
                          url_for(params
                                    .permit(:formation, :ue, :intervenant, :semaine, :start_date, :etat, :filter, :view)
                                    .merge(intervenant_id:meeting.intervenant_id)) %>
              <br>
            <% end %>
            <%= meeting.nom_ou_ue %>
            <hr>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>