<%= week_calendar events: @cours,
                  start_date_param: :calendar_week_starts_at do |date, meetings| %>
  <% meetings.each do |meeting| %>
    <% formation = Formation.find_by(id: meeting.formation_id) %>
    <div class="shadow-xl p-2 mb-2 bg-base-100 leading-6"
         style="min-height:<%= 80 + (10 * meeting.duree) %>px; border-left:6px solid <%= formation.color %>; padding-left:5px;">
      <%= link_to meeting, class: 'text-primary hover:underline' do %>
        <b><%= l(meeting.debut, format: :heures_min) %></b>
        - <%= l(meeting.fin, format: :heures_min) %>
      <% end %>
      <% if meeting.try(:salle).try(:nom) %>
        <span class="text-base-content/60"> / <%= meeting.salle.nom %></span>
      <% end %>
      <br>

      <% if params[:formation].blank? && formation %>
        <%= link_to_if user_signed_in?, formation.nom, meeting, class: 'text-base-content font-bold hover:underline' %>
        <br>
      <% end %>

      <% if user_signed_in? %>
        <%= link_to_if user_signed_in?, meeting.intervenant.nom_prenom,
                    url_for(params
                        .permit(:formation, :ue, :intervenant, :semaine, :start_date, :etat, :filter, :view)
                        .merge(intervenant_id:meeting.intervenant_id)), class: 'text-primary hover:underline' %>
        <br>
      <% end %>

      <span class="text-sm"><%= meeting.nom_ou_ue %></span>
    </div>
  <% end %>
<% end %>
