<div class="shadow p-4" style="border-left: .3rem solid <%= cours.try(:formation).try(:positive_color) %>">
  <div class="flex flex-wrap">
    
    <div class="relative flex-grow max-w-full flex-1">
      <b><%= l(cours.debut, format: :heures_min) %></b>
      <small>- <%= l(cours.fin, format: :heures_min) %></small>
    </div>

    <div class="relative flex-grow max-w-full flex-1 text-right">
      <% if cours.salle %>
        <h5 class="text-lg">
          <span class="badge badge-<%= cours.style %> text-white font-bold">
            <%= cours.salle.nom %>
          </span>
        </h5>
      <% end %>
    </div>
  </div>

  <b>
    <%= cours.try(:formation).try(:nom) %>
  </b>
  <br>

  <% if user_signed_in? %>
    <%= cours.try(:intervenant).try(:nom_prenom) %>
    <br>

    <% if binome = cours.intervenant_binome %>
      <%= binome.nom_prenom %>
      <br>
    <% end %>

    <% if cours.url? && cours.elearning? %>
      <%= link_to cours.nom.split(' ').first, target:"_blank", class: 'text-primary hover:underline' do %>
          <%= cours.nom.split(' ').last %>
          <%= fa_icon 'link' %>
      <% end %>
    <% else %>
      <i><%= cours.nom_ou_ue %></i>
    <% end %>
  <% else %>
    <i> <%= "UE ##{cours.code_ue}" if cours.code_ue %></i>
  <% end %>

  <% if cours.debut.to_date == Date.today %>
    <br>
    <progress data-debut="<%= cours.debut.to_i %>" data-fin="<%= cours.fin.to_i %>" class="progress progress-primary opacity-50" value="<%= cours.progress_bar_pct3 %>" max="100"></progress>
  <% end %>
</div>