<div class="shadow-sm p-3">
  <div class="row">
    
    <div class="col">
      <b><%= l(cours.debut, format: :heures_min) %></b>
      <small>- <%= l(cours.fin, format: :heures_min) %></small>
    </div>

    <div class="col text-right">
      <% if cours.salle %>
        <h5>
          <span class="badge badge-pill badge-<%= cours.style %>">
            <%= link_to cours.salle.nom, image_path("Plan_d_acces_Campus_BioPark_-_IAE_Paris.pdf"), style: "color: white", title: "Plan d'accès au campus BioPark" %>
          </span>
        </h5>
      <% end %>
    </div>
  </div>

  <span style="background-color:<%= cours_formation.color %>;padding-left: 7px;margin-right: 5px;"></span>

  <b>
    <%= cours.try(:formation).try(:nom) %>
  </b>
  <br>

  <%= cours.try(:intervenant).try(:nom_prenom) %>
  <br>

  <% if cours.intervenant_binome %>
    <%= cours.intervenant_binome.nom_prenom %>
    <br>
  <% end %>

  <% if cours.url? && cours.elearning? %>
    <%= link_to cours.nom.split(' ').first, target:"_blank" do %>
        <%= cours.nom.split(' ').last %>
        <%= fa_icon 'link' %>
    <% end %>
  <% else %>         
    <i><%= cours.nom_ou_ue %></i>
  <% end %>

  <% if (pct = cours.progress_bar_pct2) && (cours.debut.to_date == Date.today) %>
    <br>
    <div class="progress" style="width: 100%">
      <div class="progress-bar progress-bar-striped active" 
          role="progressbar" aria-valuemin="0" aria-valuemax="100" 
          style="width:<%= pct %>%">
      </div>
    </div>
  <% end %>
</div>