<tr class="shadow-sm">
    <% if user_signed_in? %>
        <td>
            <span data-action="click->action#click">
                <%= check_box_tag "[cours_id][#{cours.id}]", 'yes', false, data: {"target":"action.source"} %>
            </span>
        </td>
    <% end %>
    <td>
        <b><%= l(cours.debut, format: :heures_min) %></b> 
        <br>
        <%= l(cours.fin, format: :heures_min) %>
    </td>
    <td>
        <%= number_with_precision(cours.duree, precision: 1) %> h
    </td>
    <td style="white-space: nowrap;">
        <span style="background-color:<%= cours_formation.color %>;padding-left: 5px;margin-right: 3px;"></span>
        <%= link_to cours_formation.nom, cours_formation %>
    </td>
    <td style="white-space: nowrap;">
        <%= link_to_if user_signed_in?, cours.intervenant.nom_prenom, cours.intervenant %>
        <% if cours.intervenant_binome %>
            <br>
            <%= link_to_if user_signed_in?, cours.intervenant_binome.nom_prenom, cours.intervenant_binome %>
        <% end %>
    </td>
    <td>
        <%= link_to_if user_signed_in?, cours.try(:ue), cours_path(ue: cours.ue) %>
    </td>
    <td>
        <% if cours.url? && cours.elearning  %>
            <%= link_to cours.nom.split(' ').first, target:"_blank" do %>
                <%= cours.nom.split(' ').last %>
                (E-learning)
                <span class="glyphicon glyphicon-link"></span>
            <% end %>
        <% else %>         
            <%= cours.nom_ou_ue %>
        <% end %>
    </td>
    <td style="white-space: nowrap;">
        <% if cours.salle %>
            <h5>
                <span class="badge badge-pill badge-<%= cours.style %>">
                    <%= cours.salle.nom %>
                </span>             
            </h5>

            <% if cours_formation.nbr_etudiants > cours.salle.places && user_signed_in? %>
                <i class="glyphicon glyphicon-warning-sign glyph-custom-alert" 
                    data-toggle="tooltip" data-placement="bottom"
                    title="Manque <%= cours_formation.nbr_etudiants - cours.salle.places %> place.s">
                </i>
            <% end %>
        <% else %>
            <% if cours.confirmé? && user_signed_in? %>
                <i class="glyphicon glyphicon-warning-sign glyph-custom-warning" 
                    data-toggle="tooltip" data-placement="top"
                    title="Pas de salle réservée !">
            <% end %>
        <% end %>
        <% if user_signed_in? && !cours.commentaires.blank? %>
            <i class="glyphicon glyphicon-comment" 
                    data-toggle="tooltip" data-placement="top"
                    title="<%= cours.commentaires %>" >
        <% end %>
    </td>
    <td></td>

    <% if user_signed_in? %>
        <td>
            <%= link_to edit_cour_path(cours, from: params[:from]), class: "btn btn-sm btn-outline-light text-dark" do %>
                <%= fa_icon 'edit '%>
            <% end %>
        </td>
    <% end %>
</tr>
