<%= bootstrap_form_for(@cour, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-5") do |f| %>
  <% if @cour.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
      <h3><%= t('activerecord.errors.template.header',
                  model: Cour.model_name.human, count: @cour.errors.count) %></h3>
     
      <ul>
      <% @cour.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :from, params[:from] %>

  <div data-controller="dispo">

    <%= f.text_field :debut, type: "datetime-local", label: "Date", data: {"target":"dispo.date"} %>

    <%= f.select(:duree, 
                  options_for_select(['0.5','1.0','1.5','2.0','2.5','3.0','3.5','4.0','4.5','5.0','5.5','6.0','6.5','7.0','7.5','8.0','8.5','9.0','9.5','10.0','10.5','11.0','11.5','12.0','12.5','13.0','13.5','14.0'], @cour.duree.to_s), 
                  {include_blank: true}, 
                  label: "Durée", 
                  required: true, 
                  data: {
                    "target":"dispo.duree"}
                  ) %>
    
    <%= f.collection_select(:formation_id, 
                            Formation.unscoped.order(:nom, :promo), 
                            :id, 
                            :nom_promo, 
                            {include_blank: true},
                            required: true, 
                            class: "select2",
                            data: {"target":"dispo.formation_id"}) %>
    
    <%= f.collection_select(:intervenant_id, 
                            Intervenant.all, 
                            :id, 
                            :nom_prenom, 
                            {include_blank: true}, 
                            required: true, 
                            id: "intervenant_id",
                            class: "select2",
                            data: {
                              "action":"change->dispo#show_dispo", 
                              "target":"dispo.intervenant_id"
                            }) %>

    <%= f.collection_select(:intervenant_binome_id, Intervenant.all, :id, :nom_prenom, {include_blank: true, label: "Intervenant en binôme"}, class: "select2") %>
    
    <%= f.text_field :ue, placeholder: "UE#", label: "UE" %>
    <%= f.text_field :nom, placeholder: "Nom du cours (si vide; sera remplacé par le nom de l'UE)" %>

    <%= f.form_group do %>
      <%= f.check_box :hors_service_statutaire, label: "Hors Service Statutaire ?" %>
      <%= f.check_box :elearning, label: "eLearning ?" %>
    <% end %>

    <% if current_user.admin? || current_user.reserver? %>
      <% unless @cour.new_record? %>
        <%= f.select(:etat, Cour.etats.keys.to_a, {include_blank: true}) %>
      <% end %>

      <span data-action="click->dispo#click">
        <div class="btn btn-lg">GO </div>
      </span>

      <span data-target="dispo.output">
      </span>
      
      <%= f.collection_select(:salle_id, 
                              Salle.all, 
                              :id, 
                              :nom_places, 
                              {include_blank: true },
                              data: {"target":"dispo.salles"}
                              ) %>

    <% end %>
  </div>

  <%= f.text_area :commentaires %>

  <%= f.form_group do %>
    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    <% if @cour.new_record? %>
      <%= f.submit "Enregistrer et saisir le suivant", name: 'create_and_add', class:"btn btn-default" %>
    <% else %>
      <%= f.submit "Enregistrer et notifier les étudiants", name: 'notifier', class:"btn btn-primary" %>
    <% end %>
  <% end %>

<% end %>
