<%= form_for(@cour) do |f| %>

  <% if @cour.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
      <h3><%= t('activerecord.errors.template.header',
                  model: Cour.model_name.human, count: @cour.errors.count) %></h3>
     
      <ul>
      <% @cour.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :from, params[:from] %>

  <div class="flex flex-col gap-4 mb-4">
    <div data-controller="dispo" class="flex flex-col gap-4">
      <%= hidden_field_tag :id, @cour.id, data: { "dispo-target": "id" } %>

      <div class="flex flex-wrap">
        <%= f.label :debut, "Date *", class: 'sm:w-1/5' %>
        <%= f.text_field :debut, 
                                value: @cour.debut.strftime("%Y-%m-%dT%H:%M"), 
                                type: "datetime-local", 
                                class: 'input input-bordered input-sm w-full sm:w-1/2', 
                                required: true,
                                data: { "dispo-target": "date" } %>
      </div>

      <div class="flex flex-wrap">
        <%= f.label :duree, "Durée *", class: 'sm:w-1/5' %>
        <%= f.select :duree, 
                                options_for_select(Cour.durées, @cour.duree.to_s), 
                                { include_blank: true}, 
                                class: 'select select-bordered select-sm w-full sm:w-1/2',
                                required: true, 
                                data: { "dispo-target": "duree" } %>
      </div>
      
      <div class="flex flex-wrap">
        <%= f.label :formation_id, "Formation *", class: 'sm:w-1/5' %>
        <%= f.collection_select :formation_id, 
                                @formations, 
                                :id, 
                                :nom_promo, 
                                {include_blank: true},
                                required: true, 
                                class: "slim-select sm:w-1/2",
                                data: { "dispo-target": "formation_id"} %>
      </div>
      
      <div class="flex flex-wrap">
        <%= f.label :intervenant_id, "Intervenant *", class: 'sm:w-1/5' %>
        <%= f.collection_select :intervenant_id, 
                                Intervenant.all, 
                                :id, 
                                :nom_prenom, 
                                {include_blank: true}, 
                                required: true, 
                                id: "intervenant_id",
                                class: "slim-select sm:w-1/2",
                                data: {
                                  "dispo-target": "intervenant_id",
                                  "action": (@cour.new_record? ? "change->dispo#show_dispo" : '') 
                                } %>
      </div>

      <div class="flex flex-wrap">
        <%= f.label :intervenant_binome_id, "Intervenant en binôme", class: 'sm:w-1/5' %>
        <%= f.collection_select :intervenant_binome_id, 
                                Intervenant.all, 
                                :id, 
                                :nom_prenom, 
                                { include_blank: true }, 
                                class: "slim-select sm:w-1/2" %>
      </div>
      
      <div class="flex flex-wrap">
        <%= f.label :code_ue, "Code UE", class: 'sm:w-1/5' %>
        <%= f.number_field :code_ue, placeholder: "UE#", class: "input input-bordered input-sm w-full sm:w-1/2" %>
      </div>

      <div class="flex flex-wrap">
        <%= f.label :nom, class: 'sm:w-1/5' %>
        <%= f.text_field :nom, placeholder: "Nom du cours (si vide; sera remplacé par le nom de l'UE)", class: "input input-bordered input-sm w-full sm:w-1/2" %>
      </div>

      <div class="flex flex-wrap">
        <div class="sm:w-1/5"></div>
        <div class="sm:w-1/2">
          <%= f.check_box :hors_service_statutaire %>
          <%= f.label :hors_service_statutaire, "Hors Service Statutaire ?" %>
        </div>
      </div>

      <div class="flex flex-wrap">
        <div class="sm:w-1/5"></div>
        <div class="sm:w-1/2">
          <%= f.check_box :elearning %>
          <%= f.label :elearning, "eLearning ?" %>
        </div>
      </div>

      <% if policy(current_user).peut_réserver? %>
        <% unless @cour.new_record? %>
          <div class="flex flex-wrap">
            <%= f.label :etat, "État", class: 'sm:w-1/5' %>
            <%= f.select :etat, Cour.etats.keys.to_a, { include_blank: true }, class: "select select-bordered select-sm w-full sm:w-1/2" %>
          </div>
        <% end %>

        <div class="flex flex-wrap">
          <%= f.label :salle_id, "Salle", class: 'sm:w-1/5' %>
          <div class="sm:w-1/2">
            <%= f.collection_select :salle_id, 
                                              @salles, 
                                              :id, 
                                              :nom_places, 
                                              { include_blank: true },
                                              class: "select select-bordered select-sm w-full",
                                              data: { "dispo-target": "salles" } %>

            <span data-action="click->dispo#show_dispo" 
                  class="btn btn-sm btn-success btn-outline mt-4">
                  Chercher les salles disponibles
            </span>
          </div>
        </div>
      <% end %>
    </div>

    <div class="flex flex-wrap">
      <%= f.label :commentaires, class: 'sm:w-1/5' %>
      <%= f.text_area :commentaires, class: "textarea textarea-bordered textarea-sm w-full sm:w-1/2" %>
    </div>

    <% unless @cour.new_record? %>
      <div class="flex flex-wrap">
        <div class="sm:w-1/5"></div>
        <div class="sm:w-1/2">
          <%= check_box_tag :notifier %>
          <%= label_tag :notifier, "Notifier les étudiants ?" %>
        </div>
      </div>
    <% end %>

    <div class="flex flex-wrap">
      <div class="sm:w-1/5"></div>
        <div class="sm:w-1/2">
          <%= f.submit "Enregistrer", class: "btn btn-primary" %>
          <%= link_to "Annuler", cours_path, class: "btn btn-light" %>
          <% if @cour.new_record? %>
            <%= f.submit "Enregistrer et en saisir une autre", name: 'create_and_add', class: 'btn btn-primary btn-outline' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<%= render 'partials/slim_select' %>