<%= bootstrap_form_for(@cour, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f| %>

  <% if @cour.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  
      <h3><%= t('activerecord.errors.template.header',
                  model: Cour.model_name.human, count: @cour.errors.count) %></h3>
     
      <ul>
      <% @cour.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :from, params[:from] %>

  <div data-controller="dispo select2">
    <%= hidden_field_tag :id, @cour.id, 'data-dispo-target': 'id' %>

    <%= f.text_field :debut, 
                            value: @cour.debut.strftime("%Y-%m-%dT%H:%M"), 
                            type: "datetime-local", 
                            label: "Date", 
                            'data-dispo-target': 'date' %>

    <%= f.select  :duree, 
                            options_for_select(Cour.durées, @cour.duree.to_s), 
                            { include_blank: true, 
                            label: "Durée" }, 
                            required: true, 
                            'data-dispo-target': 'duree' %>
    
    <%= f.collection_select :formation_id, 
                            Formation.unscoped.order(:nom, :promo), 
                            :id, 
                            :nom_promo, 
                            {include_blank: true},
                            required: true, 
                            class: "select2",
                            'data-dispo-target': 'formation_id' %>
    
    <%= f.collection_select :intervenant_id, 
                            Intervenant.all, 
                            :id, 
                            :nom_prenom, 
                            {include_blank: true}, 
                            required: true, 
                            id: "intervenant_id",
                            class: "select2",
                            data: {
                              "dispo-target": "intervenant_id",
                              "action": (@cour.new_record? ? "change->dispo#show_dispo" : '') 
                            } %>

    <%= f.collection_select :intervenant_binome_id, 
                            Intervenant.all, 
                            :id, 
                            :nom_prenom, 
                            { include_blank: true, label: "Intervenant en binôme" }, 
                            class: "select2" %>
    
    <%= f.number_field :code_ue, placeholder: "UE#", label: "Code UE" %>
    <%= f.text_field :nom, placeholder: "Nom du cours (si vide; sera remplacé par le nom de l'UE)" %>

    <%= f.form_group do %>
      <%= f.check_box :hors_service_statutaire, label: "Hors Service Statutaire ?" %>
      <%= f.check_box :elearning, label: "eLearning ?" %>
    <% end %>

    <% if policy(current_user).peut_réserver? %>
      <% unless @cour.new_record? %>
        <%= f.select(:etat, Cour.etats.keys.to_a, { include_blank: true }) %>
      <% end %>

      <%= f.collection_select :salle_id, 
                                        Salle.all, 
                                        :id, 
                                        :nom_places, 
                                        { include_blank: true },
                                        'data-dispo-target': 'salles' %>
  
      <%= f.form_group do %>
        <span data-action="click->dispo#show_dispo" 
              class="btn btn-sm btn-outline-success">
              Chercher les salles disponibles
        </span>
      <% end %>
    <% end %>
  </div>

  <%= f.text_area :commentaires %>

  <% unless @cour.new_record? %>
    <%= f.form_group do %>
      <%= check_box_tag :notifier %> Notifier les étudiants ?
    <% end %>
  <% end %>

  <%= f.form_group do %>
    <%= f.submit "Enregistrer", class: "btn btn-primary", 'data-turbo': false %>
    <%= link_to "Annuler", cours_path, class: "btn btn-light" %>
    <% if @cour.new_record? %>
      <%= f.submit "Enregistrer et en saisir une autre", name: 'create_and_add', class: 'btn btn-outline-primary', 'data-turbo': false %>
    <% end %>
  <% end %>

<% end %>
