<div class="card shadow-sm p-2 mb-4" style="border-left:6px; border-left-style:solid; border-left-color:<%= cour.formation.color %>;">
  <div class="d-flex justify-content-between">
    <p class="mb-0"><b><%= l(cour.debut, format: :heures_min) %></b> - <%= l(cour.fin, format: :heures_min) %></p>
    <p class="mb-0">
      <span class="badge badge-pill badge-<%= cour.style %>">
        <%= cour.salle.nom %>
      </span>
    </p>
  </div>
  <div class="mb-2">
    <p class="mb-0"><%= cour.formation.nom.humanize %></p>
    <p class="mb-0"><%= cour.nom_ou_ue %></p>
    <p class="mb-0">(<%= cour.etudiants.count %> étudiants prévus)</p>
  </div>

  <div class="progress mt-2" style="width: 100%">
    <div class="progress-bar bg-primary" 
        role="progressbar" aria-valuemin="0" aria-valuemax="100" 
        style="width: <%= cour.progress_bar_pct3 %>%; opacity: 0.3;">
    </div>
  </div>

  <h6 class='mt-4'>Présences :</h6>
  <% if action_name == 'mes_sessions_intervenant' %>
    <div class="d-inline">
      <% cour.presences.joins(:etudiant).where.not(etudiant_id: nil).order(:nom).each do |presence| %>
        <%= link_to presence_path(presence) do %>
          <h5 class='d-inline'>
            <span class="badge <%= presence.style %>">
              <%= presence.etudiant.nom.upcase %>
              <%= fa_icon 'wifi' if presence.wifi_detected? %>
            </span>
          </h5>
        <% end %>
      <% end %>
    </div>

    <% presences = cour.presences.where.not(etudiant_id: nil) %>
    <% if presences.any? %>
      <p class='mt-4'>
        État des présences : 
        <%= Presence.workflow_states_count(presences) %>
        | Total : <%= presences.count %>
      </p>
    <% end %>

    <% if (0..100).include?(cour.progress_bar_pct3) && cour.presences.where(intervenant_id: @intervenant_user_id).empty? %>
      <%= link_to 'Signer la feuille de présence', signature_cours_path(cour_id: cour.id), class: 'btn btn-warning btn-lg' %>
    <% end %>
  <% end %>
</div>