<div class="flex-1 card shadow px-2 py-4 mb-6" style="border-left:6px; border-left-style:solid; border-left-color:<%= cour.formation.color %>;">
  <div class="flex mb-2">
    <% if cour.intervenant.photo.present? %>
      <%= image_tag cour.intervenant.photo, class:"border rounded mr-4 w-1/3" %>
    <% else %>
      <%= image_tag 'planning_intervenant.jpg', class:"border rounded mr-4", width: 75, height: 75 %>
    <% end %>
    <div class="w-full">
      <div class="flex justify-between">
        <p class="mb-0"><b><%= l(cour.debut, format: :heures_min) %></b> - <%= l(cour.fin, format: :heures_min) %></p>
        <% if cour.salle %>
          <p class="mb-0">
            <span class="badge badge-<%= cour.style %> text-white">
              <%= cour.salle.nom %>
            </span>
          </p>
        <% end %>
      </div>
      <p class="mb-0"><%= cour.intervenant.nom_prenom %></p>
      <p class="mb-0 font-bold"><%= cour.nom_ou_ue %></p>
    </div>
  </div>
  <progress data-debut="<%= cour.debut.to_i %>" data-fin="<%= cour.fin.to_i %>" class="progress progress-primary opacity-50 mt-2" value="<%= cour.progress_bar_pct3 %>" max="100"></progress>

  <% if user_signed_in? && current_user.étudiant? && presence = cour.presences.find_by(etudiant_id: @etudiant.id) %>
    <% if presence.validée? || presence.signée? %>
      <div class="alert alert-success mt-4 mb-0" role="alert">
        Présence signée à <%= l presence.signée_le, format: :heures_log %>
      </div>
    <% elsif presence.manquante? || presence.rejetée? %>
      <div class="alert alert-error mt-4 mb-0" role="alert">
        Vous avez été absent(e) à cette séance
      </div>
    <% end %>
  <% end %>
  <% if action_name == 'mes_sessions_etudiant' %>
    <% if (cour.formation_id == 671 || cour.formation_id == 258) && cour.signable_etudiant? && ( cour.presences.where(etudiant_id: @etudiant.id).empty? || cour.presences.where(etudiant_id: @etudiant.id, workflow_state: 'attente signature').any? ) %>
      <%= link_to 'Signer la feuille de présence', signature_etudiant_cours_path(cour_id: cour.id), class: 'btn btn-warning btn-lg mt-6' %>
    <% end %>
  <% end %>
</div>

<%= render partial: 'partials/script_progress_bar' %>