<tr class="shadow p-5 mt-4" style="height:110px">

  <td class="align-middle">
    <h3 class="text-dark">
      <%= l(cours.debut, format: :heures_min) %>
      <small>
        - <%= l(cours.fin, format: :heures_min) %>
      </small>
    </h3>
  </td>
  
  <td>
    <h3 class="text-dark">
      <span style="background-color:<%= cours.try(:formation).try(:color) %>;padding-left: 12px;margin-right: 5px;"></span>
      <%= cours.try(:formation).try(:nom_promo) %>
    </h3>
    
    <h4 class="text-body" style="height: 30px">
      <i><%= cours.nom_ou_ue %></i>
    </h4>

    <div class="progress">
      <div class="progress-bar bg-dark" 
           style="opacity:0.3; width: <%= cours.progress_bar_pct2 %>%;">
      </div>
    </div>
  </td>

  <td class="align-middle">
    <h3 class="text-dark">
      <%= cours.try(:intervenant).try(:nom_prenom) %>
      <% if cours.intervenant_binome_id %>
          / <%= cours.try(:intervenant_binome).try(:nom_prenom) %>
      <% end %>
    </h3>
  </td>
  
  <td class="align-middle" style="width:150px">
    <span class="btn btn-lg btn-<%= cours.style %>">
      <b><%= cours.try(:salle).try(:nom) %></b>
    </span>
  </td>

</tr>
