<tr class="shadow" style="height:110px">

  <td class="align-middle">
    <h2 class="text-3xl text-base-content">
      <%= l(le_cours.debut, format: :heures_min) %>
      <small>
        - <%= l(le_cours.fin, format: :heures_min) %>
      </small>
    </h2>

    <progress class="progress opacity-50 mt-4" value="<%= le_cours.progress_bar_pct2 %>" max="100"></progress>
  </td>
  
  <td style="border-left: 1rem solid <%= le_cours.formation.color %>">
    <div>
      <h3 class="text-2xl text-primary">
        
        <span style="margin-left: 15px;">
          <%= le_cours.formation.try(:nom_promo) %>
        </span>

        <br><br>
        
        <span class="text-base-content" style="margin-left: 15px;">
          <i><%= le_cours.nom_ou_ue %></i>
        </span>

      </h3>
    </div>
  </td>

  <td class="align-middle">
    <h3 class="text-2xl text-base-content">
      <%= le_cours.intervenant.nom_prenom %>
      <% if le_cours.intervenant_binome_id %>
          / <%= le_cours.intervenant_binome.nom_prenom %>
      <% end %>
    </h3>
  </td>
  
  <td class="align-middle text-center" style="width:200px">
    <% if le_cours.salle %>
      <% if le_cours.salle.bloc != 'Z' %>
        <span class="badge badge-<%= le_cours.style %> text-white mask mask-circle p-10">
          <h3 class="text-4xl font-bold text-base-100" style="margin: 0">
            <%= le_cours.salle.nom %>
          </h3>
        </span>
      <% else %>
        <span class="badge badge-primary text-white p-10">
          <h3 class="text-4xl font-bold">
            <%= le_cours.salle.nom %>
          </h3>
        </span>
      <% end %>
    <% end %>
  </td>

</tr>