<tr>
  <td>
    <h3>
      <%= l(cours.debut, format: :heures_min) %>
      <small>
        - <%= l(cours.fin, format: :heures_min) %>
      </small>
    </h3>
  </td>
  
  <td>
    <h3>
      <span style="background-color:<%= cours.try(:formation).try(:color) %>;padding-left: 7px;margin-right: 5px;"></span>
      <%= cours.try(:formation).try(:nom_promo) %>
    </h3>
    
    <h4 class="text-primary"><i><%= cours.nom_ou_ue %></i></h4>

    <% if pct = cours.progress_bar_pct2 %>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" 
            role="progressbar" aria-valuemin="0" aria-valuemax="100" 
            style="width: <%= pct %>%; opacity: 0.2;">
        </div>
      </div>
    <% else %>
      <br><br>
    <% end %>
  </td>

  <td>
    <h3>
      <%= cours.try(:intervenant).try(:nom_prenom) %>
      <% if cours.intervenant_binome_id %>
          / <%= cours.try(:intervenant_binome).try(:nom_prenom) %>
      <% end %>
    </h3>
  </td>
  
  <td style="text-align: center;">
    <% if salle = cours.salle %>
      <h2>
        <span class="label <%= cours.style %>">
          <%= salle.nom %>
        </span>
      </h2>
    <% else %>
      <h3><i class="glyphicon glyphicon-warning-sign"></i></h3>
    <% end %>
  </td>
</tr>
