<div class="pb-2 mt-4 mb-2 border-bottom">
  <h2><%= fa_icon 'exclamation-triangle' %> <%= params[:action_name] %></h2>
</div>
<br>

<%= bootstrap_form_tag url:  :action_do_cours do %>

	<%= hidden_field_tag :action_name, params[:action_name] %>

  <h3>Cours sélectionnés</h3>

  <table class="table table-hover table-bordered table-striped table-sm">
    <% @cours.each do |cours| %>
      <tr>
        <td><%= check_box_tag "[cours_id][#{cours.id}]", true, true %></td>                
        <td><%= l(cours.debut.to_date) %></td>
        <td><%= "#{l(cours.debut, format: :heures_min)}-#{l(cours.fin, format: :heures_min)}" %></td>
        <td><%= cours.try(:formation).try(:nom_promo) %></td>
        <td><%= cours.intervenant.nom_prenom %>
          <% if cours.intervenant_binome %>
            <%= cours.intervenant_binome.nom_prenom %>
          <% end %>
        </td>
        <td><span class="label <%= cours.style %>"><%= cours.etat.humanize %></span></td>
        <td><%= cours.try(:salle).try(:nom)  %></td>
        <td>Créé par <%= cours.audits.first.user.try(:email) %></td>
      </tr>
    <% end %>
  </table>
  <br>

  <% if params[:action_name] == "Changer de salle" %>  
    <% if @salles_dispos %>
      <h3>
        Salles disponibles
      </h3>
      <% @salles_dispos.each do |salle| %>
        <%= link_to salle, 
                    action_do_cours_path(params
                                          .permit!
                                          .merge(salle_id: Salle.find_by(nom: salle))),
                    method: :post, 
                    class: "btn btn-outline-success btn-sm mb-1" %>
      <% end %>
      <br><br>
    <% end %>

  <% elsif params[:action_name] == "Changer d'état" %>
    <div class="col-sm-2">
      <%= label_tag "Nouvel état" %>    
      <%= select_tag :etat, options_for_select(Cour.etats, params[:etat]), class:"form-control" %>
    </div>

  <% elsif params[:action_name] == "Changer de date" %>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag "Nouvelle date" %>    
        <%= text_field_tag :new_date, params[:new_date], type:'date', class:"form-control" %>
      </div>

      <div class="col-sm-1">ou</div>
      <div class="col-sm-6">
        <%= label_tag "Décaler de x jours" %><br>
        <%= number_field_tag :add_n_days, class: "form-control" %>
      </div>
    </div>

  <% elsif params[:action_name] == "Changer d'intervenant" %>
    <div class="col-sm-6">
      <%= label_tag "Nouvel intervenant" %>    
      <%= select_tag :intervenant_id, 
                      options_from_collection_for_select(Intervenant.all, :id, :nom_prenom, params[:intervenant_id]), 
                      include_blank:true, class:"form-control" %>
      <br><br>
    </div>

  <% elsif params[:action_name] == "Supprimer" %>
    <div class="col-sm-8">
      <%= label_tag "Confirmation :" %><br>
      <%= check_box_tag :delete %> Suppression définitive de tous les cours sélectionnés ?
      <br><br>
      <i>Notez que les cours ne peuvent être supprimés que par leur créateur, le gestionnaire ou un administrateur</i>
      <br><br>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= submit_tag 'Appliquer', class:"btn btn-primary" %>
    </div>
  </div>

<% end %>
