<div class="pb-2 mt-4 mb-2 border-bottom">
  <h3><%= fa_icon 'exclamation-triangle' %> <%= params[:action_name] %></h3>
</div>
<br>

<%= bootstrap_form_tag url:  :action_do_cours do %>

	<%= hidden_field_tag :action_name, params[:action_name] %>

  <h3>Cours sélectionnés</h3>

  <table class="table table-hover table-bordered table-striped table-sm">
    <thead>
      <tr>
        <td></td>
        <td>Date</td>
        <td>Horaire</td>
        <td>Formation</td>
        <td>Intervenant</td>
        <td>UE</td>
        <td>Intitulé du cours</td>
        <td>Etat</td>
        <td>Salle</td>
        <td>Crée par</td>
      </tr>
    </thead>
    <tbody>
      <% @cours.each do |cours| %>
        <tr>
          <td><%= check_box_tag "[cours_id][#{cours.id}]", true, true %></td>                
          <td><%= l(cours.debut.to_date) %></td>
          <td><%= "#{l(cours.debut, format: :heures_min)}-#{l(cours.fin, format: :heures_min)}" %></td>
          <td>
            <span style="background-color:<%= cours.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
            <%= cours.try(:formation).try(:nom_promo) %>
          </td>
          <td><%= cours.intervenant.nom_prenom %>
            <% if cours.intervenant_binome %>
              <%= cours.intervenant_binome.nom_prenom %>
            <% end %>
          </td>
          <td><%= cours.ue %></td>
          <td><%= cours.nom %></td>
          <td><span class="badge badge-<%= cours.style %>"><%= cours.etat.humanize %></span></td>
          <td><%= cours.try(:salle).try(:nom)  %></td>
          <td><%= cours.audits.first.user.try(:email) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <% if params[:action_name] == "Changer de salle" %>  
    <% if @salles_dispos %>
      <h3>
        Salles disponibles
      </h3>
      <% @salles_dispos.each do |salle| %>
        <%= link_to salle, 
                    action_do_cours_path(params
                                          .permit!
                                          .merge(salle_id: Salle.find_by(nom: salle))),
                    method: :post, 
                    class: "btn btn-outline-success btn-sm mb-1" %>
      <% end %>
      <br><br>
    <% end %>

  <% elsif params[:action_name] == "Changer d'état" %>
    <div class="d-flex align-items-end mb-4" style="gap: 1rem;">
      <div>
        <%= label_tag "Nouvel état" %>    
        <%= select_tag :etat, options_for_select(Cour.etats, params[:etat]), class:"form-control" %>
      </div>
      <div>
        <%= check_box_tag :notifier %> Notifier les étudiants ?
      </div>
    </div>

  <% elsif params[:action_name] == "Changer de date" %>
    <div class="row">
      <div class="col-sm-2">
        <%= label_tag "Nouvelle date" %>    
        <%= text_field_tag :new_date, params[:new_date], type:'date', class:"form-control" %>
      </div>

      <div class="col-sm-1">ou</div>
      <div class="col-sm-6">
        <%= label_tag "Décaler de x jours" %><br>
        <%= number_field_tag :add_n_days, class: "form-control" %>
      </div>
    </div>

  <% elsif params[:action_name] == "Changer d'intervenant" %>
    <div class="col-sm-6">
      <%= label_tag "Nouvel intervenant" %>    
      <%= select_tag :intervenant_id, 
                      options_from_collection_for_select(Intervenant.all, :id, :nom_prenom, params[:intervenant_id]), 
                      include_blank:true, class:"form-control" %>
      <br><br>
    </div>

  <% elsif params[:action_name] == "Intervertir" %>
    <h3>Que voulez-vous intervertir ?</h3>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <%= check_box_tag :intervertir_intervenants %>
        <%= label_tag "Intervenants" %>    
      </div>

      <div class="col-sm-2">
        <%= check_box_tag :intervertir_binomes %>
        <%= label_tag "Binômes" %>    
      </div>

      <div class="col-sm-2">
        <%= check_box_tag :intervertir_intitulé %>
        <%= label_tag "Intitulé cours" %>    
      </div>

      <div class="col-sm-2">
        <%= check_box_tag :intervertir_ue %>
        <%= label_tag "UE" %>    
      </div>

      <div class="col-sm-2">
        <%= check_box_tag :intervertir_salles %>
        <%= label_tag "Salles" %>    
      </div>
    </div>
    <br>
    <% if @intervertir_alerte %>
      <div class="alert alert-warning">
        <%= @intervertir_alerte %>
      </div>
    <% end %>
  <% elsif params[:action_name] == "Inviter" %>
    <p>
      <b>Intervenant(s) à inviter</b> 
      <br>
      Une proposition par cours et par intervenant sera créée et envoyée.
    </p>
    <div class="row">
      <div class="col-3">
        <%= label_tag 'Intervenant *' %>
        <%= select_tag 'invit[intervenant][1]', 
                        options_from_collection_for_select(Intervenant.where.not(doublon:true), :id, :nom_prenom, params[:intervenant_ids]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-5">
        <%= label_tag :ue, "U.E." %>
        <br>
        <%= select_tag 'invit[ue][1]', 
                        options_from_collection_for_select(@cours.first.formation.unites.order(:num), :id, :num_nom, params[:ue]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-4">
        <%= label_tag 'Intitulé du cours' %>
        <br>
        <%= text_field_tag 'invit[nom][1]', nil, style: 'width: 100%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= label_tag 'Intervenant *' %>
        <%= select_tag 'invit[intervenant][2]', 
                        options_from_collection_for_select(Intervenant.where.not(doublon:true), :id, :nom_prenom, params[:intervenant_ids]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-5">
        <%= label_tag :ue, "U.E." %>
        <br>
        <%= select_tag 'invit[ue][2]', 
                        options_from_collection_for_select(@cours.first.formation.unites.order(:code), :id, :num_nom, params[:ue]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-4">
        <%= label_tag 'Intitulé du cours' %>
        <br>
        <%= text_field_tag 'invit[nom][2]', nil, style: 'width: 100%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= label_tag 'Intervenant *' %>
        <%= select_tag 'invit[intervenant][3]', 
                        options_from_collection_for_select(Intervenant.where.not(doublon:true), :id, :nom_prenom, params[:intervenant_ids]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-5">
        <%= label_tag :ue, "U.E." %>
        <br>
        <%= select_tag 'invit[ue][3]', 
                        options_from_collection_for_select(@cours.first.formation.unites.order(:num), :id, :num_nom, params[:ue]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-4">
        <%= label_tag 'Intitulé du cours' %>
        <br>
        <%= text_field_tag 'invit[nom][3]', nil, style: 'width: 100%' %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <%= label_tag 'Intervenant *' %>
        <%= select_tag 'invit[intervenant][4]', 
                        options_from_collection_for_select(Intervenant.where.not(doublon:true), :id, :nom_prenom, params[:intervenant_ids]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-5">
        <%= label_tag :ue, "U.E." %>
        <br>
        <%= select_tag 'invit[ue][4]', 
                        options_from_collection_for_select(@cours.first.formation.unites.order(:num), :id, :num_nom, params[:ue]), 
                        include_blank: true,
                        class: "form-control select2" %>
      </div>
      <div class="col-4">
        <%= label_tag 'Intitulé du cours' %>
        <br>
        <%= text_field_tag 'invit[nom][4]', nil, style: 'width: 100%' %>
      </div>
    </div>
    <br>
    <%= label_tag "Message" %>
    <br>
    <%= text_area_tag :message_invitation,nil, rows: 5, cols:80 %>
    <br>
    <% if Invit.where(cour_id: @cours.pluck(:id)).where.not("workflow_state = 'non_retenue' OR  workflow_state = 'confirmée'").any? %>
      <p>
        <br>
        <b>Attention ! Il y a des invitations en cours...</b>
        <br>
        <%= hidden_field_tag :invits_en_cours, true %>
        <%= check_box_tag :confirmation, 'yes' %> Je sais ce que je fais (enfin je crois) !
      </p>
    <% end %>
    <br>

  <% elsif params[:action_name] == "Supprimer" %>
    <div class="col-sm-8">
      <%= label_tag "Confirmation :" %><br>
      <%= check_box_tag :delete %> Suppression définitive de tous les cours sélectionnés ?
      <br>

      <i>Notez que les cours ne peuvent être supprimés que par leur créateur, le gestionnaire ou un administrateur</i>
      <br><br>

      <% if Invit.where(cour_id: @cours.pluck(:id)).any? %>
        <p>
          <strong>Attention ! Il y a des invitations liées à ce.s cours </strong>
          <br>
          <%= hidden_field_tag :invits_en_cours, true %>
          <%= check_box_tag :confirmation, 'yes' %> Supprimer les invitations liées ?
        </p>
      <% end %>

    </div>
  <% elsif params[:action_name] == "Feuille émargement PDF" && @cours.count == 1 && @cours.first.examen? %>
    <h3>Sélectionnez les étudiants</h3>
    <br>
    <div data-controller="check-all action">
      <div data-action="click->action#click">
        <input id="checkall" type="checkbox" data-target="check-all.all action.source">
        <label for="checkall">Tous ?</label>
      </div>
      <% @cours.each do |c| %>
        <% c.formation.etudiants.order(:nom, :prénom).each do |etudiant| %>
          <span data-action="click->action#click">
            <%= check_box_tag "[etudiants_id][#{etudiant.id}]", true, false, data: {"target":"action.source"} %>
          </span>
          <%= etudiant.nom_prénom %>
          <br>
        <% end %>
      <% end %>
    </div>
    <div class="row my-4">
      <div class="col-sm-4">
        <%= check_box_tag :table %>
        <%= label_tag :table, "Ajouter une colonne N° Table" %>
      </div>
    </div>
  <% end %>

  <div class="row mb-5">
    <div class="col-sm-12">
      <%= submit_tag 'Appliquer', class:"btn btn-primary" %>
      <%= link_to 'Annuler', root_url, class:"btn btn-light" %>
    </div>
  </div>

<% end %>
