<% if @alert && !user_signed_in? %>
  <%= content_tag :div, 
      class: "alert mt-3 alert-#{@alert.etat} alert-dismissable",
      role: "alert" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="bouton du menu">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= @alert.message %>
  <% end %>
<% end %>

<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Cour).new? %>

    <%= link_to new_cour_path(formation: session[:formation], 
                              debut: DateTime.now), 
                              class: 'btn text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Cours
    <% end %>

  <% end %>
  <h3><%= fa_icon 'calendar-alt' %> Planning des cours</h3>
</div>

<div class="container p-3 shadow-sm">
  <%= form_tag cours_path, method: :get do %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-5">
          <%= label_tag "Formation" %>   
          <%= select_tag :formation, grouped_options_for_select(Formation.for_select, params[:formation]), 
                          class: "form-control form-control-sm select2", 
                          include_blank:true, onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :ue, "U.E." %>   
          <%= select_tag :ue, options_for_select((0..20), params[:ue]), 
                          class: "form-control form-control-sm select2", 
                          include_blank:true, onchange: 'this.form.submit()' %>
        </div>
        <% if user_signed_in? %>
          <div class="col-sm-5">
            <%= label_tag "Intervenant" %>
            <div class="input-group">
              <%= select_tag :intervenant, grouped_options_for_select(Intervenant.for_select, params[:intervenant]), 
                              class: "form-control form-control-sm select2",
                              include_blank:true,
                              onchange: 'this.form.submit()' %>
              <% if params.values.count(nil) < 5 %>
                <span class="input-group-btn">
                  <%= button_tag name: 'commit', value: 'RàZ', class: "btn btn-sm btn-light ml-1", title: "Remise à zéro des filtres" do %>
                    <i class="fas fa-times"></i> 
                    RàZ
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-1">
          <%= label_tag "Semaine" %>    
          <%= select_tag :semaine, 
                  options_for_select(@week_numbers, params[:semaine]), 
                    include_blank:true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
        </div>

        <div class="col-sm-2">
          <%= label_tag "A partir du" %>    
          <%= text_field_tag :start_date, params[:start_date], type:'date', onchange:'this.form.submit()', class:"form-control form-control-sm" %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :etat, "Etat" %>
          <%= select_tag :etat, options_for_select(Cour.etats, params[:etat]), include_blank:true,
                  class:"form-control form-control-sm", onchange:'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag "Cours" %>
          <br> 
          <%= radio_button_tag :filter, "upcoming", (params[:filter]=='upcoming'), onchange:'this.form.submit()' %>
          A venir 
          <%= radio_button_tag :filter, "all", (params[:filter]=='all'), onchange:'this.form.submit()' %>
          Tous 
        </div>

        <div class="col-sm-3">
          <%= label_tag "Vue" %>
          <br> 
          <%= radio_button_tag :view, "list", (params[:view]=='list'), onchange:'this.form.submit()' %>
          Liste 
          <%= radio_button_tag :view, "calendar_rooms", (params[:view]=='calendar_rooms'), onchange:'this.form.submit()' %>    
          Salles 
          <%= radio_button_tag :view, "calendar_week", (params[:view]=='calendar_week'), onchange:'this.form.submit()' %>
          Sem
          <%= radio_button_tag :view, "calendar_month", (params[:view]=='calendar_month'), onchange:'this.form.submit()' %>
          Mois 
        </div>

        <% if params[:view] == 'list' %>
          <div class="col-sm-2">
            <%= label_tag "Afficher" %>
            <br> 
            <%= radio_button_tag :paginate, "pages", (params[:paginate]=='pages'), onchange:'this.form.submit()' %>
            Pages 
            <%= radio_button_tag :paginate, "all", (params[:paginate]=='all'), onchange:'this.form.submit()' %>
            Tout 
          </div>
        <% end %>
      </div>
    </div>  
  <% end %>
</div>
<br>

<% if params[:view] == 'list' %>
  <% if @cours.size > 0 %>
    
    <%= form_tag action_cours_path, name: 'action' do %>
      <div data-controller="check-all action">
        <table class="table table-hover">
          <thead class="shadow-sm">
            <tr>
              <% if policy(Cour).action? %>
                <th>
                  <span data-action="click->action#click">
                    <input type="checkbox" data-target="check-all.all action.source">
                  </span>
                </th>
              <% end %>
              <th>Heure</th>
              <th>Durée</th>
              <th>Formation</th>
              
              <th><%= user_signed_in? ? "Intervenant" : "" %></th>
              <th colspan="2"><%= user_signed_in? ? "UE/Intitulé du cours" : "UE" %></th>
              <th>Salle</th>
              <% if policy(Cour).action? %>
                <th></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% current_date = "" %>
            <% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>

              <% if cours.debut.to_date != current_date %>
                <tr class="shadow-sm bg-light">
                  <% if policy(Cour).action? %><th></th><% end %>
                  <th colspan=<%= policy(Cour).action? ? '9' : '8' %>>
                    <%= fa_icon 'calendar-day' %>
                    <b><%= l(cours.debut.to_date, format: :long).humanize %></b> 
                  </th>
                </tr>
                <% current_date = cours.debut.to_date %>
              <% end %>  

              <%= render partial: 'cours', locals: { cours: cours } %>

            <% end %>
          </tbody>

          <tfoot>
            <tr>
              <% if policy(Cour).action? %>
                <th></th>
              <% end %>
              <th></th>
              <% if params[:paginate] == 'all' %>
                <th>
                  <%= number_with_precision(@all_cours.sum(:duree), precision: 1) %>h
                </th>
              <% else %>
                <th></th>  
              <% end %>
              <th colspan=6></th>
            </tr>
          </tfoot>
        </table>

        <div class="row">
          <div class="col">
            <% if params[:paginate] == 'pages' %>
              <%= page_entries_info @cours %>
              <%= will_paginate @cours, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
            <% end %>
          </div>
          <div class="col">
            <% if policy(Cour).action? %>
              <div data-target="action.selector">  
                <span class="align-bottom">
                  Choisir une action à exécuter sur les cours sélectionnés
                </span>
                <% actions = Cour.actions(current_user.role_number) %>
                <%= select_tag "action_name", options_for_select(actions), include_blank:true, class:"form-control", onchange:'this.form.submit()' %>
              </div>
            <% else %>
              <% if params[:formation].present? || params[:intervenant].present? %>
                <span class="align-bottom">Exporter vers </span>
                <%= link_to cours_url(format: :xls), class: 'btn btn-sm btn-success' do %>
                  <%= fa_icon 'file-excel' %>
                  Feuille Excel
                <% end %>

                <%= link_to cours_url(format: :pdf), class: 'btn btn-sm btn-danger' do %>
                  <%= fa_icon 'file-pdf' %>
                  Document PDF
                <% end %>

                <%= link_to url_for(params.permit!.merge(format: :ics)), class: 'btn btn-sm btn-primary' do %>
                  <%= fa_icon 'calendar-day' %>
                  Calendrier iCal
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    Aucun résultat à afficher... 
    <%= link_to "Effacer les filtres pour voir tous les cours", 
                  url_for(params.permit!.merge(commit: 'RàZ filtres')) %>
  <% end %>
<% else %>
  <%= render partial: params[:view] %>
<% end %>
<br>

