<% unless @cours_count.zero? %>
  <table style="width: 100%;">
    <thead>
      <tr style="font-size: 1.125rem; line-height: 1.75rem;">
        <th style="text-align: left; padding: .75rem 1rem;">Horaires</th>
        <th style="text-align: left; padding: .75rem 2.5rem;">Formation</th>
        <th style="text-align: left; padding: .75rem 1rem;">Intervenant</th>
        <th style="text-align: middle; padding: .75rem 1rem;">Salle</th>
      </tr>
    </thead>

    <tbody>
      <% if @les_cours_à_afficher.any? %>
        <%= render partial: "slide_cour", collection: @les_cours_à_afficher, as: :le_cours %>
      <% end %>
    </tbody>
  </table>

  <div style="margin-top: 1rem;">
    <%= @planning_date.to_formatted_s(:short) %> 
    |
    <% if @max_page_slide %> 
      Page <%= @current_page_slide + 1 %> sur <%= @max_page_slide + 1 %>
    <% end %>
    | <%= @cours_count %> Cours au total

  </div>

  <% if @alert %>
    <footer style="position: fixed; right: 0; bottom: 0; left: 0; padding: 0.5rem; margin-bottom: 0; border-radius: 0; font-size: 1.125rem; line-height: 1.75rem; "class="alert alert-<%= @alert.etat %>">
      <h3 style="margin-bottom: 0; font-size: 1.5rem; line-height: 2rem;"><%= truncate(@alert.message, length: 110) %></h3>
    </footer>
  <% end %>

<% else %>
  <h1 style="font-size: 2.25rem; line-height: 2.5rem;">
    <%= image_tag("http://www.bing.com/#{@image}", class:"img-thumbnail img-responsive") %>
  </h1>
<% end %>
<br><br>

<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, <%= @cours_count.zero? ? 60*60000 : 0.2*60000 %>); 
</script>
