<% unless @cours_count.zero? %>
  <table class="table table-sm">
    <thead>
      <tr class="text-lg">
        <th>Horaires</th>
        <th>Formation</th>
        <th>Intervenant</th>
        <th class="text-center">Salle</th>
      </tr>
    </thead>

    <tbody>
      <% if @les_cours_à_afficher.any? %>
        <%= render partial: "slide_cour", collection: @les_cours_à_afficher, as: :le_cours %>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= @planning_date.to_formatted_s(:short) %> 
    |
    <% if @max_page_slide %> 
      Page <%= @current_page_slide + 1 %> sur <%= @max_page_slide + 1 %>
    <% end %>
    | <%= @cours_count %> Cours au total

  </div>

  <% if @alert %>
    <footer class="fixed bottom-0 left-0 right-0 alert alert-<%= @alert.etat %> text-lg rounded-none mb-0 p-2">
      <h3 class="text-2xl mb-0"><%= truncate(@alert.message, length: 110) %></h3>
    </footer>
  <% end %>

<% else %>
  <h1 class="text-4xl">
    <%= image_tag("http://www.bing.com/#{@image}", class:"img-thumbnail img-responsive") %>
  </h1>
<% end %>
<br><br>

<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, <%= @cours_count.zero? ? 60*60000 : 0.2*60000 %>); 
</script>
