
<%= form_tag request.path, method: :get do %>

    <div class="form-group">
      <%= label_tag "Cours à partir du" %>
      <%= text_field_tag :start_date, params[:start_date], type: 'date', onchange: 'this.form.submit()', class: "form-control form-control-sm" %>
    </div>  
    
    <div class="form-group">
      <%= label_tag "Formation" %>    
      <%= select_tag :formation, grouped_options_for_select(Formation.for_select, params[:formation]), class:"form-control form-control-sm", include_blank:true, onchange:'this.form.submit()' %>
    </div>

    <div class="form-group">
      <%= label_tag "Intervenant" %>    
      <%= select_tag :intervenant, grouped_options_for_select(Intervenant.for_select, params[:intervenant]), class:"form-control form-control-sm", include_blank:true, onchange:'this.form.submit()' %>
    </div>

    <%= submit_tag 'Filtrer', class:"btn btn-sm btn-success" %>

    <%= submit_tag 'RàZ', class:"btn btn-sm btn-light" %>

<% end %>

<% current_date = "" %>
<% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>
  <% if cours.debut.to_date != current_date %>
    <hr>
    <h5>
      <%= fa_icon 'calendar-day' %>
      <%= l(cours.debut.to_date, format: :long).humanize %>
    </h5> 
    <% current_date = cours.debut.to_date %>
  <% end %>  

  <%= render partial: 'cours', locals: {cours: cours } %>
<% end %>
<hr>

<div class="page_info">
  <%= page_entries_info @cours %>
</div>

<%= will_paginate @cours, inner_window: 2, outer_window: 0, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>