<% unless @cours_count.zero? %>
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>Horaires</th>
        <th>Formation</th>
        <th>Intervenant</th>
        <th>Salle</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'slide', 
                  collection: @cours, 
                  as: :cours 
      %>
    </tbody>
  </table>

  <span class="navbar-text">
    <% if @max_page_slide %> 
      Page <%= session[:page_slide] %> sur <%= @max_page_slide %>
    <% end %>
    | <%= @cours_count %> Cours au total
  </span>

<% else %>
  <h1>
    <%= image_tag("http://www.bing.com/#{@image}", class:"img-thumbnail img-responsive") %>
  </h1>
<% end %>
<br><br>

<script type="text/javascript">    
    setInterval(function() {
        window.location.reload();
    }, <%= @cours_count.zero? ? 60*60000 : 0.2*60000 %>); 
</script>
