<%= form_tag request.path, method: :get do %>

    <div class="form-group">
      <%= label_tag "Cours à partir du" %>
      <%= text_field_tag :start_date, params[:start_date], type: 'date', onchange: 'this.form.submit()', class: "form-control form-control-sm", id: 'Cours à partir du' %>
    </div>  
    
    <div class="form-group">
      <%= label_tag "Formation" %>    
      <%= select_tag :formation, options_for_select(@formations, params[:formation]), class:"custom-select", include_blank:true, onchange:'this.form.submit()' %>
    </div>

    <div class="form-group">
      <%= label_tag "Intervenant" %>    
      <%= text_field_tag :intervenant_nom, params[:intervenant_nom], class:"form-control", onchange:'this.form.submit()', id:'Intervenant' %>
    </div>

    <%= submit_tag 'Filtrer', class:"btn btn-sm btn-success" %>

    <%= submit_tag 'RàZ', class:"btn btn-sm btn-light" %>

<% end %>
<br>

<% current_date = '' %>
<% @cours.each do | cours | %>
  <% if cours.debut.to_date != current_date %>
    <div class="text-primary m-3">
      <br>
      <h6>
          <%= fa_icon 'calendar-day' %>
        <%= l(cours.debut.to_date, format: :long).humanize %>
      </h6> 
    </div>
    <% current_date = cours.debut.to_date %>
  <% end %>  

  <%= render partial: 'cours', 
             locals: { cours: cours, cours_formation: Formation.unscoped.find(cours.formation_id) } %>
<% end %>
<br>

<div class="page_info m-3">
  <%= page_entries_info @cours %>
</div>

<%= will_paginate @cours, inner_window: 0, 
                          outer_window: 0, 
                          renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                          list_classes: %w(pagination justify-content-center h3) %>

<br>