<% if @alert %>
  <%= content_tag :div, 
      class: "alert mt-3 alert-#{@alert.etat} alert-dismissable",
      role: "alert" do %>
    <button type="button" class="close" data-dismiss="alert" aria-label="bouton du menu">
      <span aria-hidden="true">&times;</span>
      <span class="sr-only">Close</span>
    </button>
    <%= @alert.message %>
  <% end %>
<% end %>

<%= form_tag request.path, method: :get do %>

  <div class="form-group">
    <%= label_tag "Cours à partir du" %>
    <%= text_field_tag :start_date, params[:start_date], type: 'date', onchange: 'this.form.submit()', class: "form-control form-control-sm", id: 'Cours___partir_du' %>
  </div>  
  
  <div class="form-group">
    <%= label_tag "Formation" %>    
    <%= select_tag :formation, options_for_select(@formations, params[:formation]), 
                    class: "select2-w100",
                    include_blank: true, onchange: 'this.form.submit()' %>
  </div>

  <% if user_signed_in? %>
    <div class="form-group">
      <%= label_tag "Intervenant" %>
      <%= select_tag :intervenant, grouped_options_for_select(Intervenant.for_select, params[:intervenant]), 
                        class: "select2-w100",
                        include_blank: true,
                        onchange:'this.form.submit()' %>
    </div>
  <% end %>

  <%= button_tag name: 'commit', value: 'Filtrer', class: "btn btn-success" do %>
    <i class="fas fa-filter"></i> 
    Filtrer
  <% end %>
  <% if params.values.count(nil) < 5 %>
    <%= button_tag name: 'commit', value: 'RàZ', class: "btn btn-light" do %>
      <i class="fas fa-times"></i> 
      Voir tous
    <% end %>
  <% end %>
<% end %>

<% current_date = '' %>
<% @cours.each do | cours | %>
  <% _date_cours = cours.debut.to_date %>
  <% if _date_cours != current_date %>
    <div class="shadow-sm bg-light mt-3 py-2">
      <%= fa_icon 'calendar-day' %>
      <b><%= l(_date_cours, format: :long).humanize %></b>
    </div>
    <% current_date = _date_cours %>
  <% end %>  

  <%= render partial: 'cours', locals: { cours: cours } %>

<% end %>
<br>

<% if @cours.length > 0 %>
  <div class="page_info m-3">
    <%= page_entries_info @cours %>
  </div>

  <%= will_paginate @cours, inner_window: 0, 
                            outer_window: 0, 
                            renderer: WillPaginate::ActionView::BootstrapLinkRenderer,
                            list_classes: %w(pagination justify-content-center h4) %>
<% else %>
  <p>
    Aucun cours à afficher...
  </p>
<% end %>
<br>