<% if @alert && !user_signed_in? %>
  <%= content_tag :div, 
      class: "chat chat-start my-4",
      role: "alert" do %>
    <div class="chat-bubble chat-bubble-<%= @alert.etat %> text-white">
      <%= @alert.message %>
    </div>
  <% end %>
<% end %>

<div class="flex items-center justify-between border-b mt-6 mb-4 pb-4">
  <h1 class="text-3xl flex items-center gap-3">
    <span class="material-symbols-outlined text-3xl">
      calendar_month
    </span>
    Planning des cours
  </h1>
  <% if policy(Cour).new? %>
    <%= link_to new_cour_path(formation: session[:formation], 
                              debut: DateTime.now), 
                              class: 'btn btn-sm btn-primary btn-outline hover:!text-white' do %>
      <%= fa_icon 'plus-circle' %> Nouvelle réservation
    <% end %>
  <% end %>
</div>

<div class="bs-container p-4 shadow mb-4">
  <%= form_tag cours_path, method: :get do %>
    <div class="flex flex-wrap">
      <div class="sm:w-5/12 pr-2 flex flex-col justify-between">
        <%= label_tag :formation %>   
        <%= select_tag :formation, grouped_options_for_select(Formation.for_select, params[:formation]), class: 'slim-select',
                        include_blank:true, onchange: 'this.form.submit()' %>
      </div>

      <div class="sm:w-2/12 px-2 flex flex-col justify-between">
        <%= label_tag :ue, "U.E." %>   
        <%= select_tag :ue, options_for_select((0..20), params[:ue]), class:'slim-select',
                        include_blank:true, onchange: 'this.form.submit()' %>
      </div>
      <% if user_signed_in? %>
        <div class="sm:w-5/12 pl-2 flex flex-col justify-between">
          <%= label_tag :intervenant %>
          <div class="join w-full">
            <%= select_tag :intervenant, grouped_options_for_select(Intervenant.for_select, params[:intervenant]), 
                            class: "slim-select",
                            include_blank:true,
                            onchange: 'this.form.submit()' %>
            <% if params.values.count(nil) < 5 %>
              <%= button_tag name: 'commit', value: 'RàZ', class: "btn text-slate-500 btn-sm", title: "Remise à zéro des filtres" do %>
                <i class="fas fa-times"></i> 
                RàZ
              <% end %>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="sm:w-5/12 pl-2">
          <%= label_tag :intervenant %>
          <%= select_tag :intervenant, nil, class: "slim-select" %>
        </div>
      <% end %>
    </div>
    <br>

    <div class="flex flex-wrap">
      <div class="sm:w-2/12 ">
        <%= label_tag :filter, "Cours" %>
        <div class="flex flex-wrap gap-2 mt-1">
          <label class="flex items-center gap-1 cursor-pointer mr-5">
            <%= radio_button_tag :filter, "all", (params[:filter]=='all'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
            <span class="label-text">Tous</span>
          </label> 
        
          <label class="flex items-center gap-1 cursor-pointer">
            <%= radio_button_tag :filter, "upcoming", (params[:filter]=='upcoming'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
            <span class="label-text">À venir :</span>
          </label>
        </div >
      </div>

      <div class="sm:w-2/12 px-2">
        <%= label_tag :start_date, "A partir du" %>    
        <%= text_field_tag :start_date, params[:start_date], type: 'date', onchange: 'this.form.submit()', class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="sm:w-2/12 px-2">
        <%= label_tag :week_number, "Semaine" %>    
        <%= text_field_tag :week_number, params[:week_number], type: 'week', onchange: 'this.form.submit()', class: "input input-bordered input-sm w-full" %>
      </div>

      <div class="relative flex-grow max-w-full flex-1 px-2">
        <%= label_tag :etat, "Etat" %>
        <%= select_tag :etat, options_for_select(Cour.etats_humanized, params[:etat]), include_blank:true,
                class:"select select-bordered select-sm w-full", onchange: 'this.form.submit()' %>
      </div>

      <div class="sm:w-3/12 px-2">
        <%= label_tag :view, "Vue" %>
        <div class="flex flex-wrap gap-2 mt-1">
          <label class="flex items-center gap-1 cursor-pointer">
            <%= radio_button_tag :view, "list", (params[:view]=='list'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
            <span class="label-text">Liste</span>
          </label>
          <label class="flex items-center gap-1 cursor-pointer">
            <%= radio_button_tag :view, "calendar_rooms", (params[:view]=='calendar_rooms'), onchange:'this.form.submit()', class: 'radio radio-xs' %>    
            <span class="label-text">Salles</span>
          </label>
          <label class="flex items-center gap-1 cursor-pointer">
            <%= radio_button_tag :view, "calendar_week", (params[:view]=='calendar_week'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
            <span class="label-text">Sem.</span>
          </label>
          <label class="flex items-center gap-1 cursor-pointer">
            <%= radio_button_tag :view, "calendar_month", (params[:view]=='calendar_month'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
            <span class="label-text">Mois</span>
          </label>
        </div>
      </div>

      <div class="sm:w-2/12 pl-2">
        <% if params[:view] == 'list' %>
          <%= label_tag :paginate, "Afficher" %>
          <div class="flex flex-wrap gap-2 mt-1">
            <label class="flex items-center gap-1 cursor-pointer">
              <%= radio_button_tag :paginate, "pages", (params[:paginate]=='pages'), onchange:'this.form.submit()', class: 'radio radio-xs' %>
              <span class="label-text">Pages</span>
            </label>
            <label class="flex items-center gap-1 cursor-pointer" title="<%= "La pagination est active lorsqu'il n'y a pas de formation ou d'intervenant sélectionné" if disabled_paginate?(params) %>">
              <%= radio_button_tag :paginate, "all", (params[:paginate]=='all'), onchange:'this.form.submit()', disabled: disabled_paginate?(params), class: 'radio radio-xs' %>
              <span class="label-text">Tout</span>
            </label>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if params[:view] == 'list' %>
  <% if @cours.size > 0 %>
    
    <%= form_tag action_cours_path, name: 'action' do %>
      <div data-controller="checkbox-select-all action">
        <div class="overflow-x-auto">
          <table class="table">
            <thead class="bg-slate-100 border">
              <tr>
                <% if policy(Cour).action? %>
                  <th>
                    <span class="flex" data-action="click->action#click">
                      <input type="checkbox" data-checkbox-select-all-target="checkboxAll" data-action-target="source">
                    </span>
                  </th>
                <% end %>
                <th>Heure</th>
                <th>Durée</th>
                <th>Formation</th>
                
                <th><%= user_signed_in? ? "Intervenant" : "" %></th>
                <th colspan="2"><%= user_signed_in? ? "UE/Intitulé du cours" : "UE" %></th>
                <th>Salle</th>
                <% if policy(Cour).action? %>
                  <th></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% current_date = "" %>
              <% @cours.includes(:formation, :intervenant, :salle).each do | cours | %>

                <% if cours.debut.to_date != current_date %>
                  <tr class="border bg-slate-50">
                    <th colspan=<%= policy(Cour).action? ? '9' : '8' %>>
                      <div class="flex items-center gap-1 text-xl font-normal">
                        <%= l(cours.debut.to_date, format: :long).humanize %>
                      </div>
                    </th>
                  </tr>
                  <% current_date = cours.debut.to_date %>
                <% end %>  

                <%= render partial: 'cours', locals: { cours: cours } %>

              <% end %>
            </tbody>

            <tfoot>
              <tr>
                <% if policy(Cour).action? %>
                  <th></th>
                <% end %>
                <th></th>
                <% if params[:paginate] == 'all' %>
                  <th>
                    <%= number_with_precision(@all_cours.sum(:duree), precision: 1) %>h
                  </th>
                <% else %>
                  <th></th>  
                <% end %>
                <th colspan=6></th>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="flex flex-wrap items-end">
          <div class="relative flex-grow max-w-full flex-1">
            <% if params[:paginate] == 'pages' %>
              <%= page_entries_info @cours %>
              <div class="planning_pagination">
                <%= will_paginate @cours %>
              </div>
            <% end %>
          </div>
          <div class="relative flex-grow max-w-full flex-1">
            <div data-action-target="selector" class="mb-4">
              <% if policy(Cour).action? %>
                <span class="align-bottom">
                  Choisir une action à exécuter sur les cours sélectionnés
                </span>
                <% actions = Cour.actions(current_user) %>
                <% if ENV["USER_CHANGE_CLASSROOMS_IDS"].split(',').map(&:to_i).include?(current_user.id) %>
                  <!-- Raccourci vers chgt salle pour les utilisateurs autorisés -->
                  <%= select_tag "action_name", options_for_select(actions, 'Changer de salle'), include_blank:true, class:"select select-bordered select-sm w-full", onchange:'this.form.submit()' %>
                  <%= submit_tag 'Les changer tous de salle !', 'data-turbo': false, class: 'btn btn-sm btn-success btn-outline' %>
                <% else %>
                  <%= select_tag "action_name", options_for_select(actions), include_blank:true, class:"select select-bordered select-sm w-full", onchange:'this.form.submit()' %>
                <% end %>
              <% end %>
            </div>
            <% if user_signed_in? && (params[:formation].present? || params[:intervenant].present?) %>
              <div class="float-right">
                <%= link_to url_for(request.parameters.merge(format: :xls)), class: 'btn btn-xs btn-success btn-outline' do %>
                  <%= fa_icon 'file-excel' %>
                  Feuille Excel
                <% end %>

                <%= link_to url_for(request.parameters.merge(format: :pdf)), class: 'btn btn-xs btn-error btn-outline' do %>
                  <%= fa_icon 'file-pdf' %>
                  Document PDF
                <% end %>

                <%= link_to url_for(request.parameters.merge(format: :ics)), class: 'btn btn-xs btn-info btn-outline' do %>
                  <%= fa_icon 'calendar' %>
                  Calendrier
                <% end %>
              </div>

            <% end %>
        </div>
      </div>
    <% end %>

    <% if user_signed_in? && (current_user.intervenant? || current_user.enseignant?) && params[:intervenant].present? %>
      <%= render partial: "sync-ical", locals: {url: calendrier_intervenant_url(Intervenant.where("LOWER(intervenants.email) = ?", current_user.email.downcase).first.slug, format: :ics)} %>
    <% end %>
  <% else %>
    Aucun résultat à afficher... 
    <%= link_to "Effacer les filtres pour voir tous les cours", 
                  url_for(params.permit!.merge(commit: 'RàZ filtres')), class: 'text-primary hover:underline' %>
  <% end %>
<% else %>
  <%= render partial: params[:view] %>
<% end %>
<br>

<%= render partial: 'partials/script_progress_bar' if params[:view] == 'list' %>