<h1 class="text-3xl text-base-content mt-6 border-b pb-4"><%= fa_icon 'calendar-day' %> Planning du <%= l(Date.today, format: :long).humanize %></h1>

<% if @cours.any?%>
  <div class="sm:flex sm:flex-wrap w-full gap-6">
    <% @cours.each do |cour| %>
      <%= render partial: 'ma_session', locals: {cour: cour} %>
    <% end %>
  </div>
<% else %>
  <div class="chat chat-start mt-12 mb-4">
    <div class="chat-bubble chat-bubble-primary text-white">
      <p class="text-xl font-bold">Aucun cours <%= @etudiant.try(:formation).try(:abrg) %> aujourd'hui !</p>
    </div>
  </div>
  <span>Vous n'avez pas de cours planifiés pour aujourd'hui...</span>
<% end %>

<%= link_to 'Voir mes prochains cours.', cours_path(start_date: Date.tomorrow, formation_id: @etudiant.formation.id), class: 'text-primary hover:underline' %>
