<h3 class="text-2xl mt-6"><%= @cours.first.try(:formation).try(:abrg) %></h3>
<h4 class="text-xl text-base-content my-6"><%= fa_icon 'calendar-day' %> <%= l(Date.today, format: :long).humanize %></h4>

<% if @cours.any?%>
  <div class="sm:flex sm:flex-wrap w-full gap-6">
    <% @cours.each do |cour| %>
      <%= render partial: 'ma_session', locals: {cour: cour} %>
    <% end %>
  </div>
<% else %>
  <div class="chat chat-start my-4">
    <div class="chat-bubble chat-bubble-primary text-white">
      <b>Aucun cours aujourd'hui !</b>
      <br>
      Vous n'avez pas de cours planifiés pour aujourd'hui.
    </div>
  </div>
<% end %>

<%= link_to 'Voir mes prochains cours...', cours_path(start_date: Date.tomorrow, formation_id: @etudiant.formation.id), class: 'link' %>
