<div class="card shadow p-4 mt-4">
  <div>
    <div class="join float-right">
      <% if policy(@cour).edit? %>
        <%= link_to edit_cour_path(@cour), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>
      <% end %>
      <% if policy(@cour).destroy? %>
        <%= link_to(@cour,'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ? la suppression définitive de ce cours ?', class: 'btn btn-sm btn-primary btn-outline join-item' ) do %>
          <%= fa_icon 'trash-alt' %> Supprimer
        <% end %>
      <% end %>

      <%= link_to cours_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="sm:w-1/6 px-4">
      <h2>
        <span style="opacity: 80%;">
          <%= fa_icon 'calendar-day 2x' %>
        </span>
      </h2>
    </div>    

    <div class="sm:w-2/5 px-4">
      <h3>
        <%= l(@cour.debut, format: :long) %>
      </h3>
    </div>
  
    <div class="relative flex-grow max-w-full flex-1">
      <h3>
        <span style="background-color:<%= @cour.formation.try(:color) %>;padding-left: 5px;margin-right: 5px;"></span>
        <%= @cour.formation.try(:nom_promo) %>
      </h3>
    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Intitulé</small><br>
        <%= @cour.nom_ou_ue %>
      </h4>
    </div>
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Intervenant</small><br>
        <%= link_to @cour.intervenant.nom_prenom, @cour.intervenant %>
      </h4>
    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Durée</small><br>
        <%= @cour.duree %>h
      </h4>
    </div>
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Fin</small><br>
        <%= l(@cour.fin, format: :long) %>
      </h4>
    </div>
  </div>

  <div class="flex flex-wrap mt-4">
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Salle</small><br>
        <% if @cour.salle %>
          <span class="badge badge-<%= @cour.style %>">
            <%= @cour.salle.nom %>
          </span>             

          <% if @cour.formation.try(:nbr_etudiants) && (@cour.formation.try(:nbr_etudiants) > @cour.salle.places) %>
            <span class="badge" title="Manque <%= @cour.formation.nbr_etudiants - @cour.salle.places %> place.s">
              <%= fa_icon 'exclamation-circle' %>
            </span>
          <% end %>
        <% end %>
      </h4>
    </div>
    <div class="relative flex-grow max-w-full flex-1">
      <h4>
        <small class="text-secondary">Etat</small><br>
        <span class="label <%= @cour.style %>"><%= @cour.etat.humanize %></span>
      </h4>
    </div>
  </div>
      
  <h4 class="mt-4">
    <small class="text-secondary">Commentaires</small><br>
  </h4>
  <p>
    <%= @cour.commentaires %>
  </p>

  <hr>

  <% if @cour.audits.any? %>
    <br>
    <h4>Audit des modifications</h4>
    <table class="table table-bordered table-sm">
      <thead>
        <th>Date</th>
        <th>Utilisateur</th>            
        <th>Type</th>
        <th>Record_id</th>
        <th>Action</th>
        <th>Modifications</th>
      </thead>

      <%= render partial: 'tools/audit', collection: @cour.audits %>

    </table>
  <% end %>
</div>
<br>
