<div class="pb-2 mt-4 mb-2 border-top">
  <% if current_user.admin? || current_user.reserver? %>
    <div class="btn-group float-right">
      <%= link_to edit_cour_path(@cour), class: 'btn btn-sm btn-outline-primary' do %>
        <%= fa_icon 'edit' %> Modifier
      <% end %>

      <%= link_to(@cour, method: :delete, data:{confirm: 'Confirmez-vous la suppression définitive de ce cours ?'}, class: 'btn btn-sm btn-outline-primary' ) do %>
        <%= fa_icon 'trash-alt' %> Supprimer
      <% end %>

      <%= link_to cours_path, class: 'btn btn-sm btn-outline-primary' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  <% end %>
</div>

<h2>
  <%= l(@cour.debut, format: :long) %>
</h2>

<h3>
  <span style="background-color:<%= @cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
  <%= @cour.formation.try(:nom_promo) %>
</h3>

<h4>
  <%= @cour.nom_ou_ue %>
</h4>
<br>

<p>
  <strong>Durée:</strong>
  <%= @cour.duree %>h
</p>

<p>
  <strong>Fin:</strong>
  <%= l(@cour.fin, format: :long) %>
</p>

<p>
  <strong>Intervenant:</strong>
  <%= link_to @cour.intervenant.nom_prenom, @cour.intervenant %>
</p>

<p>
  <% if @cour.salle %>
    <h6>
      <strong>Salle:</strong>
      <span class="badge badge-pill badge-<%= @cour.style %>">
        <%= @cour.salle.nom %>
      </span>             

      <% if @cour.formation.nbr_etudiants > @cour.salle.places %>
        <i title="Manque <%= @cour.formation.nbr_etudiants - @cour.salle.places %> place.s">
          <%= fa_icon 'exclamation-circle' %>
        </i>
      <% end %>
    </h6>
  <% end %>
</p>

<p>
  <strong>Etat:</strong>
  <span class="label <%= @cour.style %>"><%= @cour.etat.humanize %></span>
</p>

<p>
  <strong>Commentaires:</strong>
  <%= @cour.commentaires %>
</p>

<br>

<% if @cour.audits.any? %>
  <h3></span> Audit des modifications</h3>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <th>Date</th>
      <th>Utilisateur</th>            
      <th>Type</th>
      <th>Record_id</th>
      <th>Action</th>
      <th>Modifications</th>
    </thead>

    <%= render partial: 'tools/audit', collection: @cour.audits %>

  </table>
<% end %>
