<h1 class="text-base-content">Session</h1>

<%= render partial: 'ma_session', locals: {cour: @cour} %>

<h2 class="text-base-content">Signature présence</h2>
<h4 class="text-base-content"><%= current_user.nom_et_prénom %></h4>

<%= form_with(model: @presence, url: signature_etudiant_do_cours_path) do |form| %>

  <%= form.hidden_field :id %>
  <%= form.text_field :signature, style: 'display: none' %>
  
  <div id="signature">
    <div class="wrapper">
      <canvas id="signature-pad" class="signature-pad" style="border: 1px #ccc solid;" width=350 height=300></canvas>
    </div>

    <div style="margin-top: 8px;">
      <button id="save" class="btn btn-success mr-4">Enregistrer</button>
      <a id="clear" class='btn btn-light'>Effacer</a>
    </div>
  </div>
<% end %>

<p class="my-6"><%= link_to 'Retour', mes_sessions_etudiant_path %></p>

<%= render 'signature_pad' %>