<div class="calendar">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <% date_range.slice(0, 6).each do |day| %>
          <th class="text-lg" style="width: 160px;">
            <b><%= l(day, format: :short) %></b>
            <br>
            <% if @salle %>
              <% if Ouverture.where(bloc: @salle.bloc, jour: day.wday).any? %>
                <% if ouverture = Ouverture.where(jour: day.wday).find_by(bloc: @salle.bloc) %>
                  <small style="color: green">
                    <%= ouverture.horaires %>
                  </small>
                <% end %>
              <% end %>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <td>
            <% if @salle %>
              <p id=<%= @salle.nom %> class="text-2xl" style="text-align: center;vertical-align: middle;">
                <b><%= @salle.nom %></b>
                <br>
                <small>(<%= @salle.places %>)</small>
              </p>
            <% else %>
              <span>À BOOKER</span>
            <% end %>
          </td>
          
          <% week.each do |day| %>
            <% unless day.sunday? %>
              <% day_style_class = 'shadow bg-amber-100' if day == Date.today %>
              <% day_style_class = 'shadow alert-error' if Fermeture.find_by(date: day) %>
              
              <%= content_tag :td, class: day_style_class do %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>  
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
