<tr class="table-<%= envoi_log.prêt? ? 'primary' : 'light' %>">
    <td class="text-right"><%= envoi_log.id %></td>
    <td><%= l envoi_log.date_prochain %></td>
    <td>
        <span class="badge <%= envoi_log.style %>"><%= envoi_log.workflow_state.humanize %></span>
    </td>
    <td><%= envoi_log.cible %></td>
    <td><%= envoi_log.msg %></td>
    <td><%= envoi_log.date_exécution %></td>

    <td><%= link_to 'Voir', envoi_log %></td>
    <td>
        <% if envoi_log.current_state < :lancé %>
        <%= link_to 'Modifier', edit_envoi_log_path(envoi_log) %>
        <%= link_to_if envoi_log.prêt?, 'Suspendre', suspendre_envoi_log_path(envoi_log) %>
        <%= link_to_if envoi_log.pause?, 'Activer', activer_envoi_log_path(envoi_log) %>
        <%= link_to_if envoi_log.prêt?, 'Lancer', lancer_envoi_log_path(envoi_log) %>
        <% end %>
    </td>
</tr>
