<tr>
    <td class="text-right"><%= envoi_log.id %></td>
    <td><%= l envoi_log.date_prochain %></td>
    <td>
        <span class="badge <%= envoi_log.style %>"><%= envoi_log.workflow_state.humanize %></span>
    </td>
    <td><%= envoi_log.cible %></td>
    <td><%= time_ago_in_words(envoi_log.date_exécution) if envoi_log.date_exécution %></td>
    <td>
        <%= link_to envoi_log, class: "btn btn-sm btn-link" do %>
            <%= fa_icon 'eye', text: ' Voir' %>
        <% end %>
    </td>

    <% if envoi_log.current_state < :lancé %>
        <td>
            <%= link_to edit_envoi_log_path(envoi_log), class: "btn btn-sm btn-link" do %>
                <%= fa_icon 'edit', text: ' Modifier' %>
            <% end %>
        </td>
        <td>
            <% if envoi_log.prêt? %>
                <%= link_to suspendre_envoi_log_path(envoi_log), class: "btn btn-sm btn-secondary", title: "Passe en état 'Pause'. La notification ne sera pas exécutée à la date prévue" do %>
                    <%= fa_icon 'pause', text: ' Suspendre' %> 
                <% end %>
            <% else %>
                <%= link_to '#', class: "btn btn-sm btn-light", title: "Passe en état 'Pause'. La notification ne sera pas exécutée à la date prévue" do %>
                    <%= fa_icon 'pause', text: ' Suspendre' %> 
                <% end %>
            <% end %>
        </td>
        <td>    
            <% if envoi_log.pause? %>
                <%= link_to activer_envoi_log_path(envoi_log), class: "btn btn-sm btn-success", title: "Passe en état 'Prêt'. La notification sera exécutée à la date prévue" do %>
                    <%= fa_icon 'play', text: ' Activer' %>
                <% end %>
            <% else %>
                <%= link_to '#', class: "btn btn-sm btn-light", title: "Passe en état 'Prêt'. La notification sera exécutée à la date prévue" do %>
                    <%= fa_icon 'play', text: ' Activer' %>
                <% end %>
            <% end %>
        </td>
        <td>
            <% if envoi_log.prêt? %>
                <%= link_to lancer_envoi_log_path(envoi_log), class: "btn btn-sm btn-primary", title: "Lancer le job pour envoyer les notifications à la cible choisie" do %>
                    <%= fa_icon 'paper-plane', text: ' Envoyer' %>
                <% end %>
            <% else %>
                <%= link_to '#', class: "btn btn-sm btn-light", title: "Lancer le job pour envoyer les notifications à la cible choisie" do %>
                    <%= fa_icon 'paper-plane', text: ' Envoyer' %>
                <% end %>
            <% end %>
        </td>
    <% else %>
        <% 4.times do %><td></td><% end %>
    <% end %>
</tr>
