<tr>
  <td>
    <%= envoi_log.id %>
  </td>
  <td>
    <%= "il y a #{time_ago_in_words(envoi_log.updated_at)}" %>
  </td>
  <td>
    <% if (envoi_log.cible == 'Intervenant') && intervenant = Intervenant.find(envoi_log.cible_id) %>
      <%= intervenant.nom_prenom %>
    <% elsif envoi_log.cible == 'Formation' %>
      <%= "Formation : #{Formation.find(envoi_log.cible_id).abrg}" %>
    <% else %>
      Tous
    <% end %>
  </td>
  <td>
    <%= "#{l(envoi_log.date_début, default: '')} - #{l(envoi_log.date_fin, default: '')}" %>
  </td>
  <td>
    <h5><span class="badge <%= envoi_log.style %>"><%= envoi_log.workflow_state.humanize %></span></h5>
  </td>
  <td>
    <% if envoi_log.prêt? %>
      <%= link_to suspendre_envoi_log_path(envoi_log), class: "btn btn-sm btn-secondary", title: "Passe en état 'Pause'. La notification ne sera pas exécutée" do %>
        <%= fa_icon 'pause', text: ' Pause' %> 
      <% end %>
    <% elsif envoi_log.pause? %>
      <%= link_to activer_envoi_log_path(envoi_log), class: "btn btn-sm btn-warning", title: "Passe en état 'Prêt'. La notification sera exécutée" do %>
        <%= fa_icon 'play', text: ' Activer' %>
      <% end %>
      <%= link_to annuler_envoi_log_path(envoi_log), class: "btn btn-sm btn-danger", title: "Passe en état 'Annulé'. La notification ne sera pas exécutée" do %>
        <%= fa_icon 'times', text: ' Annuler' %>
      <% end %>
    <% end %>
  </td>
  <td><%= "il y a #{time_ago_in_words(envoi_log.date_exécution)}" if envoi_log.date_exécution %></td>
  <td><%= link_to_if (not envoi_log.mail_count.to_i.zero?), envoi_log.mail_count, mail_logs_path %></td>
  <td>
    <%= link_to "Détails", envoi_log %>
  </td>
</tr>
