<div class="border-b mt-6 mb-2 pb-4">
  <% if policy(EnvoiLog).new? %>
    <%= link_to tools_rappel_des_cours_path, class: 'text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Rappel
    <% end %>
  <% end %>
  <h3 class="text-3xl"><%= fa_icon 'bell' %> Rappel des cours (file d'attente)</h3>
</div>

<div class="bs-container p-4 shadow mb-4">
  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap">
      <div class="sm:w-1/5 pr-4">
        <%= label_tag :workflow_state, "État" %>
        <%= select_tag :workflow_state, options_for_select(EnvoiLog.workflow_spec.states.keys, params[:workflow_state]), include_blank:true, onchange:'this.form.submit()', class:"select select-bordered select-sm w-full" %>
      </div>
    </div>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="table table-sm">
    <thead class="bg-base-200 border">
      <tr>
        <th>ID</th>
        <th>MÀJ</th>
        <th>Destinataire(s)</th>
        <th>Période</th>
        <th>État</th>
        <th></th>
        <th>Envoyé</th>
        <th>Mails</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= render @envoi_logs %>
    </tbody>

  </table>
</div>

<div class="page_info">
  <%= page_entries_info @envoi_logs %>
</div>

<div class="planning_pagination">
  <%= will_paginate @envoi_logs %>
</div>

<% if params[:workflow_state] == "prêt" %>
  <div class="flex mt-6" style="gap: 1rem">
    <%= link_to "Envoyer les rappels 'prêts' aux testeurs (mode test)", envoyer_envoi_logs_path(test: true), class: 'btn btn-warning' %>
    <%= link_to "Envoyer le rappel des cours 'prêts'", envoyer_envoi_logs_path, class: 'btn btn-error' %>
  </div>
<%end %>