<div class="pb-2 mt-4 mb-2 border-top">
  <div class="btn-group float-end">
    <%= link_to edit_envoi_log_path(@envoi_log), class: 'btn btn-sm btn-outline-primary' do %>
      <%= fa_icon 'edit' %> Modifier
    <% end %>

    <a href="#audit" data-bs-toggle="collapse" class='btn btn-sm btn-outline-primary'>
      <%= fa_icon 'search' %> Audit
    </a>

    <%= link_to envoi_logs_path, class: 'btn btn-sm btn-outline-primary' do %>
      <%= fa_icon 'list' %> Retour
    <% end %>
  </div>
</div>

<p>
    <strong>Id : </strong>
    <%= @envoi_log.id %>
</p>

<p>
    <strong>Envoi prévu le : </strong>
    <%= l @envoi_log.date_prochain %>
</p>

<p>
    <strong>Statut : </strong>
    <span class="badge <%= @envoi_log.style %>"><%= @envoi_log.workflow_state.humanize %></span>
</p>

<p>
    <strong>Date d'exécution : </strong>
    <%= l(@envoi_log.date_exécution) if @envoi_log.date_exécution %>
</p>

<p>
    <strong>Message :</strong>
    <br>
    <div class="jumbotron">
        <%= @envoi_log.msg %>
    </div>
</p>

<div id="audit" class="collapse">
    <br>

    <h4>Audit des modifications</h4>
    <table class="table table-sm">
        <% @envoi_log.audits.each do | audit | %>
            <tr>
                <td><%= audit.created_at %></td>
                <td><%= audit.audited_changes %></td>
            </tr>
        <% end %>
    </table>

</div>