<div class="pb-2 mt-6 mb-2 border-t">
  <div class="join float-right">
  <%= link_to edit_envoi_log_path(@envoi_log), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
    <%= fa_icon 'edit' %> Modifier
  <% end %>

  <%= link_to envoi_logs_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
    <%= fa_icon 'list' %> Retour
  <% end %>
  </div>
</div>

<p class="mb-4">
  <strong>Id : </strong>
  <%= @envoi_log.id %>
</p>

<p class="mb-4">
  <strong>Envoi prévu le : </strong>
  <%= l @envoi_log.date_prochain %>
</p>


<p class="mb-4">
  <strong>Destinaire : </strong>
  <% if (['Intervenant', 'Examen'].include?(@envoi_log.cible)) && intervenant = Intervenant.find(@envoi_log.cible_id) %>
    <%= intervenant.nom_prenom %>
  <% else %>
    <%= "#{@envoi_log.cible} #{@envoi_log.cible_id}" %>
  <% end %>
</p>

<p class="mb-4">
  <strong>Statut : </strong>
  <span class="badge <%= @envoi_log.style %> text-white"><%= @envoi_log.workflow_state.humanize %></span>
</p>

<p class="mb-4">
  <strong>Date d'envoi : </strong>
  <%= l(@envoi_log.date_exécution) if @envoi_log.date_exécution %>
</p>


<p class="mb-4">
  <strong>Nombre de rappels envoyés : </strong>
  <%= @envoi_log.mail_count %>
</p>

<p class="mb-4">
  <strong>Période : </strong>
  <%= l(@envoi_log.date_début, default: '') %>
  -
  <%= l(@envoi_log.date_fin, default: '') %>
</p>



<p class="mb-4">
  <strong>MÀJ : </strong>
  <%= "#{l @envoi_log.updated_at} (il y a #{time_ago_in_words(@envoi_log.updated_at)})" %>
</p>

<p class="mb-4">
  <strong>Message :</strong>
  <br>
  <div class="py-8 px-4 md:py-16 md:px-8 mb-8 bg-gray-200 rounded">
    <%= @envoi_log.message %>
  </div>
</p>

<div id="audit">
  <h4 class="text-xl">Audit des modifications</h4>
  <div class="overflow-x-auto">
    <table class="table table-sm">
      <% @envoi_log.audits.each do | audit | %>
        <tr>
          <td><%= "il y a #{time_ago_in_words(audit.created_at)}" %></td>
          <td><%= audit.audited_changes %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>