<div class="d-flex flex-column justify-content-center align-items-center mb-5">
  <% unless request.variant.include?(:phone) %>
    <%= image_tag "logo@2000.png", style: "width: 100%; max-width: 500px;" %>
  <% end %>
  <div class="border border-dark rounded shadow w-100 p-5" style="max-width: 500px">
    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="text-center border-bottom mb-3 pb-3">
        <%= t('.sign_in') %>
      </h1>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <%= f.email_field :email, autofocus: true, required: true %>
            <%= f.password_field :password, autocomplete: "off", required: true %>
            <% if devise_mapping.rememberable? %>
              <%= f.check_box :remember_me %>
            <% end %>
            <br>
            <div class="actions">
              <%= f.submit t('.sign_in'), class: "btn btn-primary mb-3" %>
              <br>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>