<%= form_for(@formation) do |f| %>
  <% if @formation.errors.any? %>
    <div class="alert alert-error" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
      <h3><%= t('activerecord.errors.template.header',
                  model: Formation.model_name.human, count: @formation.errors.count) %></h3>

      <ul>
      <% @formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex gap-32">
    <div class="relative flex-grow max-w-full flex-1">
      <div class="form-control">
        <%= f.label :nom, "Nom *" %>
        <%= f.text_field :nom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :abrg, "Abr. *" %>
            <%= f.text_field :abrg, required: true, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :color, "Couleur" %>
            <%= f.color_field :color, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :hors_catalogue %>
          <%= f.label :hors_catalogue, "Hors catalogue ?" %>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :archive %>
          <%= f.label :archive, "Archivée ?" %>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :promo %>
            <%= f.text_field :promo, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :diplome, "Diplôme" %>
            <%= f.text_field :diplome, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
      </div>

      <div class="flex flex-wrap gap-4 items-end">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :domaine %>
            <%= f.text_field :domaine, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :apprentissage %>
          <%= f.label :apprentissage, 'Apprentissage ?' %>
        </div>
      </div>

      <%= f.submit class: "btn btn-primary" %>     

    </div>

    <div class="relative flex-grow max-w-full flex-1">
      <div class="form-control">
        <%= f.label :user_id, "Gestionnaire de formation (User) *" %>
        <%= f.collection_select :user_id, User.where.not(nom: nil).order(:nom), :id, :nom_et_prénom, {required: true, include_blank: true}, class:"slim-select" %>
      </div>
      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nbr_etudiants, "Nombre d'étudiants prévus" %>
            <%= f.number_field :nbr_etudiants, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nbr_heures, "Nombre d'heures prévues *" %>
            <%= f.number_field :nbr_heures, required: true, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
      </div>  

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :code_analytique, "Code Analytique (EOTP)" %>
            <%= f.text_field :code_analytique, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="flex flex-wrap items-end relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nomtauxtd, "Taux horaire" %>
            <%= f.select :nomtauxtd, ['','TD','CM','3xTD'], {}, class: 'select select-bordered select-sm w-full' %>
          </div>
          <div>
            <%= f.check_box :hss, title: "Cochez pour ne pas imputer dans les états de services" %>
            <%= f.label :hss, "HSS?" %>
          </div>
        </div>
      </div>

      <div class="form-control">
        <%= f.label :memo, "Mémo" %>
        <%= f.text_area :memo, class: 'textarea textarea-bordered textarea-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :courriel, "Adresse mail générique de la formation" %>
        <%= f.text_field :courriel, placeholder: "mastermmc.app.iae@univ-paris1.fr", class: 'input input-bordered input-sm w-full' %>
      </div>

    </div>
  </div>

  <div id="UE" class="collapse shadow-sm p-6">
    <h4>
      <%= fa_icon 'book' %>
      Unités d'enseignements
    </h4>
    <hr>

    <%= f.fields_for :unites do |ue| %>
      <div class="flex flex-wrap items-end shadow-sm pb-4 mb-4">
        <div class="sm:w-1/6 px-4">
          <div class="form-control">
            <%= ue.label :code %>
            <%= ue.number_field :code, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="sm:w-1/2 px-4">
          <div class="form-control">
            <%= ue.label :nom %>
            <%= ue.text_field :nom, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="sm:w-1/12 px-4">
          <div class="form-control">
            <%= ue.label :séance %>
            <%= ue.number_field :séances, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="sm:w-1/12 px-4">
          <div class="form-control">
            <%= ue.label :heures %>
            <%= ue.number_field :heures, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="sm:w-1/6 px-4">
          <%= ue.check_box :_destroy %>
          <%= ue.label :_destroy, 'Supprimer ?' %>
        </div>
      </div>
    <% end %>

    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
  
  <div id="Etudiants" class="collapse shadow-sm p-6">
    <h4>
      <%= fa_icon 'graduation-cap' %>
      Etudiants
    </h4>
    <hr>

    <%= f.fields_for :etudiants do |etudiant| %>
      <div class="flex flex-wrap items-end shadow-sm pb-4 mb-4">
        <div class="sm:w-1/5 px-4">
          <div class="form-control">
            <%= etudiant.label :num %>
            <%= etudiant.text_field :nom, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="sm:w-1/5 px-4">
          <div class="form-control">
            <%= etudiant.label :prénom %>
            <%= etudiant.text_field :prénom, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="sm:w-1/12 px-4">
          <div class="form-control">
            <%= etudiant.label :civilité %>
            <%= etudiant.text_field :civilité, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="sm:w-1/4 px-4">
          <div class="form-control">
            <%= etudiant.label :email %>
            <%= etudiant.email_field :email, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="sm:w-1/6 px-4">
          <div class="form-control">
            <%= etudiant.label :mobile %>
            <%= etudiant.text_field :mobile, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div>
          <%= etudiant.check_box :_destroy %>
          <%= etudiant.label :_destroy, 'Suppr?' %>
        </div>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>    
  </div>

  <div id="Vacations" class="collapse shadow-sm p-6">
      <h4>
        <%= fa_icon 'user-md' %>
        Vacations ou autres activités
      </h4>
      <hr>

      <%= f.fields_for :vacations do |vacation| %>
        <div class="flex flex-wrap shadow-sm mt-2">
          <div class="sm:w-1/6 px-4">
            <div class="form-control">
              <%= vacation.label :date, 'Date *' %>
              <%= vacation.date_field :date, class: 'input input-bordered input-sm w-full' %>
            </div>
          </div>

          <div class="sm:w-1/4 px-4">
            <div class="form-control">
              <%= vacation.label :intervenant_id, 'Intervenant *' %>
              <%= vacation.collection_select :intervenant_id, 
                                              Intervenant.where.not(doublon: true),
                                              :id,
                                              :nom_prenom,
                                              {include_blank: true}, class: "slim-select" %>
            </div>
          </div>  

          <div class="sm:w-1/3 px-4">
            <div class="form-control">
              <%= vacation.label :titre, 'Activité *' %>
              <%= vacation.select :titre, Vacation.activités, {include_blank: true}, class: "select select-bordered select-sm w-full" %>
            </div>
          </div>

          <div class="sm:w-1/12 px-4">
            <div class="form-control">
              <%= vacation.label :qte, "Qté *" %>
              <%= vacation.number_field :qte, class: 'input input-bordered input-sm w-full' %>
            </div>
          </div>

          <div class="sm:w-1/6 px-4">
            <div class="form-control">
              <%= vacation.label :forfaithtd, 'Forfait HTD *' %>
              <%= vacation.select :forfaithtd, Vacation.forfaits_htd, {include_blank: true}, class: "select select-bordered select-sm w-full" %>
            </div>
          </div>

          <div class="sm:w-3/4 px-4">
            <div class="form-control">
              <%= vacation.label :commentaires %>
              <%= vacation.text_area :commentaires, class: 'textarea textarea-bordered textarea-sm w-full' %>
            </div>
          </div>
          
          <div class="sm:w-1/5 px-4">
            <%= vacation.check_box :_destroy %>
            <%= vacation.label :_destroy, 'Supprimer ?' %>
          </div>
        </div>
      <% end %>
    <%= f.submit class: "btn btn-primary" %>    
  </div>

<% end %>

<%= render 'partials/slim_select' %>