<%= form_for(@formation) do |f| %>
  <%= render partial: 'partials/errors', locals: { record: @formation } %>

  <div class="flex shadow p-4 gap-32 mb-8">
    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4">
      <div class="form-control">
        <%= f.label :nom, "Nom *" %>
        <%= f.text_field :nom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :abrg, "Abr. *" %>
            <%= f.text_field :abrg, required: true, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :color, "Couleur" %>
            <%= f.color_field :color, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :hors_catalogue %>
          <%= f.label :hors_catalogue, "Hors catalogue ?" %>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :archive %>
          <%= f.label :archive, "Archivée ?" %>
        </div>
      </div>

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :promo %>
            <%= f.text_field :promo, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :diplome, "Diplôme" %>
            <%= f.text_field :diplome, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
      </div>

      <div class="flex flex-wrap gap-4 items-end">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :domaine %>
            <%= f.text_field :domaine, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <%= f.check_box :apprentissage %>
          <%= f.label :apprentissage, 'Apprentissage ?' %>
        </div>
      </div>

      <%= f.submit class: "btn btn-primary text-white mt-4", 'data-turbo': false %>     

    </div>

    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4">
      <div class="form-control">
        <%= f.label :user_id, "Gestionnaire de formation (User) *" %>
        <%= f.collection_select :user_id, User.where.not(nom: nil).order(:nom), :id, :nom_et_prénom, {include_blank: true}, class:"slim-select" %>
      </div>
      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nbr_etudiants, "Nombre d'étudiants prévus" %>
            <%= f.number_field :nbr_etudiants, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nbr_heures, "Nombre d'heures prévues *" %>
            <%= f.number_field :nbr_heures, required: true, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>  
      </div>  

      <div class="flex flex-wrap gap-4">
        <div class="relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :code_analytique, "Code Analytique (EOTP)" %>
            <%= f.text_field :code_analytique, class: 'input input-bordered input-sm w-full' %>
          </div>
        </div>
        <div class="flex flex-wrap items-end relative flex-grow max-w-full flex-1 gap-4">
          <div class="form-control">
            <%= f.label :nomtauxtd, "Taux horaire" %>
            <%= f.select :nomtauxtd, ['','TD','CM','3xTD'], {}, class: 'select select-bordered select-sm w-full' %>
          </div>
          <div>
            <%= f.check_box :hss, title: "Cochez pour ne pas imputer dans les états de services" %>
            <%= f.label :hss, "HSS?" %>
          </div>
        </div>
      </div>

      <div class="form-control">
        <%= f.label :memo, "Mémo" %>
        <%= f.text_area :memo, class: 'textarea textarea-bordered textarea-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :courriel, "Adresse mail générique de la formation" %>
        <%= f.text_field :courriel, placeholder: "mastermmc.app.iae@univ-paris1.fr", class: 'input input-bordered input-sm w-full' %>
      </div>

    </div>
  </div>

  <div id="UE" data-reveal-target="pannel_ue" tabindex="0" class="hidden shadow p-6">
    <p class="text-xl text-secondary mb-8">
      <%= fa_icon 'book' %>
      Unités d'enseignements
    </p>
    <hr>

    <div data-controller="nested-form" nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= f.fields_for :unites, Unite.new, child_index: 'NEW_RECORD' do |unite_fields| %>
          <%= render "unite_form", f: unite_fields %>
        <% end %>
      </template>

      <%= f.fields_for :unites do |unite_fields| %>
        <%= render "unite_form", f: unite_fields %>
      <% end %>

      <div data-nested-form-target="target"></div>

      <%= f.submit "Enregistrer", class: "btn btn-primary text-white", 'data-turbo': false %>
      <button type="button" data-action="nested-form#add" class="btn">
        <%= fa_icon 'plus-circle' %>
        Ajouter unité
      </button>
    </div>
  </div>
  
  <div id="Etudiants" data-reveal-target="pannel_etudiants" class="hidden shadow p-6">
    <p class="text-xl text-secondary mb-8">
      <%= fa_icon 'graduation-cap' %>
      Etudiants
    </h4>
    <hr>
    <div data-controller="nested-form" nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= f.fields_for :etudiants, Etudiant.new, child_index: 'NEW_RECORD' do |etudiant_fields| %>
          <%= render "etudiant_form", f: etudiant_fields %>
        <% end %>
      </template>

      <%= f.fields_for :etudiants do |etudiant_fields| %>
        <%= render "etudiant_form", f: etudiant_fields %>
      <% end %>

      <div data-nested-form-target="target"></div>

      <%= f.submit "Enregistrer", class: "btn btn-primary text-white", 'data-turbo': false %>
      <button type="button" data-action="nested-form#add" class="btn">
        <%= fa_icon 'plus-circle' %>
        Ajouter étudiant
      </button>
    </div>
  </div>

  <div id="Vacations" data-reveal-target="pannel_vacations" class="hidden shadow p-6">
    <p class="text-xl text-secondary mb-8">
      <%= fa_icon 'user-md' %>
      Vacations ou autres activités
    </h4>
    <hr>
    <div data-controller="nested-form" nested-form-wrapper-selector-value=".nested-form-wrapper">
      <template data-nested-form-target="template">
        <%= f.fields_for :vacations, Vacation.new, child_index: 'NEW_RECORD' do |vacation_fields| %>
          <%= render "vacation_form", f: vacation_fields %>
        <% end %>
      </template>

      <%= f.fields_for :vacations do |vacation_fields| %>
        <%= render "vacation_form", f: vacation_fields %>
      <% end %>

      <div data-nested-form-target="target"></div>

      <%= f.submit "Enregistrer", class: "btn btn-primary text-white", 'data-turbo': false %>
      <button type="button" data-action="nested-form#add" class="btn">
        <%= fa_icon 'plus-circle' %>
        Ajouter vacation
      </button>
    </div>
  </div>

<% end %>