<%= bootstrap_form_for(@formation) do |f| %>
  <% if @formation.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  
      <h3><%= t('activerecord.errors.template.header',
                  model: Formation.model_name.human, count: @formation.errors.count) %></h3>

      <ul>
      <% @formation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-5">
      <%= f.text_field :nom, label: '*Nom' %>

      <div class="row">
        <div class="col">
          <%= f.text_field :abrg, label: '*Abr.' %>
        </div>
        <div class="col">
          <%= f.color_field :color, label: 'Couleur' %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.check_box :hors_catalogue, label: "Hors catalogue ?" %>
        </div>
        <div class="col">
          <%= f.check_box :archive, label: "Archivée ?" %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= f.text_field :promo %>
        </div>
        <div class="col">
          <%= f.text_field :diplome, label: "Diplôme" %>
        </div>  
      </div>

      <div class="row">
        <div class="col">
          <%= f.text_field :domaine %>
        </div>
        <div class="col">
          <br>
          <%= f.check_box :apprentissage, label: "Apprentissage ?" %>
        </div>
      </div>

      <%= f.submit class: "btn btn-primary" %>     

    </div>

    <div class="col-sm-1">
    </div>

    <div class="col-sm-6">
      <%= f.collection_select :user_id, User.where.not(nom: nil).order(:nom), :id, :nom_et_prénom, {include_blank: true, label:"*Gestionnaire de formation (User)"} %>
      <div class="row">
        <div class="col">
          <%= f.number_field :nbr_etudiants, label: "Nombre d'étudiants prévus" %>
        </div>  
        <div class="col">
          <%= f.number_field :nbr_heures, label: "*Nombre d'heures prévues" %>
        </div>  
      </div>  

      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :code_analytique, label: "Code Analytique (EOTP)" %>
        </div>
        <div class="col-sm-3">
          <%= f.select :nomtauxtd, ['','TD','CM','3xTD'] ,label: "Taux Horaire" %>
        </div>
        <div class="col-sm-3">
          <br />
          <%= f.check_box :hss, label: "HSS?", title: "Cochez pour ne pas imputer dans les états de services" %>
        </div>
      </div>

      <%= f.text_area :memo, label: "Mémo" %>
      <%= f.text_field :courriel, label: "Adresse mail générique de la formation", placeholder: "mastermmc.app.iae@univ-paris1.fr" %>

    </div>
  </div>

  <div id="UE" class="collapse shadow-sm p-4">
    <h4>
      <%= fa_icon 'book' %>
      Unités d'enseignements
    </h4>
    <hr>

    <%= f.fields_for :unites do |ue| %>
      <div class="row shadow-sm">
        <div class="col-sm-1">
          <%= ue.number_field :code %>
        </div>  
        <div class="col-sm-6">
          <%= ue.text_field :nom %>
        </div>
        <div class="col-sm-1">
          <%= ue.number_field :séances %>
        </div>  
        <div class="col-sm-2">
          <%= ue.number_field :heures %>
        </div>  
        <div class="col-sm-2">
          <br>
          <%= ue.check_box :_destroy, label:"Supprimer ?" %>
        </div>
      </div>
    <% end %>

    <%= f.submit "Enregistrer", class: "btn btn-primary" %>
  </div>
  
  <div id="Etudiants" class="collapse shadow-sm p-4">
    <h4>
      <%= fa_icon 'graduation-cap' %>
      Etudiants
    </h4>
    <hr>

    <%= f.fields_for :etudiants do |etudiant| %>
      <div class="row shadow-sm">
        <div class="col-sm-2">
          <%= etudiant.text_field :nom %>
        </div>  
        <div class="col-sm-2">
          <%= etudiant.text_field :prénom %>
        </div>
        <div class="col-sm-4">
          <%= etudiant.text_field :email %>
        </div>
        <div class="col-sm-2">
          <%= etudiant.text_field :mobile %>
        </div>
        <div class="col-sm-2">
          <br>
          <%= etudiant.check_box :_destroy, label:"Supprimer ?" %>
        </div>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>    
  </div>

  <div id="Vacations" class="collapse shadow-sm p-4">
      <h4>
        <%= fa_icon 'user-md' %>
        Vacations ou autres activités
      </h4>
      <hr>

      <%= f.fields_for :vacations do |vacation| %>
        <div class="row shadow-sm mt-2">
            <div class="col-sm-2">
              <%= vacation.date_field :date, label: "*Date" %>
            </div>

            <div class="col-sm-3">
              <%= vacation.collection_select :intervenant_id, 
                                              Intervenant.where.not(doublon: true),
                                              :id,
                                              :nom_prenom,
                                              {include_blank: true, label: "*Intervenant", class: "select2"} %>
            </div>  

            <div class="col-sm-4">
              <%= vacation.select :titre, Vacation.activités, include_blank: true, label: "*Activité" %>
            </div>

            <div class="col-sm-1">
              <%= vacation.number_field :qte, label: "*Qté" %>
            </div>

            <div class="col-sm-2">
              <%= vacation.select :forfaithtd, Vacation.forfaits_htd, include_blank: true, label: "*Forfait HTD" %>
            </div>

            <div class="col-sm-9">
              <%= vacation.text_area :commentaires, label: "Commentaires" %>
            </div>
            
            <div class="col-sm-2">
              <%= vacation.check_box :_destroy, label: "Supprimer ?" %>
            </div>
        </div>
      <% end %>
    <%= f.submit class: "btn btn-primary" %>    
  </div>

<% end %>
