<div data-controller="reveal" data-reveal-hidden-class="hidden">
	<div class="border-b mt-6 mb-2 pb-4">
		<div class="join float-right">
			<%= link_to @formation, class: 'btn btn-sm btn-primary btn-outline join-item border-r-0' do %>
				<%= fa_icon 'eye' %> Voir
			<% end %>

			<p data-action="click->reveal#openPannelUe" class="btn btn-sm btn-primary btn-outline join-item">
				<%= fa_icon 'book' %> UE
			</p>

			<p data-action="click->reveal#openPannelEtudiants" class="btn btn-sm btn-primary btn-outline join-item">
				<%= fa_icon 'graduation-cap' %> Etudiants
			</p>

			<p data-action="click->reveal#openPannelVacations" class="btn btn-sm btn-primary btn-outline join-item">
				<%= fa_icon 'user-md' %> Vacations
			</p>

			<%= link_to formations_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
				<%= fa_icon 'list' %> Retour
			<% end %>

		</div>
			<h3 class="text-2xl"><%= fa_icon 'briefcase' %> Modification d'une formation</h3>
	</div>

	<%= render 'form' %>
</div>
