<div data-controller="reveal" data-reveal-hidden-class="hidden">
	<div class="border-b mt-6 mb-2 pb-4">
		<div class="join float-right">
			<%= link_to @formation, class: 'btn btn-sm btn-primary btn-outline join-item border-r-0' do %>
				<%= fa_icon 'eye' %> Voir
			<% end %>

			<p data-action="click->reveal#openPannelUe" class="btn btn-sm btn-primary btn-outline join-item">
				<%= fa_icon 'book' %> UE
			</p>

			<p data-action="click->reveal#openPannelEtudiants" class="btn btn-sm btn-primary btn-outline join-item">
				<span class="material-symbols-outlined text-xl mb-0.5">
					school
				</span>
				Etudiants
			</p>

			<p data-action="click->reveal#openPannelVacations" class="btn btn-sm btn-primary btn-outline join-item">
				<%= fa_icon 'user-md' %> Vacations
			</p>

			<%= link_to formations_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
				<%= fa_icon 'list' %> Retour
			<% end %>

		</div>
		<h1 class="flex items center gap-1 text-3xl">
			<span class="material-symbols-outlined text-3xl">
				work
			</span>
			Modification d'une formation
		</h1>
	</div>

	<%= render 'form' %>
</div>
