<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Formation).new? %>
    <%= link_to new_formation_path, class: 'btn text-primary float-end' do %>
      <%= fa_icon 'plus-circle' %> Formation
    <% end %>
  <% end %>
  <h3><%= fa_icon 'briefcase' %> Liste des formations</h3>
</div>

<div class="container-fluid p-3 shadow-sm">
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">

          <div class="col-sm-5">
            <%= label_tag :nom, "Nom/Abrg./Code/Promo" %>
            <div class="input-group">    
              <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control form-control-sm" %>
              <span class="input-group-btn">
                  <%= submit_tag 'Filtrer', class:"btn btn-sm btn-success" %>
              </span>
            </div> 
          </div>

          <div class="col-sm-3">
            <%= label_tag :catalogue, "Catalogue ?" %>
            <br>
            <%= radio_button_tag :catalogue, "yes", (params[:catalogue]=='yes'), onchange:'this.form.submit()' %>
            Oui 
            <%= radio_button_tag :catalogue, "no", (params[:catalogue]=='no'), onchange:'this.form.submit()' %>
            Non 
            <%= radio_button_tag :catalogue, "all", (params[:catalogue]=='all'), onchange:'this.form.submit()' %>
            Tout           
          </div>

          <div class="col-sm-2">
            <%= label_tag :archive, "Archivées ?" %>
            <br>
            <%= check_box_tag :archive, 1, params[:archive], onchange:'this.form.submit()' %>
          </div>

          <div class="col-sm-2">
              <%= label_tag "Afficher" %>
              <br> 
              <%= radio_button_tag :paginate, "pages", (params[:paginate]=='pages'), onchange:'this.form.submit()' %>
              Pages 
              <%= radio_button_tag :paginate, "all", (params[:paginate]=='all'), onchange:'this.form.submit()' %>
              Tout 
          </div>
          
        </div>
      </div>  
    <% end %>
</div>
<br>

<% if @formations.any? %>
  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th><%= sort_link 'formations.nom', 'Nom' %></th>
          <th><%= sort_link 'formations.abrg', 'Abrg.' %></th>
          <th><%= sort_link 'formations.nbr_etudiants', 'Etudiants' %></th>
          <th><%= sort_link 'formations.code_analytique', 'Code' %></th>
          <th>Planifiés</th>
          <th>Confirmés</th>
          <th>Réalisés</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th colspan=9></th>
        </tr>
      </tfoot>

      <tbody>
        <%= render @formations.includes(:cours) %>
      </tbody>

    </table>

    <% if params[:paginate] == 'pages' %>
      <div class="page_info">
        <%= page_entries_info @formations %>
      </div>

      <%= will_paginate @formations, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% end %>  
  </div>
<% end %>
