<div class="card shadow p-4 my-8" style="border-left: .3rem solid <%= @formation.positive_color %>">
  <div class="mb-6">
    <div class="join float-right">
      <% if policy(@formation).edit? %>
        <%= link_to edit_formation_path(@formation), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>
      <% end %>

      <%= link_to formations_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap">
    <div class="sm:w-1/12 pr-4">
      <h2 class="text-3xl">
        <span style="opacity: 80%;color:<%= @formation.color %>">
          <span class="material-symbols-outlined text-6xl">
            work
          </span>
        </span>
      </h2>
    </div>    

    <div class="sm:w-1/2 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Nom</small><br>
        <%= @formation.nom %>
      </h3>
      
      <% if @formation.archive %>
        <p class="mb-4"><mark>FORMATION ARCHIVEE !</mark></p>
        <br>
      <% end %>

      <% if @formation.apprentissage %>
        <p class="mb-4"><mark>Apprentissage</mark></p>
      <% end %>
      
      <% if @formation.hors_catalogue %>
        <p class="mb-4"><mark>Hors catalogue</mark></p>
      <% end %>

      <% if @formation.hss? %>
        <p class="mb-4"><mark>Hors états de services</mark></p>
      <% end %>

      <br>

      <h3 class="text-2xl">
        <small class="text-secondary">Promo</small><br>
        <%= @formation.promo %>
      </h3>
    </div>

    <div class="sm:w-1/3 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Abrégé</small><br>
        <%= @formation.abrg %>
      </h3>
      <br> 
      <h4 class="text-xl">
        <small class="text-secondary">Gestionnaire de formation</small><br>
        <%= @formation.user.try(:email) %>
      </h4>
    </div>
  </div>

  <hr class="my-6">

  <div class="flex flex-wrap">
    <div class="sm:w-1/4 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Diplôme</small><br>
      </h3>
      <p class="mb-4">
        <%= @formation.diplome %>
      </p>

      <h3 class="text-2xl">
        <small class="text-secondary">Heures prévues</small><br>
      </h3>
      <%= @formation.nbr_heures %>
    </div>

    <div class="sm:w-1/3 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Code Analytique</small><br>
      </h3>
      <p class="mb-4">
        <%= @formation.code_analytique %>
      </p>

      <h3 class="text-2xl">
        <small class="text-secondary">Taux Horaire</small><br>
      </h3>
      <%= @formation.nomtauxtd %>
    </div>

    <div class="sm:w-2/5 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Nbr Etudiants</small>
      </h3>
      <p class="mb-4">
        Estimé : <%= @formation.nbr_etudiants %>
        |
        Enregistré : <%= @formation.etudiants.size %>
      </p>
      <h3 class="text-2xl">
        <small class="text-secondary">Salles habituelles</small><br>
      </h3>

      <div class="flex flex-wrap items-center gap-2">
        <% @salles_habituelles_ids.each do |salle_id, count| %>
          <% salle = Salle.find(salle_id) %>
          <span class="text-success"
                style="font-size: calc( .25rem + <%= [1.5, (count.fdiv(@average_count))].min %>rem); " 
                title="Salle <%= salle.nom %> a été utilisée <%= count %> fois">
            <%= salle.nom.first(2) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <% if @formation.unites.any? %>
    <h3 class="text-xl text-secondary my-4">
      Unités d'enseignements
    </h3>
    
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="bg-slate-100 border">
          <tr>
            <th>Code</th>
            <th>Intitulé</th>
            <th>Séances prévues</th>
            <th>Planifiées</th>
            <th>Examen planifié</th>
            <th>Heures prévues</th>
            <th>Planifiées</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% total_ue_prévu = total_prévu = 0.0 %>
          <% total_ue_réalisé = total_réalisé = 0.0 %>
          <% @formation.unites.order(:code).each do | unite | %>
            <tr class="hover border">
              <% all_cours = @formation.cours.where(code_ue: unite.code).where.not(etat: ["reporté", "annulé"]) %>
              <% cours = all_cours.not_examens %>
              <% all_examens = all_cours.examens %>
              <td style="text-align: right;"><%= link_to_unless @formation.archive, unite.code, cours_path(formation_id: @formation, ue: unite.code), class: 'text-primary hover:underline' %></td>
              <td><%= unite.nom %></td>
              <td style="text-align: right;"><%= unite.séances %></td>
              <td style="text-align: right;"><%= link_to_unless @formation.archive, cours.count, cours_path(formation_id: @formation, ue: unite.code, filter: 'all'), class: 'text-primary hover:underline' %></td>
              <td style="text-align: right;">
                <% examens = all_examens.where(intervenant_id: ENV["INTERVENANT_EXAMEN_ID"]) %>
                <% if examens.any? %>
                  <span class="text-success cursor-help" title="<%= pluralize(examens.count, 'examen planifié', plural: 'examens planifiés') %>">Oui</span>
                <% else %>
                  <span class="text-error">Non</span>
                <% end %>
              </td>
              <td style="text-align: right;">
                <%= total_prévu = unite.heures %> h
              </td>
              <td style="text-align: right;">
                <%= total_réalisé = cours.sum(:duree) %> h
              </td>
              <td class="whitespace-nowrap">
                <% if unite && unite.heures > 0 %>
                  <% percentage = ((total_réalisé * 100) / unite.heures) %>
                  <progress data-debut="<%= total_réalisé %>"
                  data-fin="<%= unite.heures %>"
                  class="w-16 progress progress-<%= percentage == 100 ? "success" : percentage > 100 ? "warning" : "error" %> !h-2"
                  value="<%= percentage %>"
                  max="100">
                  </progress>
                  <small><%= percentage.round %>%</small>
                <% end %>
              </td>
              <% total_ue_prévu += total_prévu %>
              <% total_ue_réalisé += total_réalisé %>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th colspan=5></th>
            <th style="text-align: right;"><%= total_ue_prévu %> h</th>
            <th style="text-align: right;"><%= total_ue_réalisé %> h</th>
            <% if total_ue_prévu > 0 %>
              <% percentage_total = ((total_ue_réalisé * 100) / total_ue_prévu) %>
              <th class="whitespace-nowrap">
                <progress data-debut="<%= total_ue_réalisé %>"
                data-fin="<%= total_ue_prévu %>"
                class="w-16 progress progress-<%= percentage_total == 100 ? "success" : percentage_total > 100 ? "warning" : "error" %> !h-2"
                value="<%= percentage_total %>"
                max="100">
                </progress>
                <small><%= percentage_total.round %>%</small>
              </th>
            <% else %>
              <th></th>
            <% end %>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.etudiants.any? %>
    <h3 class="text-xl text-secondary my-4">
      Etudiants
    </h3>
    
    <div class="overflow-x-auto">
      <table class="table table-sm">
        <thead class="bg-slate-100 border">
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Civilité</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>

        <tbody>
          <% @formation.etudiants.each do | etudiant | %>
            <tr class="hover border">
              <td><%= etudiant.nom %></td>
              <td><%= etudiant.prénom %></td>
              <td><%= etudiant.civilité %></td>
              <td><%= etudiant.email %></td>
              <td><%= etudiant.mobile %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th colspan=5></th>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.vacations.any? %>
    <hr class="mt-4">
    <div class="mt-8">
      <%= render partial: "partials/vacations", locals: {vacations: @formation.vacations} %>
    </div>
  <% end %>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 mt-8">
    <div class="collapse-title text-lg">
      Audit des modifications
    </div>
    <div class="overflow-x-auto collapse-content bg-base-100"> 
      <% if @formation.own_and_associated_audits.any? %>
        <table class="table table-xs">
          <thead class="bg-slate-100 border">
            <th>Date</th>
            <th>Utilisateur</th>            
            <th>Type</th>
            <th>Record_id</th>
            <th>Action</th>
            <th>Modifications</th>
          </thead>

          <%= render partial: 'tools/audit', collection: @formation.own_and_associated_audits.reorder(id: :desc) %>

        </table>
      <% end %>
    </div>
  </div>
</div>
