<div class="card shadow-sm p-3 mt-3">
  <div>
    <div class="btn-group float-right">
      <% if policy(@formation).edit? %>
        <%= link_to edit_formation_path(@formation), class: 'btn btn-sm btn-outline-primary' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>
      <% end %>

      <a href="#audit" data-toggle="collapse" class='btn btn-sm btn-outline-primary'>
        <%= fa_icon 'search' %> Audit
      </a>

      <%= link_to formations_path, class: 'btn btn-sm btn-outline-primary' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-sm-1">
      <h2>
        <span style="opacity: 80%;color:<%= @formation.color %>">
          <%= fa_icon 'briefcase 2x' %>
        </span>
      </h2>
    </div>    

    <div class="col-sm-6">
      <h3>
        <small class="text-muted">Nom</small><br>
        <%= @formation.nom %>
      </h3>
      
      <% if @formation.archive %>
        <p><mark>FORMATION ARCHIVEE !</mark></p>
        <br>
      <% end %>

      <% if @formation.apprentissage %>
        <p><mark>Apprentissage</mark></p>
      <% end %>
      
      <% if @formation.hors_catalogue %>
        <p><mark>Hors catalogue</mark></p>
      <% end %>

      <% if @formation.hss? %>
        <p><mark>Hors états de services</mark></p>
      <% end %>

      <br>

      <h3>
        <small class="text-muted">Promo</small><br>
        <%= @formation.promo %>
      </h3>
    </div>

    <div class="col-sm-4">
      <h3>
        <small class="text-muted">Abrégé</small><br>
        <%= @formation.try(:abrg) %>
      </h3>
      <br> 
      <h4>
        <small class="text-muted">Gestionnaire de formation</small><br>
        <%= @formation.try(:user).try(:email) %>
      </h4>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h3>
        <small class="text-muted">Diplôme</small><br>
      </h3>
      <p>
        <%= @formation.diplome %>
      </p>

      <h3>
        <small class="text-muted">Heures prévues</small><br>
      </h3>
      <%= @formation.nbr_heures %>
    </div>

    <div class="col-sm-4">
      <h3>
        <small class="text-muted">Code Analytique</small><br>
      </h3>
      <p>
        <%= @formation.code_analytique %>
      </p>

      <h3>
        <small class="text-muted">Taux Horaire</small><br>
      </h3>
      <%= @formation.nomtauxtd %>
    </div>

    <div class="col-sm-5">
      <h3>
        <small class="text-muted">Nbr Etudiants</small>
      </h3>
      <p>
        Estimé : <%= @formation.nbr_etudiants %>
        |
        Enregistré : <%= @formation.etudiants.size %>
      </p>
      <h3>
        <small class="text-muted">Salles occupées</small><br>
      </h3>
      <%= @salles_habituelles %>
    </div>
  </div>

  <% if @formation.unites.any? %>
    <h3>
      <small class="text-muted">Unités d'enseignements</small>
    </h3>
    
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Intitulé</th>
            <th>Séances prévues</th>
            <th>Séances réalisées</th>
            <th>Heures prévues</th>
            <th>Heures réalisées</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% total_ue_prévu = total_prévu = 0.0 %>
          <% total_ue_réalisé = total_réalisé = 0.0 %>
          <% @formation.unites.each do | unite | %>
            <tr>
              <% cours = @formation.cours.where(code_ue: unite.code) %>
              <td style="text-align: right;"><%= link_to unite.code, cours_path(formation_id: @formation, ue: unite.num) %></td>
              <td><%= unite.nom %></td>
              <td style="text-align: right;"><%= unite.séances %></td>
              <td style="text-align: right;"><%= link_to cours.count, cours_path(formation_id: @formation, ue: unite.num, filter: 'all') %></td>
              <td style="text-align: right;">
                <%= total_prévu = unite.heures %> h
              </td>
              <td style="text-align: right;">
                <%= total_réalisé = cours.sum(:duree) %> h
              </td>
              <td>
                <% if unite && (total_réalisé > 0 && unite.heures > 0) %>
                  (<%= ((total_réalisé * 100) / unite.heures).round %>%)
                <% end %>
              </td>
              <% total_ue_prévu += total_prévu %>
              <% total_ue_réalisé += total_réalisé %>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th colspan=4></th>
            <th style="text-align: right;"><%= total_ue_prévu %> h</th>
            <th style="text-align: right;"><%= total_ue_réalisé %> h</th>
            <th></th>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.etudiants.any? %>
    <h3>
      <small class="text-muted">Etudiants</small>
    </h3>
    
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>

        <tbody>
          <% @formation.etudiants.each do | etudiant | %>
            <tr>
              <td><%= etudiant.nom %></td>
              <td><%= etudiant.prénom %></td>
              <td><%= etudiant.email %></td>
              <td><%= etudiant.mobile %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th></th><th></th><th></th><th></th>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.vacations.any? %>
    <h3>
      <small class="text-muted">Vacations</small>
    </h3>

    <table class="table table-striped table-hover table-sm">
      <thead>
        <th>Date</th>
        <th>Formation</th>
        <th>Activité</th>
        <th>Intervenant</th>
        <th>Qté</th>
        <th>Forfait HTD</th>
        <th>Commentaires</th>
      </thead>

      <% @formation.vacations.each do |vacation| %>
        <%= render vacation %>
      <% end %>
    </table>
  <% end %>

  <div id="audit" class="collapse">
    <% if @formation.audits.any? %>
      <h4>Audit des modifications</h4>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>Date</th>
          <th>Utilisateur</th>            
          <th>Type</th>
          <th>Record_id</th>
          <th>Action</th>
          <th>Modifications</th>
        </thead>

        <%= render partial: 'tools/audit', collection: @formation.audits %>

      </table>
    <% end %>
  </div> 
</div>
