<div class="card shadow p-4 my-8" style="border-left: .3rem solid <%= @formation.try(:positive_color) %>">
  <div class="mb-6">
    <div class="join float-right">
      <% if policy(@formation).edit? %>
        <%= link_to edit_formation_path(@formation), class: 'btn btn-sm btn-primary btn-outline join-item' do %>
          <%= fa_icon 'edit' %> Modifier
        <% end %>
      <% end %>

      <%= link_to formations_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
        <%= fa_icon 'list' %> Retour
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap">
    <div class="sm:w-1/12 px-4">
      <h2 class="text-3xl">
        <span style="opacity: 80%;color:<%= @formation.color %>">
          <%= fa_icon 'briefcase 2x' %>
        </span>
      </h2>
    </div>    

    <div class="sm:w-1/2 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Nom</small><br>
        <%= @formation.nom %>
      </h3>
      
      <% if @formation.archive %>
        <p class="mb-4"><mark>FORMATION ARCHIVEE !</mark></p>
        <br>
      <% end %>

      <% if @formation.apprentissage %>
        <p class="mb-4"><mark>Apprentissage</mark></p>
      <% end %>
      
      <% if @formation.hors_catalogue %>
        <p class="mb-4"><mark>Hors catalogue</mark></p>
      <% end %>

      <% if @formation.hss? %>
        <p class="mb-4"><mark>Hors états de services</mark></p>
      <% end %>

      <br>

      <h3 class="text-2xl">
        <small class="text-secondary">Promo</small><br>
        <%= @formation.promo %>
      </h3>
    </div>

    <div class="sm:w-1/3 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Abrégé</small><br>
        <%= @formation.try(:abrg) %>
      </h3>
      <br> 
      <h4 class="text-xl">
        <small class="text-secondary">Gestionnaire de formation</small><br>
        <%= @formation.try(:user).try(:email) %>
      </h4>
    </div>
  </div>
  <hr>

  <div class="flex flex-wrap">
    <div class="sm:w-1/4 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Diplôme</small><br>
      </h3>
      <p class="mb-4">
        <%= @formation.diplome %>
      </p>

      <h3 class="text-2xl">
        <small class="text-secondary">Heures prévues</small><br>
      </h3>
      <%= @formation.nbr_heures %>
    </div>

    <div class="sm:w-1/3 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Code Analytique</small><br>
      </h3>
      <p class="mb-4">
        <%= @formation.code_analytique %>
      </p>

      <h3 class="text-2xl">
        <small class="text-secondary">Taux Horaire</small><br>
      </h3>
      <%= @formation.nomtauxtd %>
    </div>

    <div class="sm:w-2/5 px-4">
      <h3 class="text-2xl">
        <small class="text-secondary">Nbr Etudiants</small>
      </h3>
      <p class="mb-4">
        Estimé : <%= @formation.nbr_etudiants %>
        |
        Enregistré : <%= @formation.etudiants.size %>
      </p>
      <h3 class="text-2xl">
        <small class="text-secondary">Salles habituelles</small><br>
      </h3>

      <div class="flex flex-wrap items-center gap-2">
        <% @salles_habituelles.each do |salle_id, count| %>
          <% salle = Salle.find(salle_id) %>
          <span class="badge badge-sm badge-success text-white" style="font-size: calc( .25rem + <%= [1.5, (count.fdiv(@average_count))].min %>rem); padding: calc( <%= [1.5, (count.fdiv(@average_count))].min %>rem) calc( <%= [0.75, (count.fdiv(@average_count)) / 2].min %>rem);" title="Salle <%= salle.nom %> a été utilisée <%= count %> fois">
            <%= salle.nom.first(2) %>
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <% if @formation.unites.any? %>
    <h3 class="text-2xl mt-8">
      Unités d'enseignements
    </h3>
    
    <div class="overflow-x-auto">
      <table class="table table-zebra table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Intitulé</th>
            <th>Séances prévues</th>
            <th>Séances réalisées</th>
            <th>Heures prévues</th>
            <th>Heures réalisées</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% total_ue_prévu = total_prévu = 0.0 %>
          <% total_ue_réalisé = total_réalisé = 0.0 %>
          <% @formation.unites.each do | unite | %>
            <tr class="hover">
              <% cours = @formation.cours.where(code_ue: unite.code) %>
              <td style="text-align: right;"><%= link_to unite.code, cours_path(formation_id: @formation, ue: unite.num) %></td>
              <td><%= unite.nom %></td>
              <td style="text-align: right;"><%= unite.séances %></td>
              <td style="text-align: right;"><%= link_to cours.count, cours_path(formation_id: @formation, ue: unite.num, filter: 'all') %></td>
              <td style="text-align: right;">
                <%= total_prévu = unite.heures %> h
              </td>
              <td style="text-align: right;">
                <%= total_réalisé = cours.sum(:duree) %> h
              </td>
              <td>
                <% if unite && (total_réalisé > 0 && unite.heures > 0) %>
                  (<%= ((total_réalisé * 100) / unite.heures).round %>%)
                <% end %>
              </td>
              <% total_ue_prévu += total_prévu %>
              <% total_ue_réalisé += total_réalisé %>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th colspan=4></th>
            <th style="text-align: right;"><%= total_ue_prévu %> h</th>
            <th style="text-align: right;"><%= total_ue_réalisé %> h</th>
            <th></th>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.etudiants.any? %>
    <h3 class="text-2xl">
      <small class="text-secondary">Etudiants</small>
    </h3>
    
    <div class="overflow-x-auto">
      <table class="table table-zebra table-sm">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Civilité</th>
            <th>Email</th>
            <th>Mobile</th>
          </tr>
        </thead>

        <tbody>
          <% @formation.etudiants.each do | etudiant | %>
            <tr class="hover">
              <td><%= etudiant.nom %></td>
              <td><%= etudiant.prénom %></td>
              <td><%= etudiant.civilité %></td>
              <td><%= etudiant.email %></td>
              <td><%= etudiant.mobile %></td>
            </tr>
          <% end %>
        </tbody>

        <tfoot>
          <tr>
            <th colspan=5></th>
          </tr>
        </tfoot>  
      </table>
    </div>
  <% end %>

  <% if @formation.vacations.any? %>
    <hr class="mt-4">
    <div class="mt-8">
      <h2 class="text-3xl">
        <%= fa_icon 'user-md' %>
        Vacations
      </h2>

      <div class="overflow-x-auto">
        <table class="table table-zebra table-sm">
          <thead>
            <th>Date</th>
            <th>Formation</th>
            <th>Activité</th>
            <th>Intervenant</th>
            <th>Qté</th>
            <th>Forfait HTD</th>
            <th>Commentaires</th>
          </thead>

          <% @formation.vacations.each do |vacation| %>
            <%= render vacation %>
          <% end %>
        </table>
      </div>
    </div>
  <% end %>

  <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 mt-8">
    <div class="collapse-title">
      Audit des modifications
    </div>
    <div class="overflow-x-auto collapse-content bg-base-100"> 
      <% if @formation.audits.any? %>
        <table class="table table-bordered table-xs">
          <thead>
            <th>Date</th>
            <th>Utilisateur</th>            
            <th>Type</th>
            <th>Record_id</th>
            <th>Action</th>
            <th>Modifications</th>
          </thead>

          <%= render partial: 'tools/audit', collection: @formation.audits %>

        </table>
      <% end %>
    </div>
  </div>
</div>
