<%= form_for(@salle) do |f| %>
  <%= render partial: 'partials/errors', locals: { record: @salle } %>

  <div class="flex flex-col sm:w-1/4 gap-4">
    <div class="form-control">
      <%= f.label :nom %>
      <%= f.text_field :nom, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="form-control">
      <%= f.label :bloc %>
      <%= f.text_field :bloc, class: 'input input-bordered input-sm w-full', required: true %>
    </div>
    
    <div class="form-control">
      <%= f.label :places, 'Nombre de places' %>
      <%= f.number_field :places, class: 'input input-bordered input-sm w-full', required: true %>
      <div class="label">
        <span class="label-text-alt">Entrez 0 pour autoriser les doublons</span>
      </div>
    </div>

    <%= f.submit class: "btn btn-primary text-white" %>
  </div>  
<% end %>
