<div class="overflow-x-auto lg:overflow-x-visible">
  <table class="table table-xs">
    <thead class="bg-slate-100 border">
      <tr>
        <th>Salle</th>
        <th>Places</th>
        <th>Formations</th> 
        <th>Cours</th>
        <% @etendue_horaire.each_with_index do |heure, index| %>
          <th class="text-center <%= "h-column-#{heure}" if ((@date == Date.today)) %>"><%= heure %>h</th>
          <% if [4,9].include?(index) %><th></th><% end %>
        <% end %>
        <th></th>
      </tr>
    </thead>

    <tfoot>
      <tr><th colspan=21></th></tr>
    </tfoot>

    <tbody>
      <% bloc = 'A' %>
      <% @salles.each do | salle | %>
        <% cours = @cours.where(salle_id: salle.id) %>
        <% cours_count = cours.length %>

        <% if params[:bloc].blank? && salle.bloc != bloc %>
          <% bloc = salle.bloc %>
          <thead>
            <tr class="bg-slate-100 border">
              <th colspan=4></th>
              <% @etendue_horaire.each_with_index do |heure, index| %>
                <th class="text-center <%= "h-column-#{heure}" if ((@date == Date.today)) %>"><%= heure %>h</th>
                <% if [4,9].include?(index) %><th></th><% end %>
              <% end %>
              <th></th>
            </tr>
          </thead>
        <% end %>

        <tr class="hover border">
          <td class="text-base"><b><%= salle.nom[0..7] %></b></td>
          <td class="text-right"><%= salle.places %></td>
          <td>
            <% cours.pluck(:formation_id).uniq.each do |id| %> 
              <% formation = Formation.unscoped.find(id) %> 
              <div>
                <span style="background-color:<%= formation.color %>;padding-left: 7px;"></span> 
                <span style="padding-left:5px;"></span> 
                <%= formation.nom_abrg_nbr_etudiants %> 
                <span style="padding-right:10px;"></span>
              </div>
            <% end %> 
          </td>
          <td class="text-right">
            <%= link_to_unless cours_count.zero?, cours_count, 
                              cours_path(ids:cours.pluck(:id), view:'list', from:'occupation'), class: 'text-primary hover:underline' %>
          </td>

          <% if @date %>
            <% range = [] %>
            <% cours.each {|cours| range += cours.range } %>
            <% ouverture = Ouverture.find_by(bloc: salle.bloc, jour: @date.wday) %>
            <% map = @etendue_horaire.map {|i| range.include?(i) ? 'red' : (ouverture && ((ouverture.début.hour > i) || ((ouverture.fin.min == 0 && ouverture.fin.hour <= i) || (ouverture.fin.min > 0 && ouverture.fin.hour <= i - 1))))? 'lightgrey' : 'lightgreen' } %>
            
            <% map.each_with_index do |color, index| %>
              <td class="text-center <%= "h-column-#{index + 8}" if ((@date == Date.today)) %>">
                <% if color == 'lightgreen' %>
                  <%= link_to new_cour_path(debut: @date, heure: (index + 8), salle_id: salle.id, from: 'occupation') do %>
                    <span style="background-color:<%= color %>;padding-left: 15px;"></span>
                  <% end %>
                <% elsif color == 'red' %>
                  <% nom_formation = [] %>
                  <% cours.each do |cour| %>
                    <% if (cour.debut.hour <= index + 8) && (cour.fin.hour >= index + 8) %>
                      <% nom_formation << cour.formation.nom %>
                    <% end %>
                  <% end %>
                  <%= link_to edit_cour_path(cours.first, from: "occupation"), title: nom_formation.join(' | '), data: { turbo_method: :get, turbo_confirm: "Voulez-vous modifier ce cours ?" }  do %>
                    <span style="background-color: <%= color %>;padding-left: 15px;"></span> 
                  <% end %>
                <% else %>
                  <span style="background-color:<%= color %>;padding-left: 15px;"></span>
                <% end %>
              </td>
              <% if [4,9].include?(index) %><th></th><% end %>
            <% end %>
          <% else %>
            <td colspan=17></td>
          <% end %>
          <td class="text-base"><b><%= salle.nom[0..2] %></b></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user && current_user.admin? && (!params[:salle_id] || params[:salle_id].blank?) %>
  <div class="flex flex-wrap mt-8">
    <div class="sm:w-1/2 pr-4">
      <p>
        Heures de cours planifiées jour: <%= @nombre_heures_cours.first %>h <br>
        Heures de salles disponibles jour: <%= @heures_dispo_salles.first %>h
          (<%= @salles_dispo %> salles * <%= @nb_heures_journée %>h)<br>
      </p>
    </div>
    <div class="sm:w-1/2 pr-4">
      <p>
        Taux d'occupation jour: <%= @taux_occupation.first.to_i %>%
      </p>
    </div>
  </div>

  <div class="flex flex-wrap">
    <div class="sm:w-1/2 pr-4">
      <p>
        Heures de cours planifiées soir: <%= @nombre_heures_cours.last %>h <br>
        Heures de salles disponibles soir: <%= @heures_dispo_salles.last %>h
        (<%= @salles_dispo %> salles * <%= @nb_heures_soirée %>h)<br>
      </p>
    </div>
    <div class="sm:w-1/2 pr-4">
      <p>
        Taux d'occupation soir: <%= @taux_occupation.try(:last).try(:to_i) %>%
      </p>
    </div>
  </div>
<% end %>
<br>

<%= render partial: 'partials/script_update_highligth_column' %>