<div class="table-responsive">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th>Salle</th>
        <th>Places</th>
        <th>Formations</th> 
        <th>Cours</th>
        <% @etendue_horaire.each_with_index do |heure, index| %>
          <th class="<%= 'alert alert-warning' if ((@date == Date.today) && (heure == time_in_paris.hour)) %>"><%= heure %>h</th>
          <% if [4,9].include?(index) %><th></th><th></th><% end %>
        <% end %>
      </tr>
    </thead>

    <tfoot>
      <tr><th colspan=22></th></tr>
    </tfoot>

    <tbody>
      <% bloc = 'A' %>
      <% @salles.each do | salle | %>
        <% cours = @cours.where(salle_id: salle.id) %>
        <% cours_count = cours.length %>

        <% if params[:bloc].blank? && salle.bloc != bloc %>
          <% bloc = salle.bloc %>
          <thead>
            <tr>
              <th colspan=4></th>
              <% @etendue_horaire.each_with_index do |heure, index| %>
                <th class="<%= 'alert alert-warning' if ((@date == Date.today) && (heure == time_in_paris.hour)) %>"><%= heure %>h</th>
                <% if [4,9].include?(index) %><th></th><th></th><% end %>
              <% end %>
            </tr>
          </thead>
        <% end %>

        <tr class="shadow-sm">
          <td><b><%= salle.nom[0..7] %></b></td>
          <td class="text-right"><%= salle.places %></td>
          <td>
            <% cours.pluck(:formation_id).uniq.each do |id| %> 
                <% formation = Formation.unscoped.find(id) %> 
                <span style="background-color:<%= formation.color %>;padding-left: 7px;"></span> 
                <span style="padding-left:5px;"></span> 
                <%= formation.nom_abrg_nbr_etudiants %> 
                <span style="padding-right:10px;"></span> 
            <% end %> 
          </td>
          <td class="text-right">
            <%= link_to_unless cours_count.zero?, cours_count, 
                              cours_path(ids:cours.pluck(:id), view:'list', from:'occupation') %>
          </td>

          <% if @date %>
            <% range = [] %>
            <% cours.each {|cours| range += cours.range } %>
            <% map = @etendue_horaire.map {|i| range.include?(i) ? 'red' : 'lightgreen' } %>
            
            <% map.each_with_index do |color, index| %>
              <td class="<%= 'text-center alert alert-warning' if ((@date == Date.today) && ((index + 8) == time_in_paris.hour)) %>">
                <% if color == 'lightgreen' %>
                  <%= link_to new_cour_path(debut: @date, heure: (index + 8), salle_id: salle.id, from: 'occupation') do %>
                    <span style="background-color:<%= color %>;padding-left: 15px;"></span>
                  <% end %>
                <% else %>
                  <% debut_cours = DateTime.parse("#{@date} #{index + 8}:00") %>
                  <% nom_formation = Formation.select(:nom).joins(:cours).where('cours.debut <= ?', debut_cours).where('cours.fin >= ?', debut_cours).where('cours.salle_id': salle.id).limit(1).pluck(:nom) %>
                  <%= link_to '#', title: nom_formation do %>
                    <span style="background-color: <%= color %>;padding-left: 15px;"></span> 
                  <% end %>
                <% end %>
              </td>
              <% if [4,9].include?(index) %><th></th><th></th><% end %>
            <% end %>
          <% else %>
            <td colspan=18></td>
          <% end %>
          <td><b><%= salle.nom[0..2] %></b></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user && current_user.admin? && (!params[:salle_id] || params[:salle_id].blank?) %>
    <div class="row">
      <div class="col-sm-6">
        <h5>
          Heures de cours planifiées jour: <%= @nombre_heures_cours.first %>h <br>
          Heures de salles disponibles jour: <%= @heures_dispo_salles.first %>h
           (<%= @salles_dispo %> salles * <%= @nb_heures_journée %>h)<br>
        </h5>
      </div>
      <div class="col-sm-6">
        <h4>
          Taux d'occupation jour: <%= @taux_occupation.first.to_i %>%
        </h4>
      </div>
    </h4>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h5>
          Heures de cours planifiées soir: <%= @nombre_heures_cours.last %>h <br>
          Heures de salles disponibles soir: <%= @heures_dispo_salles.last %>h
           (<%= @salles_dispo %> salles * <%= @nb_heures_soirée %>h)<br>
        </h5>
      </div>
      <div class="col-sm-6">
        <h4>
          Taux d'occupation soir: <%= @taux_occupation.try(:last).try(:to_i) %>%
        </h4>
      </div>
    </h4>
  </div>
<% end %>
<br>

