<div class="table-responsive">
  <table class="table table-hover table-striped table-sm">
    <thead>
      <tr>
        <th>Salle</th>
        <th>Places</th>
        <th>Cours</th>
        <% (@date..@date_fin).each do |d| %>
          <th>
            <%= l(d, format: :day).humanize %>
            <%= d.day %>
           </th>
        <% end %> 
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th colspan=21></th>
      </tr>
    </tfoot>

    <tbody>
      <% bloc = 'A' %>
      <% @salles.each do | salle | %>
        <% @cours = @cours_semaine.where(salle_id: salle.id) %>

        <% if salle.bloc != bloc %>
          <% bloc = salle.bloc %>
          <thead>
            <tr>
              <th></th><th></th><th></th>
              <% (@date..@date_fin).each do |d| %>
                <th>
                  <%= l(d, format: :day).humanize %>
                  <%= d.day %>
                </th>
              <% end %> 
            </tr>
          </thead>
        <% end %>

        <tr>
          <td><b><%= salle.nom %></b></td>
          <td class="text-center"><%= salle.places %></td>
          <td class="text-center">
            <%= link_to_if user_signed_in?, @cours.count, cours_path(ids: @cours.pluck(:id), view: 'list', from: 'occupation') %>
          </td>
          <% (@date..@date_fin).each do | d | %>
            <td>
              <% cours = @cours.where("DATE(cours.debut) = ?", d) %>
            
              <% color = cours.where("debut < ?", Time.parse(d.to_s + " 13:00")).any? ? 'red' : 'lightgreen' %>
              <span style="background-color:<%= color %>;padding-left: 15px;"></span>

              <% color = cours.where("debut >= ? AND debut <= ?", Time.parse(d.to_s + " 13:00"), Time.parse(d.to_s + " 18:00")).any? ? 'red' : 'lightgreen' %>
              <span style="background-color:<%= color %>;padding-left: 15px;"></span>

              <% color = cours.where("debut >= ?", Time.parse(d.to_s + " 18:00")).any? ? 'red' : 'lightgreen' %>
              <span style="background-color:<%= color %>;padding-left: 15px;"></span>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>