<tr class="hover border">
    <td><b><%= link_to salle.nom, salle %></b></td>
    <td><%= salle.places %></td>
    <td><%= salle.bloc %></td>
    <td class="text-center">
        <% unless Cour.where(salle_id: salle).any? %>
            <%= link_to(salle, 'data-turbo-method': :delete, 'data-turbo-confirm': 'Confirmez-vous ?', class: "btn btn-ghost") do %>
                <%= fa_icon 'trash' %>
            <% end %>
        <% end %>
    </td>
</tr>
