<tr>
    <td><%= link_to salle.nom, salle %></td>
    <td><%= salle.places %></td>
    <td><%= salle.bloc %></td>
    <td class="text-center">
        <% unless Cour.where(salle_id: salle).any? %>
            <%= link_to(salle, method: :delete, data: {confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
                <%= fa_icon 'trash' %>
            <% end %>
        <% end %>
    </td>
</tr>
