<tr>
    <td><b><%= salle.nom %></b></td>
    <td><%= salle.places %></td>
    <td><%= salle.bloc %></td>
    <td class="text-center">
        <%= link_to salle, class: "btn btn-default" do %>
            <i class="glyphicon glyphicon-zoom-in"></i>
        <% end %>

        <% unless Cour.where(salle_id:salle).any? %>
            <%= link_to(salle, method: :delete, data:{confirm: 'Confirmez-vous ?'}, class: "btn btn-default") do %>
            <i class="glyphicon glyphicon-remove"></i>
            <% end %>
        <% end %>
    </td>
</tr>
