<div class="pb-2 mt-4 mb-2 border-bottom">
	<%= link_to salles_path, class: 'btn text-primary float-end' do %>
		<%= fa_icon 'list-alt' %> Retour
	<% end %>

	<%= link_to @salle, class: 'btn text-primary float-end' do %>
	   	<%= fa_icon 'eye', text: 'Voir' %>
	<% end %>

	<h3><%= fa_icon 'chalkboard' %> Modification d'une salle</h3>
</div>

<%= render 'form' %>

