<div class="pb-2 mt-6 mb-2 border-b">
	<div class="join float-right">
		<%= link_to salles_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
			<%= fa_icon 'list-alt' %> Retour
		<% end %>

		<%= link_to @salle, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
				<%= fa_icon 'eye', text: 'Voir' %>
		<% end %>
	</div>

	<h3 class="text-2xl"><%= fa_icon 'chalkboard' %> Modification d'une salle</h3>
</div>

<%= render 'form' %>

