<div class="flex items-center justify-between border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl flex items-center gap-3">
    <span class="material-symbols-outlined text-3xl">
      meeting_room
    </span>
    Liste des salles
  </h1>
  <% if policy(Salle).new? %>
    <%= link_to new_salle_path, class: 'btn btn-sm btn-primary btn-outline hover:!text-white' do %>
      <%= fa_icon 'plus-circle' %> Salle
    <% end %>
  <% end %>
</div>

<div class="bs-container p-4 shadow mb-4">
    <%= form_tag request.path, method: :get do %>
      <div class="flex flex-wrap">
        <div class="sm:w-1/5">
          <%= label_tag :salle_id, "Rechercher" %>    
            <%= select_tag :salle_id, 
                    options_from_collection_for_select(Salle.order(:nom), :id, :nom, params[:salle_id]), 
                      include_blank:true, onchange:'this.form.submit()', class:"input input-bordered input-sm w-full" %>
        </div>
      </div>
    <% end %>
</div>

<div class="overflow-x-auto">
  <table class="table table-sm">
    <thead class="bg-slate-100 border">
      <tr>
        <th>Nom</th>
        <th>Nbr places</th>
        <th>Bloc</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th /><th /><th /><th />
      </tr>
    </tfoot>

    <tbody>
        <%= render @salles %>
    </tbody>
  </table>
</div>
<br>

