<div class="bs-container mt-6 mb-12 pl-0 border-b pb-4">
  <h1 class="text-3xl flex items-center gap-3">
    <span class="material-symbols-outlined text-3xl">
      info
    </span>
    Guide
  </h1>
</div>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      calendar_month
    </span>
    Planning des cours
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/cours1.png">
        <img src="/Images/guide/cours1.png" alt="Liste des cours à venir" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Liste des cours à venir</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/cours_selection.png">
        <img src="/Images/guide/cours_selection.png" alt="Liste des cours d'une formation" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Liste des cours d'une formation</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/cours_new.png">
        <img src="/Images/guide/cours_new.png" alt="Formulaire de réservation de salle" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Formulaire de réservation de salle</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Chaque cours est associé à une Formation, un ou deux Intervenants, une Salle et un Etat (Planifié, Confirmé, Reporté, Annulé, Réalisé)</li>
  <li>Affichage des cours sous forme de Liste, de Calendrier (semaine/mois) ou Etat d'Occupation des salles</li>
  <li>Recheche multi-critères (Filtre sur Date, Formation, Intervenant, Etat, Cours passés ou futurs)</li>
  <li>Export des cours vers Excel (CSV), Outlook/Google Agenda(iCal), PDF</li>
  <li>Sélection d'un ensemble de cours pour effectuer une action groupée :</li>
  <ul class="list-inside" style="list-style-type: circle">
    <li>Changement d'état</li>
    <li>Changement de salle (avec proposition des salles disponibles)</li>
    <li>Changement de date</li>
    <li>Changement d'intervenant</li>
    <li>Export CSV</li>
    <li>Export iCal</li>
    <li>Export PDF</li>
    <li>Suppression (Seul le créateur d'un cours peut le supprimer)</li>
  </ul>
  <li>Saisie d'une réservation :</li>
  <ul class="list-inside" style="list-style-type: circle">  
    <li>Cochez <b>Hors Service Statutaire ?</b> pour que les heures de cours ne soient pas imputées sur l'état de service de l'intervenant (HSS = Hors Service Statutaire)</li>
    <li>Cochez <b>E-learning?</b> pour indiquer que ce cours est de l'E-learning</li>
    <li>Pour signaler que le cours utilise l'outil <b>ZOOM</b>; entrez comme nom de cours le lien ZOOM, puis son intitulé, séparés par un espace. Le lien ZOOM sera alors cliquable dans la liste publique des cours (PC/Mobile)</li>
  </ul>
  <li>Impossibilité de saisir un nouveau cours ayant lieu un dimanche ou un jour de fermeture de l'établissement</li>
  <li>Pas de chevauchement horaire pour un même intervenant. Il n'est pas possible de saisir un nouveau cours si le formateur intervient déjà sur un autre cours aux mêmes heures (sauf si les doublons sont autorisés pour cet intervenant)</li>
  <li>Pas de chevauchement horaire pour une même salle. <strong>Pour autoriser les doublons : entrez 0 dans la capacité de la salle.</strong></li>
  <li>Affichage d'un pictogramme <%= fa_icon 'exclamation_circle' %> dans les cas suivants :</li>
  <li>Dépassement de capacité de la salle (le nbr de places est inférieur au nbr d'étudiants de la formation)</li>
  <li>Le cours est dans l'état 'Confirmé' mais aucune salle n'a été réservée</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      meeting_room
    </span>
    Salles
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/salles1.png">
        <img src="/Images/guide/salles1.png" alt="Occupation des salles (jour)" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Occupation des salles (jour)</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/salles2.png">
        <img src="/Images/guide/salles2.png" alt="Occupation des salles (semaine)" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Occupation des salles (semaine)</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/cours3.png">
        <img src="/Images/guide/cours3.png" alt="Vue Salles (semaine)" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Vue Salles (semaine)</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Gestion de la capacité (alerte si dépassement)</li>
  <li>Visualisation des créneaux horaires libres/occupés pour une date, une salle</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      work
    </span>
    Formations
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/formations.png">
        <img src="/Images/guide/formations.png" alt="Liste des formations" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Liste des formations</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/formation.png">
        <img src="/Images/guide/formation.png" alt="Une formation en détail" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Une formation en détail</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/formation_form.png">
        <img src="/Images/guide/formation_form.png" alt="Modification d'une formation" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Modification d'une formation</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Chaque formation est associée à un code couleur pour un répérage rapide dans le planning</li>
  <li>Gestion des UE (une liste d'UE est associée à chaque formation, avec indication du nombre d'heures)</li>
  <li>Gestion des étudiants liés à la formation</li>
  <li>Gestion des vacations votées (nom de l'intervenant, nbr heures)</li>
  <li>Archivage des formations</li>
  <ul class="list-disc">
    <li>
      <b>Pour archiver une formation :</b>    
      <br>
      Pour faire disparaitre une formation du planning (sans la supprimer), allez dans Formations/Choisir la formation à archiver/Modifier => Cocher "Archivée" et Enregistrez. Cette formation ne sera plus visible dans toute l'application.
      Pour faire réapparaitre une formation archivée, allez dans Formations/Cocher Archivées pour filtrer les formations archivées puis modifier la formation à faire réapparaitre, décochez "Archivée ?" et enregistrez. Cette formation est alors de nouveau visible dans toute l'application.
      <strong>Attention: une formation ayant des cours à venir ne pourra pas être archivée  (l'option sera désactivée)!</strong>
    </li>     
  </ul>
  <li>
    Code Analytique (EOTP): Quand il s'agit d'une formation de plusieurs années civiles, il faut saisir la racine du code EOTP plus "?" (ex:7322PLHCOFCDFINS?). Le système remplacera le '?' par l'indice (1,2 ou 3) selon l'année de début début des cours de cette promotion (indice = année_du_premier_cours - année_en_cours + 1)  ((2018 - 2018) +1 ) = 1.  
  </li>
  <li>
    Flag HSS?: L'activer permet de ne pas imputer aux états de sercices les cours liés à cette formation.
  </li>
</ul>


<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      co_present
    </span>
    Intervenants
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/intervenant.png">
        <img src="/Images/guide/intervenant.png" alt="Liste des intervenants" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Liste des intervenants</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/intervenant_form.png">
        <img src="/Images/guide/intervenant_form.png" alt="Un intervenant en détail" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Un intervenant en détail</p>
        </div>
      </a>
    </div>
  </div>
</div>

<ul class="list-disc">
  <li>Profil des intervenants avec photo (option), status, formations dispensées (affichage dynamique basé sur les cours enregistrés, avec le nombre d'heures planifiées et la date du premier cours)</li>
  <li>Gestion des responsabilités (Titre, nbr heures attribuées)</li>
  <ul class="list-disc">
    <li>
      <b>Filtrage des cours par intervenant;</b> Pour que la recherche d'un intervenant soit fructueuse :
      <br>
      Comme le système cherche un intervenant qui se nomme NOM + 'Espace' + PRENOM, il ne faut donc pas d’espace, ni dans le nom, ni dans le prénom.
      Ex: "DE LA MARRE Henry" sera compris comme nom=DE, prénom=LA MARRE Henry. Il convient donc de remplacer l'espace par un '_', ce qui donnera "DE_LA_MARRE Henry".
      Le nom et le prénom sont obligatoires. Remplissez un champ vide par un point si besoin.
    </li>
    <li>Cochez 'Autoriser les doublons' si vous souhaitez que l'intervenant puisse être sur plusieurs cours sur le même créneau horaire. C'est généralement le cas pour les groupes et non les individus.</li>
  </ul>
  <li>La saisie des Responsabilités n'est accessible que par les membres du groupe RH</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      school
    </span>
    Etudiants
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/etudiant_form.png">
        <img src="/Images/guide/etudiant_form.png" alt="Un étudiant en détail" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Un étudiant en détail</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/etudiant_show.png">
        <img src="/Images/guide/etudiant_show.png" alt="Récapitulatif étudiant" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Récapitulatif étudiant</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Chaque étudiant est associé à une formation</li>
  <li>La saisie des coordonnées de l'étudiant permet de lui envoyer une notification par email/SMS en cas d'annulation de cours (option)</li>
  <li>Pour changer la formation d'un étudiant vous pouvez soit :</li>
  <ul class="list-inside" style="list-style-type: circle">
    <li>cocher l'action "Changer de formation"</li>
    <li>aller dans le formulaire de l'étudiant</li>
  </ul>
  <li>Si vous voulez activer un compte étudiant, vous pouvez cocher l'action "Réactiver compte d'accès" dans la liste des étudiants</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'users' %> Utilisateurs</h2>
</div>
<ul class="list-disc">
  <li>Il existe 4 rôles utilisateur :</li>
  <ul class="list-inside" style="list-style-type: circle">
    <li>Visiteur (utilisateur non authentifié)</li>
    <li>Utilisateur (utilisateur authentifié, généralement un membre du service Scolarité)</li>
    <li>Super utilisateur (peut réserver des salles, généralement un membre du service Planning)</li>
    <li>Admin (peut administrer les cours et les utilisateurs)</li>
  </ul>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'user-secret' %> Agents</h2>
</div>
<ul class="list-disc">
  <li>Un agent est une personne qui peut participer à la surveillance d'un examen et qui a son taux horaire différent d'un non-agent</li>
  <li>Il a son taux horaire défini en fonction de sa catégorie (A,B,C)</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'wrench' %> Outils</h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/outils.png">
        <img src="/Images/guide/outils.png" alt="Liste des outils" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Liste des outils</p>
        </div>
      </a>
    </div>
  </div>

  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/imports-log.png">
        <img src="/Images/guide/imports-log.png" alt="Le journal des importations (Imports log)" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Le journal des importations (Imports log)</p>
        </div>
      </a>
    </div>
  </div>

  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/reservation-saison.png">
        <img src="/Images/guide/reservation-saison.png" alt="Réservation de créneaux horaires pour une saison" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Réservation de créneaux en masse</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Gestion des jours de fermeture</li>
  <li>Réservation de créneaux horaires</li>
  <li>Etats de services</li>
  <li>Taux d'occupation jours ou salles</li>
  <li>Import/Export de cours, intervenants, étudiants</li>
  <li>Outils pour le rôle admin :</li>
  <ul class="list-inside" style="list-style-type: circle">
    <li>Gestion des Utilisateurs</li>
    <li>Import des utilisateurs</li>
    <li>Intervertir deux intervenants</li>
    <li>Audit des modifications</li>
    <li>Gestion des Salles</li>
    <li>Gestion des Agents</li>
    <li>Nouvelle saison (Réservation de cours sur une année)</li>
  </ul>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'download' %> Importation des données</h2>
</div>
<ul class="list-disc">
  <li><b>Importation de cours à partir d'un fichier Excel :</b></li>
  <ul class="list-inside" style="list-style-type: circle">
    <li>
      Le fichier source doit contenir <b>les mêmes entêtes de colonnes</b> 
      que le fichier généré lors de l'export Excel: <br>
        <%= Cour.xls_headers.join(", ") %>
    </li>
    <li>
      Données obligatoires pour que la ligne soit importée : <br>
      <b>id, Date_début, Heure_début, Date_fin, Heure_fin, Intervenant, UE, Intitulé</b>
    </li>
    <li>
      Si 'id' est égal à '0', c'est une création de cours. Sinon c'est une mise à jour du cours ayant comme identifiant unique l'id' donné. Si le cours ayant cet 'id' n'existe pas, il sera créé.
    </li>
  </ul>
  <br>
  
  <li>
    Les formations, intervenants, étudiants peuvent être importés en masse à partir d'un fichier XLS
  </li>

  <br>
  <li>
    <b>Importation d'utilisateurs:</b><br> 
    - Le fichier source doit contenir les colonnes suivantes: <br>
    <pre>email;nom;prénom;mobile</pre>
    <b><i>Chaque nouvel utilisateur sera averti de la création de son compte par l'envoi d'un email contenant un mot de passe unique généré automatiquement</i></b> 
  </li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'upload' %> Exportation des données</h2>
</div>
<ul class="list-disc">
  <li>Toutes les données sont exportables au format Microsoft Excel (XLS)</li>
</ul>


<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl flex items-center gap-1">
    <span class="material-symbols-outlined text-3xl">
      search_activity
    </span>
    Audit des modifications
  </h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/audit1.png">
        <img src="/Images/guide/audit1.png" alt="Audit des modifications" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Audit des modifications</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/audit2.png">
        <img src="/Images/guide/audit2.png" alt="Audit des cours modifiés" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Audit des cours modifiés </p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/audit3.png">
        <img src="/Images/guide/audit3.png" alt="Audit des changements de salle" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Audit des changements de salle</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
    <li>Chaque modification apportée aux données est enregistrée dans un journal, avec la date, l'utilisateur, la table, le champs et la valeur avant/après modification</li>
</ul>


<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'list-alt' %> Etats de services</h2>
</div>
<ul class="list-disc">
    <li>Récapitule les cours <b>réalisés</b> par un intervenant sur une période donnée </li>
    <li>Visualisation des états de services par statut</li>
    <li>Etat liquidatif en PDF</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'exchange-alt' %> API</h2>
</div>
<ul class="list-disc">
    <li>Une API fournit les données du Planning au format JSON</li>
    <li>Ex: https://plann.aikku.eu/api/v1/cours.json?d=20190701 </li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'asterisk' %> Notification</h2>
</div>
<ul class="list-disc">
    <li>Les chargés de scolarité et les étudiants peuvent recevoir une notification par email/SMS(à venir) lors de l'annulation de cours(option)</li>
    <li>Chaque fin de semaine, les intervenants recoivent leur planning de la semaine à venir (option)</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'mobile-alt' %> Mobile</h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/mobile0.png">
        <img src="/Images/guide/mobile0.png" alt="Planning mobile" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Planning mobile</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/mobile1.png">
        <img src="/Images/guide/mobile1.png" alt="Indicateur d'avancement des cours" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Indicateur d'avancement des cours</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/3 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/mobileSalles.png">
        <img src="/Images/guide/mobileSalles.png" alt="Planning mobile hebdomadaire" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Planning mobile hebdomadaire</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">    
  <li>Le planning peut être visualisé sur différents supports (Responsive Design)</li>
  <li>Vue planning adaptée aux écrans de smartphones</li>
  <li>Adapté au standard PWA (Progressive Web App)</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'film' %> Affichage sur panneaux lumineux</h2>
</div>
<div class="flex flex-wrap mb-8">
  <div class="md:w-1/2 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/afficheur.png">
        <img src="/Images/guide/afficheur.png" alt="Planning sur afficheur 1/2" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Planning sur afficheur 1/2</p>
        </div>
      </a>
    </div>
  </div>
  <div class="md:w-1/2 px-4">
    <div class="card shadow-lg">
      <a href="/Images/guide/afficheur2.png">
        <img src="/Images/guide/afficheur2.png" alt="Planning sur afficheur 2/2" style="width:100%">
        <div class="caption">
          <p class="text-center mt-2 mb-4 border-t pt-2">Planning sur afficheur 2/2</p>
        </div>
      </a>
    </div>
  </div>
</div>
<ul class="list-disc">
  <li>Planning du jour optimisé pour la diffusion sur un grands écrans, généralement installés à l'entrée des salles de cours, dans les couloirs ou à l'accueil</li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><span class="font-black underline text-4xl">e</span> Edusign</h2>
</div>

<ul class="list-disc">
  <li>L'outil Edusign est une extension du Planning pour gérer l'assiduité des étudiants</li>
  <li><%= link_to "Voir le guide Edusign/Planning", guide_edusign_path, class: "link" %></li>
</ul>

<div class="border-b mt-12 mb-2 pb-4">
  <h2 class="text-3xl"><%= fa_icon 'bullhorn' %> Journal des mises à jours</h2>
</div>
<h3 class="text-2xl mb-2 mt-4">5.9</h3>
<ul class="list-disc">
  <li>État liquidatif collectif : export Excel de toutes les vacations des intervenants sur une période</li>
  <li>Ajout d'un rôle 'partenaire QSE' pour les utilisateurs @icp.fr</li>
  <li>Étudiants : création de comptes d'accès par lot</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.8</h3>
<ul class="list-disc">
  <li>Cours : un document est attachable (ex: notes pour les examens de rattrapages)</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.7</h3>
<ul class="list-disc">
  <li>Rappel des examens : permet d'envoyer un mail à tous les étudiants convoqués à un examen</li>
  <li>Ajout d'un rôle 'accueil vacataire' pour l'utilisateur "vacaccueil@iae"</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.5 / 5.6</h3>
<ul class="list-disc">
  <li>Vacations : standardisation des tarifs par activité et par statut</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.4</h3>
<ul class="list-disc">
  <li>Notes (Post-it)</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.3</h3>
<ul class="list-disc">
  <li>PDF Feuille émargement signée</li>
  <li>Examen : n° table étudiant ajouté</li>
  <li>Option BYPASS</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.2</h3>
<ul class="list-disc">
  <li>Optimisation des performances</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.1</h3>
<ul class="list-disc">
  <li>Commandes : permet de commander un "pot" (café, thé, jus, viennoiseries...) et de l'associer à un évènement (soutenance, réunion, ...)</li>
  <li>Export academ : exportation des cours au format Académique</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">5.0</h3>
<ul class="list-disc">
  <li>Migration vers Ruby 3.3 &amp; Ruby on Rails 7.1.3</li>
  <li>Actualisation en temps réel des barres de progression des cours</li>
  <li>Actualisation en temps réel de l'indicateur horaire dans "Occupation des salles"</li>
  <li>Multiples optimisations du code</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.27</h3>
<ul class="list-disc">
  <li>Gestion des émargements. Les étudiants signent sur leur portable pour justifier de leur présence.</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.20</h3>
<ul class="list-disc">
  <li>Gestion des convocations aux examens. Notification par email.</li>
  <li>Pochette examen : génère l'ensemble des documents nécessaires à la tenue d'un examen (PDF)</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.16</h3>
<ul class="list-disc">
<li>Gestion des inscriptions des étudiants et intervenants pour accès complet au Planning</li>
<li>Ne plus afficher les données nominatives des Intervenants et du détail des cours, pour être en accord avec RGPD</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.14</h3>
<ul class="list-disc">
<li>Etat récapitulatif des surveillances d'examens</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.12</h3>
<ul class="list-disc">
<li>Notification des changements de cours (envoi emails à tous les étudiants)</li>
<li>Affichage des Alertes. Un message apparaît dans le bas des grands écrans couloirs pour informé tous les étudiants. Ce message apparaît aussi dans l'application. Trois couleurs de messages : (Danger, Warning, Info).</li>
<li>Import des étudiants : création de comptes d'accès et envoi email avec crédentails</li>
<li>Feuille d’émargement PDF</li>
<li>Feuille d’émargement PDF pour les examens</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.10</h3>
<ul class="list-disc">
<li>MailLog : affiche les états (envoyé/ouvert/KO) de tous les emails envoyés par le Planning</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.8</h3>
<ul class="list-disc">
<li>Invitations</li>
<li>Horaires d'ouverture</li>
<li>Authentification obligatoire</li>
<li>Gestion des accès selon le rôle des utilisateurs</li>
<li>Conversion des UE</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.5</h3>
<ul class="list-disc">
<li>Un utilisateur connecté peut faire une recherche d'un terme parmi les intitulés des Cours, Formation, Intervenant, UE.</li>
<li>Une fonction 'Rappel des cours' permet d'envoyer le rappel des cours du mois suivant à un intervenant choisi.</li>
<li>Désactivation des utilisateurs ayants quitté l'établissement.</li>
<li>Diverses optimisations et améliorations.</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.4</h3>
<ul class="list-disc">
<li>Une vue 'Audit des cours' liste les cours planifiés et non encore confirmés, pas créés par Thierry.D (Gestionnaire du Planning).</li>
<li>Une alerte affiche dans une bulle rouge le nombre de cours non confirmés, à placer dans les 7 jours.</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.3</h3>
<ul class="list-disc">
  <li>Affichage des salles habituelles par formation et intervenant. Basé sur les données des cours passés. Affiche la Salle et le nombre de cours effectués =&gt; D2(20).</li>
  <li>Quelques corrections et optimisations</li>
  <li>Tests automatisés (models &amp; system)</li>
</ul>
<h3 class="text-2xl mb-2 mt-4">4.2</h3>
<ul class="list-disc mb-8">
  <li>Nouveau cours : une fois la date, la durée, la formation et l'intervenant renseignés, la liste des salles se remplie automatiquement et n'affiche que les salles disponibles.</li>
  <li>Liste des cours : l'Action 'Intervertir' permet d'échanger facilement les intervenants de deux cours.</li>
  <li>Notification des étudiants quand il y a un changement dans un cours. (Cochez 'Notifier les étudiants ?' lors de la modification du cours).</li>
  <li>Le planning d'un intervenant ou d'une formation peut être connecté à Google Calendar. Pour ce faire, allez dans Calendar/Autre agenda/à partir de l’URL/ puis collez l'URL produit lors de l'export des cours au format Calendrier (ICS).</li>
  <li>Fermetures, on peut donner un nom à une période de fermeture.</li>
  <li>Nouvelle Saison : choix d’une salle pour l’ensemble des cours créés.</li>
  <li>Vue occupation des salles : Regroupement des salles par BLOC (les extérieurs sont regroupés ensemble) et amélioration de l'affichage.</li>
  <li>Affichage du nombre d'étudiants dans le nom de la formation. Ex: 'MBA FI (10 Et.)'.</li>
  <li>Amélioration de la gestion du rappel des cours pour chaque intervenant (Ajout d'un message par le gestionnaire, Envoi aux Testeurs, Mise en pause). Amélioration de la présentation du mail.</li>
  <li>Gestion des dossiers CEV. Permet de gérer, grâce à un Workflow, le dépôt des dossiers de candidatures des intervenants CEV.</li>
  <li>Vue 'Cours récemment planifiés' : Affiche les cours 'Planifiés' créés par un utilisateur autre que le gestionnaire des salles et qui sont à confirmer.</li>
</ul>