<div id="<%= dom_id sujet %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Cour:</strong>
    <%= sujet.cour_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mail log:</strong>
    <%= sujet.mail_log_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Workflow state:</strong>
    <%= sujet.workflow_state %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= sujet.slug %>
  </p>
</div>
