<p>
  Bonjour <%= @etudiant.prénom %>, 
  <br><br>
  Votre cours initialement prévu le 
  <%= l(@cours.debut, format: :long) %> 
  (<%= "#{@cours.nom_ou_ue} - #{@cours.formation.nom}" %>) 
  vient d'être modifié : 
  <ul>
    <li>
      <%= sanitize ApplicationController.helpers.prettify(@cours.audits.last).join('</li><li>') %>
    </li>
  </ul>

  <%= link_to "Voir ce cours dans le planning", root_url(ids: @cours.id) %>

  <br><br>
  Bien cordialement,
  <br>
  IAE Paris
</p>