Bonjour <%= @etudiant.prénom.humanize %>, 
<br><br>
Votre cours 
<b><%= "#{@cours.nom_ou_ue} - #{@cours.formation.nom}" %></b>
<br>
initialement prévu le 
<b><%= l(@cours.debut, format: :long) %></b>
vient d'être modifié : 
<ul>
  <li>
    <%= sanitize ApplicationController.helpers.prettify(@cours.audits.last).join('</li><li>') %>
  </li>
</ul>

<%= link_to "Voir ce cours dans le planning", root_url(ids: @cours.id) %>

<br><br>
Bien cordialement,
<br>
IAE Paris