<% require 'devise/version' %>
<p class="mb-4"><%= t('.greeting', recipient: @resource.email) %></p>

<p class="mb-4"><%= t('.instruction') %></p>

<p class="mb-4"><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: (Devise::VERSION.start_with?('3.', '4.') ? @token : @resource.reset_password_token)) %></p>

<p class="mb-4"><%= t('.instruction_2') %></p>
<p class="mb-4"><%= t('.instruction_3') %></p>
