<%=  bootstrap_form_for(@etudiant) do |f| %>
  <% if @etudiant.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@etudiant.errors.count, "erreur empêche", plural: 'erreurs empêchent') %> d'enregistrer cet étudiant :</h4>

      <ul>
      <% @etudiant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mt-5">
    <div class="col-sm-6">
      <%= f.text_field :civilité, required: true %>
      <%= f.text_field :nom, required: true %>
      <%= f.text_field :prénom, required: true %>
      <%= f.text_field :email, required: true %>
      <%= f.text_field :mobile %>

      <div class="field mb-4">
        <%= check_box_tag :notify %> <b>Créer un compte d'accès et en informer les étudiants ?</b>
      </div>

      <%= f.submit class: "btn btn-primary" %>

    </div>

    <div class="col-sm-6">
      <%= f.collection_select(:formation_id, Formation.unscoped.all, :id, :nom, {include_blank: true}, class:"select2") %>
      <%= f.select :workflow_state, Etudiant.workflow_spec.states.keys.to_a, include_blank: true, label: "Statut" %>
    </div>
  </div>
<% end %>
<br>