<%= form_for(@etudiant) do |f| %>
<%= render partial: 'partials/errors', locals: { record: @etudiant } %>

  <div class="flex flex-wrap mt-12">
    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4 pr-4">
      <div class="form-control">
        <%= f.label :civilité, "Civilité *" %>
        <%= f.text_field :civilité, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :nom, "Nom *" %>
        <%= f.text_field :nom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :prénom, "Prénom *" %>
        <%= f.text_field :prénom, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :table, "N° Table" %>
        <%= f.number_field :table, class: 'input input-bordered input-sm w-full' %>
      </div>

      <% if @etudiant.new_record? %>
        <div class="field mb-6">
          <%= check_box_tag :notify %>
          <%= label_tag :notify, "Créer un compte d'accès et en informer l'étudiant ?", class: 'font-bold' %>
        </div>
      <% end %>

      <%= f.submit class: "btn btn-primary text-white", 'data-turbo': false %>

    </div>

    <div class="relative flex-grow max-w-full flex-1 flex flex-col gap-4 pl-4">
      <div class="form-control">
        <%= f.label :formation_id, "Formation *" %>
        <%= f.collection_select(:formation_id, @formations, :id, :nom, {include_blank: true}, class:"slim-select") %>
      </div>

      <div class="form-control">
        <%= f.label :email, "Email *" %>
        <%= f.email_field :email, required: true, class: 'input input-bordered input-sm w-full' %>
      </div>

      <div class="form-control">
        <%= f.label :mobile, "Mobile" %>
        <%= f.text_field :mobile, class: 'input input-bordered input-sm w-full' %>
      </div>
    </div>
  </div>
<% end %>
<br>