<div class="border-b mt-6 mb-2 pb-4">
	<div class="join float-right">
		<%= link_to @etudiant, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
			<%= fa_icon 'eye' %> Voir
		<% end %>

		<%= link_to etudiants_path, class: 'btn btn-sm btn-primary btn-outline join-item' do %>
			<%= fa_icon 'list' %> Retour
		<% end %>

	</div>
	<h1 class="text-3xl"><%= fa_icon 'graduation-cap' %> Modification d'un étudiant</h1>
</div>

<%= render 'form' %>
