<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Etudiant).new? %>
    <%= link_to new_etudiant_path, class: 'btn text-primary float-right' do %>
      <%= fa_icon 'plus-circle' %> Etudiant
    <% end %>
  <% end %>
  <h3><%= fa_icon 'graduation-cap' %> Liste des étudiants</h3>
</div>

<div class="container-fluid p-3 shadow-sm">
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">

          <div class="col-sm-4">
            <%= label_tag :search, "Nom/Prénom/Email" %>
            <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'form-control form-control-sm' %>
          </div>

          <div class="col-sm-6">
            <%= label_tag "Formation" %>
            <div class="input-group">
              <%= select_tag :formation_id, 
                                  options_from_collection_for_select(Formation.unscoped.all, :id, :nom, params[:formation_id]), 
                                  class: 'form-control form-control-sm select2', 
                                  include_blank: true, 
                                  onchange: 'this.form.submit()' %>

              <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class: 'btn btn-sm btn-success' %>
              </span>
            </div> 
          </div>
          
        </div>
      </div>  
    <% end %>
</div>
<br>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link 'etudiants.nom', 'Nom' %></th>
        <th>Prénom</th>
        <th><%= sort_link 'etudiants.civilité', 'Civilité' %></th>
        <th>Formation</th>
        <th><%= sort_link 'etudiants.updated_at', 'MàJ il y a' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th colspan=8></th>
      </tr>
    </tfoot>

    <tbody>
      <%= render @etudiants %>
    </tbody>
  </table>

  <div class="page_info">
    <%= page_entries_info @etudiants %>
  </div>

  <%= will_paginate @etudiants, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
