<div class="pb-2 mt-4 mb-2 border-bottom">
  <% if policy(Etudiant).new? %>
    <%= link_to new_etudiant_path, class: 'btn text-info float-right' do %>
      <i class="fas fa-plus-circle"></i> Etudiant
    <% end %>
  <% end %>
  <h2><i class="fas fa-calendar-alt"></i> Liste des étudiants</h2>
</div>

<div class='container-fluid'>
    <%= form_tag request.path, method: :get do %>
      <div class="form-group">
        <div class="row">

          <div class="col-sm-3">
            <%= label_tag :nom, "Nom/Entreprise" %>    
            <%= text_field_tag :nom, params[:nom], include_blank:true, onchange:'this.form.submit()', class:"form-control" %>
          </div>

          <div class="col-sm-2">
            <%= label_tag :workflow_state, "Statut" %>
            <%= select_tag :workflow_state, options_for_select(Etudiant.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                                    include_blank: true,
                                    class: "form-control", 
                                    onchange: 'this.form.submit()' %>
          </div>

          <div class="col-sm-6">
            <%= label_tag "Formation" %>    
            <div class="input-group">
              <%= select_tag :formation_id, 
                    options_from_collection_for_select(Formation.unscoped.all, :id, :nom, params[:formation_id]), 
                      class:"form-control select2", include_blank:true, onchange:'this.form.submit()' %>
              <span class="input-group-btn">
                <%= submit_tag 'Filtrer', class:"btn btn-success" %>
              </span>
            </div> 
          </div>
          
        </div>
      </div>  
    <% end %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= sort_link 'etudiants.nom', 'Nom' %></th>
        <th>Prénom</th>
        <th><%= sort_link 'etudiants.date_de_naissance', 'Né(e) le' %></th>
        <th><%= sort_link 'etudiants.workflow_state', 'Statut' %></th>
        <th>Formation</th>
        <th><%= sort_link 'etudiants.nom_entreprise', 'Entreprise' %></th>
        <th><%= sort_link 'etudiants.updated_at', 'MàJ il y a' %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tfoot>
      <tr>
        <% 7.times do %><th></th><% end %>
      </tr>
    </tfoot>

    <tbody>
      <%= render @etudiants %>
    </tbody>
  </table>

  <div class="page_info">
    <%= page_entries_info @etudiants, model: 'étudiant' %>
  </div>
  
  <%= will_paginate @etudiants, renderer: BootstrapPagination::Rails %>
</div>
