<div class="page-header">
  <div class="btn-group pull-right">
    <%= link_to edit_etudiant_path(@etudiant), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Modification
    <% end %>

    <%= link_to etudiants_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-list-alt"></span>
      Retour
    <% end %>
  </div>
  <br><br>
</div>

<div class="row">
  <div class="col-sm-3">
    <h1 style="font-size: 160px" class="glyphicon glyphicon-education"></h1>
  </div>  

  <div class="col-sm-6">
    <h2>
      <small>Nom</small><br>
      <%= @etudiant.nom %>
    </h2>
    <h3>
      <small>Prénom</small><br>
      <%= @etudiant.prénom %>
    </h3>
    <h4>
      <small>Date de Naissance</small><br>
      <%= l(@etudiant.date_de_naissance) if @etudiant.date_de_naissance %>
    </h4>
  </div>

  <div class="col-sm-3">
    <h2>
      <small>Nom Marital</small><br>
      <%= @etudiant.nom_marital %>
    </h2>
    <br> 
    <h3>
      <small>Civilité</small><br>
      <%= @etudiant.civilité %>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <h2>
      <small>Formation</small><br>
      <% if @etudiant.formation_id %>
          <% formation = Formation.unscoped.find(@etudiant.formation_id) %>
          <%= link_to formation.nom, formation %>
      <% end %>
    </h2>
  </div>

  <div class="col-sm-6">
    <h3>
      <small>Email</small><br>
      <%= @etudiant.email %>
    </h3>
  </div>
  <div class="col-sm-3">
    <h3>
      <small>Mobile</small><br>
      <%= @etudiant.mobile %>
    </h3>
  </div>

</div>

<div class="panel panel-info">

  <div class="panel-heading">Informations complémentaires</div>

  <div class="panel-body">

  <div class="row">

    <div class="col-sm-5">
      <dl class="dl-horizontal">
        <dt>Lieu de Naissance:</dt>
        <dd><%= @etudiant.lieu_naissance %></dd>

        <dt>Pays de Naissance:</dt>
        <dd><%= @etudiant.pays_naissance %></dd>

        <dt>Nationalité:</dt>
        <dd><%= @etudiant.nationalité %></dd>

        <dt>Adresse:</dt>
        <dd><%= @etudiant.adresse %></dd>

        <dt>Code postal:</dt>
        <dd><%= @etudiant.cp %></dd>

        <dt>Ville:</dt>
        <dd><%= @etudiant.ville %></dd>

        <dt>Dernier établissement fréquenté:</dt>
        <dd><%= @etudiant.dernier_ets %></dd>

        <dt>Dernier diplôme obtenu:</dt>
        <dd><%= @etudiant.dernier_diplôme %></dd>

        <dt>Catégorie du diplôme:</dt>
        <dd><%= @etudiant.cat_diplôme %></dd>

        <dt>Numéro Sécurité Sociale:</dt>
        <dd><%= @etudiant.num_sécu %></dd>
      </dl>
    </div >

    <div class="col-sm-7">
      <dl class="dl-horizontal">

        <dt>Statut:</dt>
        <dd><%= @etudiant.workflow_state %></dd>

        <dt>Numéro APOGEE:</dt>
        <dd><%= @etudiant.num_apogée %></dd>

        <dt>Poste Occupé:</dt>
        <dd><%= @etudiant.poste_occupé %></dd>

        <dt>Entreprise:</dt>
        <dd><%= @etudiant.nom_entreprise %></dd>

        <dt>Adresse:</dt>
        <dd><%= @etudiant.adresse_entreprise %></dd>

        <dt>CP:</dt>
        <dd><%= @etudiant.cp_entreprise %></dd>

        <dt>Ville:</dt>
        <dd><%= @etudiant.ville_entreprise %></dd>
      </dl>
    </div>
  </div>

    <div class="btn-toolbar text-center" role="toolbar">
      <a href="#audit" data-toggle="collapse" class='btn btn-default'>
        <span class="glyphicon glyphicon-search"></span>
        Audit des modifications
        <span class="caret"></span>
      </a>
    </div>

    <div id="audit" class="collapse">
      <br />
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <th>Date</th>
          <th>Utilisateur</th>            
          <th>Type</th>
          <th>Record_id</th>
          <th>Action</th>
          <th>Modifications</th>
        </thead>
        <%= render partial: 'tools/audit', collection: @etudiant.audits %>
      </table>
    </div> 

  </div>
</div>


