<tr class="hover border">
    <td style="white-space: nowrap;">
        <% case result.searchable_type when 'Cour' %>
            <div class="flex items-center gap-1">
                <span class="material-symbols-outlined text-xl">
                    today
                </span>
                Cours
            </div>
            </td>
            <td>
                <% if cours = Cour.find_by(id: result.searchable_id) %>
                    <%= l(cours.debut, format: :long) %>
                    <br>
                    <span style="background-color:<%= cours.formation.color %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= cours.formation.nom %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= cours.nom_ou_ue %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= cours.intervenant.nom_prenom %>
                    <% if !cours.commentaires.blank? %>
                        <br>
                        <%= fa_icon 'comment-dots' %>
                        <%= cours.commentaires %>
                    <% end %>
                <% end %>
            </td>
            <% when 'Formation' %>
                <div class="flex items-center gap-1">
                    <span class="material-symbols-outlined text-xl">
                        work
                    </span>
                    Formation
                </div>
                </td>
                <td>
                    <% formation = Formation.find(result.searchable_id) %>
                    <span style="background-color:<%= formation.color %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= [formation.nom, formation.domaine, formation.promo, formation.diplome].reject(&:blank?).join('  |  ') %>
                </td>
            <% when 'Intervenant' %>
                <div class="flex items-center gap-1">
                    <span class="material-symbols-outlined text-xl">
                        co_present
                    </span>
                    Intervenant
                </div>
                </td>
                <td>
                    <% intervenant = Intervenant.find(result.searchable_id) %>
                    <%= intervenant.nom_prenom %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= intervenant.email %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= intervenant.status %>
                </td>
            <% when 'Etudiant' %>
                <div class="flex items-center gap-1">
                    <span class="material-symbols-outlined text-xl">
                        school
                    </span>
                    Étudiant
                </div>
                </td>
                <td>
                    <% etudiant = Etudiant.find(result.searchable_id) %>
                    <%= "#{etudiant.nom} #{etudiant.prénom}" %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= etudiant.email %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= etudiant.mobile %>
                </td>
            <% when 'Unite' %>
                <%= fa_icon 'award', title: "Unité d'enseignement" %>
                U.E.
                </td>
                <td>
                    <% unite = Unite.find(result.searchable_id) %>
                    <%= unite.num %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= unite.nom %>
                    <p class="mx-2 inline mb-4">|</p>
                    <span style="background-color:<%= Formation.find(unite.formation_id).color %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= Formation.find(unite.formation_id).nom %>
                </td>
            <% when 'User' %>
                <%= fa_icon 'user', title: "Utilisateur" %>
                Utilisateur
                </td>
                <td>
                    <% user = User.find(result.searchable_id)%>
                    <%= user.nom_et_prénom %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= user.email %>
                </td>
            <% when 'MailLog' %>
                <%= fa_icon 'envelope', title: "MailLog" %>
                MailLog
                </td>
                <td>
                    <% mail_log = MailLog.find(result.searchable_id)%>
                    <%= mail_log.to %>
                    <p class="mx-2 inline mb-4">|</p>
                    <%= mail_log.subject %>
                </td>
        <% end %>
    <td>
        <% if result.searchable_type != 'MailLog' %>
            <%= link_to fa_icon('eye'),
                        url_for(controller: result.searchable_type.pluralize.downcase, 
                                action: 'show', 
                                id: result.searchable_id),
                                target: '_blank' %>
        <% end %>
    </td>
    <td style="white-space: nowrap;">
        <p>
            il y a
            <%= time_ago_in_words result.updated_at %>
        </p>
    </td>
</tr>