<tr>
    <td style="white-space: nowrap;">
        <% case result.searchable_type when 'Cour' %>
            <%= fa_icon 'calendar-day', title: "Cour" %>
            Cours
            </td>
            <td>
                <% cours = Cour.find(result.searchable_id) %>
                <%= l(cours.debut, format: :long) %>
                <br>
                <span style="background-color:<%= Formation.unscoped.find(Cour.find(result.searchable_id).formation_id).color %>;padding-left: 5px;margin-right: 5px;"></span>
                <%= Formation.unscoped.find(cours.formation_id).nom %>
                <p class="mx-2 d-inline">|</p>
                <%= cours.nom_ou_ue %>
                <p class="mx-2 d-inline">|</p>
                <%= cours.intervenant.nom_prenom %>
                <% if !cours.commentaires.blank? %>
                    <br>
                    <%= fa_icon 'comment-dots' %>
                    <%= cours.commentaires %>
                <% end %>
            </td>
            <% when 'Formation' %>
                <%= fa_icon 'briefcase', title: "Formation" %>
                Formation
                </td>
                <td>
                    <% formation = Formation.unscoped.find(result.searchable_id) %>
                    <span style="background-color:<%= formation.color %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= [formation.nom, formation.domaine, formation.promo, formation.diplome].reject(&:blank?).join('  |  ') %>
                </td>
            <% when 'Intervenant' %>
                <%= fa_icon 'chalkboard-teacher', title: "Intervenant" %>
                Intervenant
                </td>
                <td>
                    <% intervenant = Intervenant.find(result.searchable_id) %>
                    <%= intervenant.nom_prenom %>
                    <p class="mx-2 d-inline">|</p>
                    <%= intervenant.email %>
                    <p class="mx-2 d-inline">|</p>
                    <%= intervenant.status %>
                </td>
            <% when 'Etudiant' %>
                <%= fa_icon 'graduation-cap', title: "Étudiant" %>
                Étudiant
                </td>
                <td>
                    <% etudiant = Etudiant.find(result.searchable_id) %>
                    <%= "#{etudiant.nom} #{etudiant.prénom}" %>
                    <p class="mx-2 d-inline">|</p>
                    <%= etudiant.email %>
                    <p class="mx-2 d-inline">|</p>
                    <%= etudiant.mobile %>
                </td>
            <% when 'Unite' %>
                <%= fa_icon 'award', title: "Unité d'enseignement" %>
                U.E.
                </td>
                <td>
                    <% unite = Unite.find(result.searchable_id) %>
                    <%= unite.num %>
                    <p class="mx-2 d-inline">|</p>
                    <%= unite.nom %>
                    <p class="mx-2 d-inline">|</p>
                    <span style="background-color:<%= Formation.unscoped.find(unite.formation_id).color %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= Formation.unscoped.find(unite.formation_id).nom %>
                </td>
            <% when 'User' %>
                <%= fa_icon 'user', title: "Utilisateur" %>
                Utilisateur
                </td>
                <td>
                    <% user = User.find(result.searchable_id)%>
                    <%= user.nom_et_prénom %>
                    <p class="mx-2 d-inline">|</p>
                    <%= user.email %>
                </td>
        <% end %>
    <td>
        <%= link_to fa_icon('eye'),
                    url_for(controller: result.searchable_type.pluralize.downcase, 
                            action: 'show', 
                            id: result.searchable_id),
                            target: '_blank' %>
    </td>
    <td style="white-space: nowrap;">
        <p>
            il y a
            <%= time_ago_in_words result.updated_at %>
        </p>
    </td>
</tr>