<tr>
    <td style="white-space: nowrap;">

        <% if result.searchable_type == 'Cour' %> 
                <span class="text-center" style="color:<%= Formation.unscoped.find(Cour.find(result.searchable_id).formation_id).color %>;">
                    <%= fa_icon 'calendar-day' %>
                </span>
                <span>
                    Cours
                </span>
            </td>
            <td>
                <%= l(Cour.find(result.searchable_id).debut.to_date, format: :default) %>
            </td>
        <% else %>
            <% case result.searchable_type when 'Formation' %>
                <span style="color:<%= Formation.unscoped.find(result.searchable_id).color %>;">
                    <%= fa_icon 'briefcase', title: "Formation" %>
                    Formation
                </span>
                <% when 'Intervenant' %>
                    <%= fa_icon 'chalkboard-teacher', title: "Intervenant" %>
                    Intervenant
                <% when 'Unite' %>
                    <%= fa_icon 'award', title: "Unité d'enseignement" %>
                    U.E.
                <% when 'User' %>
                    <%= fa_icon 'user', title: "Utilisateur" %>
                    Utilisateur
            <% end %>
            </td>
            <td>
            </td>
        <% end %>
        <td>
            <%= link_to result.content, 
                                url_for(controller: result.searchable_type.pluralize.downcase, 
                                        action: 'show', 
                                        id: result.searchable_id),
                                        target: '_blank' %>
        </td>
        <td>
            <%= time_ago_in_words result.updated_at %>
        </td>
</tr>