<tr class="hover border">
  <td><%= time_ago_in_words attendance.created_at %></td>
  <td><%= l attendance.signée_le, format: :short if attendance.signée_le %></td>
  <td><%= attendance.cour.formation.abrg %></td>
  <td><p class="<%= attendance.cour.intervenant_id.present? ? 'badge badge-primary text-white uppercase italic' : '' %>"><%= attendance.cour.intervenant.nom_prenom %></p></td>
  <td>
    <%= l attendance.cour.debut, format: :short %>
    <br>
    <%= attendance.cour.nom_ou_ue %>
  </td>
  <td><%= attendance.cour.code_ue %></td>
  <td>
    <%= attendance.etudiant.nom_prénom %>
  </td>
  <td><% if attendance.signature %><img src=<%= attendance.signature %> style="badge width: 50px;"><% end %></td>
  <td><span class="badge <%= attendance.style%> text-white"><%= attendance.état_text %></span></td>
  <td><%= link_to 'Voir', attendance, class: 'text-primary hover:underline' %></td>
</tr>