<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= @sitename %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="IAE institut administration entreprise école universitaire management formation stage alternance licence master doctorat diplôme université" />
    <meta name="description" content="Planning des cours de l'IAE de Paris - L'IAE PARIS - École Universitaire de Managenent - Formations professionnalisantes: Licence, Master, Doctorat et Diplôme d'Université">
    <meta name="author" content="Philippe Nougaillon (www.philnoug.com)">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="manifest" href="/manifest.json">

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  

    <!-- sinon l'écran flappote !  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89540844-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-89540844-1');
    </script>

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light shadow-sm">
      <a class="navbar-brand" href="/" aria-label="logo">
        <%= image_tag("logo_iae@195.png", height: 40, alt: 'logo IAE') %>
      </a>

      <div class="container-fluid">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <% if current_user.étudiant? %>
              <%= navbar_nav_item('ma journée', 'calendar-day', mes_sessions_etudiant_cours_path) %>
            <% end %>
            <% if current_user.intervenant? %>
              <%= navbar_nav_item('ma journée', 'calendar-day', mes_sessions_intervenant_cours_path) %>
            <% end %>
            <%= navbar_nav_item('cours', 'calendar-alt', cours_path, 'Planning') %>
            <% unless current_user.étudiant? %>
              <%= navbar_nav_item('salles', 'chalkboard', occupation_salles_path) %>
            <% end %>
            <% if policy(current_user).left_navbar? %>
              <%= navbar_nav_item('formations', 'briefcase', formations_path) %>
              <%= navbar_nav_item('intervenants', 'chalkboard-teacher', intervenants_path) %>
              <%= navbar_nav_item('etudiants', 'graduation-cap', etudiants_path) %>
            <% end %>
            
            <% if current_user.rh? %>
              <%= navbar_nav_item('dossiers', 'folder', dossiers_path) %>
            <% end %>

            <% if policy(:tool).audit_cours? %>
              <li class="nav-item">
                <%= link_to tools_audit_cours_path, class: 'nav-link text-dark' do %>
                  <%= fa_icon 'calendar-check' %>
                  À booker
                  <% aplanifier = CoursNonPlanifie.count %>
                  <% if aplanifier > 0 %>
                    <span class="badge badge-danger"><%= aplanifier %></span>
                  <% end %>
                <% end %>
              </li>  
            <% end %>

          <% end %>
        </ul>

        <ul class="navbar-nav navbar-right align-items-center">
          <% if user_signed_in? %>
            <span class="nav-link mr-5">
              <%= current_user.username %>
              <% if current_page? root_path %>
                <br>
                <%= current_user.current_sign_in_at_with_ip %>
              <% end %>
            </span>
            <% if policy(current_user).right_navbar? %>
              <%= navbar_nav_item('', 'wrench', tools_index_path) %>
              <%= navbar_nav_item('', 'search-plus', tools_rechercher_path) %>
              <%= navbar_nav_item('', 'info-circle', guide_index_path) %>
            <% end %>

            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", class: "nav-link text-dark" do %><i class="fas fa-fw fa-sign-out-alt"></i></span> Déconnexion<% end %> 
            </li>

          <% else %>
            <%= navbar_nav_item('Se connecter', 'sign-in-alt', new_user_session_path) %>
          <% end %>
        </ul>
        
      </div>
    </nav>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, class: "alert mt-3 alert-#{ (name == "alert" || name == "error") ? "danger" : "success" } alert-dismissable", role: "alert" do %>
          <button type="button" class="close" data-dismiss="alert" aria-label="bouton du menu"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <%= msg.to_s.html_safe %>
        <% end %>
      <% end %>

      <%= yield %>
      
      <% if !(user_signed_in?) && current_page?("/users/sign_in") %>
        <footer class="fixed-bottom d-flex justify-content-center text-muted py-2 bg-light">
          <p class="mb-0">
            IAE Paris - Sorbonne Business School - Université Paris 1 Panthéon-Sorbonne © 2023 - Toute reproduction interdite -
            <u><%= link_to "Mentions légales", mentions_legales_path, class: 'text-muted' %></u>
          </p>
        </footer>
      <% end %>
    </div>
  </body>

</html>
