<!DOCTYPE html>
<html lang="fr" data-theme="corporate">
  <head>
    <title><%= @sitename %>(Display)</title>
    <meta name="description" content="Planning des cours de l'IAE de Paris">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="manifest" href="/manifest.json">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class="flex justify-between w-full shadow p-6 mb-6 bg-base-100">
      <%= link_to image_tag('logo_iae@195.png', alt: 'logo IAE'), root_url, class: 'flex-1 float-left' %>
      <p class="flex-1 text-center text-5xl whitespace-nowrap	">
        <%= l(@planning_date.to_date, format: :long) %>
      </p>
      <div class="flex-1">
      </div>
    </div>

    <div class="bs-container mx-auto sm:px-4 max-w-full">
      <%= yield %>
    </div>
  </body>

</html>
