<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <title><%= @sitename %> (Mobile)</title>
  <meta name="description" content="Planning des cours de l'IAE de Paris">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

  <%= csrf_meta_tags %>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89540844-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-89540844-1');
  </script>
</head>

<body>
  <nav class="navbar navbar-fixed-top" role="navigation" style="background-color:white">
    <div class="bs-container mx-auto sm:px-4 max-w-full">
      <div class="navbar-header text-center">
        <%= image_tag("logo@2000.png", height:60, alt: 'logo IAE') %>
      </div>
    </div>
  </nav>

  <div class="slide_container">
    <%= yield %>
  </div>

</body>

</html>
