<!DOCTYPE html>
<html lang="fr">
  <head>
    <title><%= @sitename %>(Display)</title>
    <meta name="description" content="Planning des cours de l'IAE de Paris">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="manifest" href="/manifest.json">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  
  </head>

  <body>
    <nav class="navbar navbar-expand-sm shadow-sm p-4 mb-4 bg-white">
    
      <div class="text-center w-100">
        <%= link_to image_tag('logo_iae@195.png', alt: 'logo IAE'), root_url, class: 'navbar-brand float-left', style: 'width: 0px;' %>
        <h1 class="mr-2">
          <%= l(@planning_date.to_date, format: :long) %>
        </h1>
      </div>

    </nav>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

</html>
