<tr>
  <td>
      <span data-action="click->action#click">
          <%= check_box_tag "[invits_id][#{invit.id}]", 'yes', false, data: {"target":"action.source"} %>
      </span>
  </td>
  <td><%= link_to l(invit.cour.debut, format: :long), invit %></td>
  <td>
    <span style="background-color:<%= invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
      <%= invit.cour.formation.abrg %>
    </span>
  </td>
  <td><%= truncate(Unite.find(invit.ue).num_nom, length: 40) if invit.ue %></td>
  <td><%= invit.intervenant.nom_prenom %></td>
  <td>
    <span class="badge <%= invit.style %>">
      <%= invit.workflow_state.humanize %>
    </span>
  </td>
  <td><%= truncate(invit.reponse, length: 40) %></td>
  <td>il y a <%= time_ago_in_words invit.updated_at %></td>
  <td><%= link_to 'Voir', invit %></td>
</tr>