<h3 class="mt-5 mb-4">
  <%= fa_icon 'calendar-check' %>
  Invitations (Propositions de créneaux horaires)
</h3>

<div class="container-fluid p-3 shadow-sm">
  <%= form_tag request.path, method: :get do %>
    <div class="form-group">
      <div class="row">

        <div class="col-sm-3">
          <%= label_tag :formation %>
          <%= select_tag :formation, 
                              options_from_collection_for_select(@formations, :id, :nom_promo, params[:formation]), 
                              include_blank: true,
                              class: 'form-control form-control-sm select2', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :intervenant %>
          <%= select_tag :intervenant, 
                              options_from_collection_for_select(@intervenants, :id, :nom_prenom, params[:intervenant]), 
                              include_blank: true,
                              class: 'form-control form-control-sm select2', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag "A partir du" %>    
          <%= text_field_tag :start_date, params[:start_date], type:'date', onchange:'this.form.submit()', class:"form-control form-control-sm" %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :workflow_state, "État" %>
          <%= select_tag :workflow_state, 
                              options_for_select(Invit.workflow_spec.states.keys.to_a, params[:workflow_state]), 
                              include_blank: true,
                              class: 'form-control form-control-sm', 
                              onchange: 'this.form.submit()' %>
        </div>

        <div class="col-sm-2">
          <%= label_tag :workflow_state, "Triées par" %>
          <br>
          <%= radio_button_tag :sort_by, 'Date', params[:sort_by] == 'Date', onchange: 'this.form.submit()' %> Date
          <%= radio_button_tag :sort_by, 'MàJ', params[:sort_by] == 'MàJ', onchange: 'this.form.submit()' %> MàJ
        </div>

        <div class="col-sm-1">
          Archivées?
          <%= check_box_tag :archive, '1', params[:archive] == '1', onchange: 'this.form.submit()' %>
        </div>

      </div>
    </div>  
  <% end %>
</div>
<br>

<%= form_tag action_invits_path, name: 'action' do %>
  <div data-controller="action">

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Date</th>
          <th>Formation</th>
          <th>U.E.</th>
          <th>Intervenant</th>
          <th>État</th>
          <th></th>
          <th>MàJ</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <%= current_date = '' %>
        <% @invits.each do | invit | %>
          <% if invit.cour.debut.to_date != current_date %>
            <tr class="shadow-sm bg-light">
              <th colspan=9>
                <%= fa_icon 'calendar-check' %>
                <b><%= l(invit.cour.debut.to_date, format: :long).humanize %></b> 
              </th>
            </tr>
            <% current_date = invit.cour.debut.to_date %>
          <% end %>  

          <%= render partial: 'invits/invit', locals:{ invit: invit, current_date: current_date } %>
        <% end %>
      </tbody>

      <tfoot>
        <tr><th colspan=9></th></tr>
      </tfoot>
    </table>
    <div data-target="action.selector">
        <%= select_tag :action_name, options_for_select(["Relancer","Confirmer","Archiver","Supprimer"]), 
                        include_blank: true,
                        class: "form-control form-control-sm col-sm-3 mb-3 d-inline" %>
        <%= submit_tag "Valider", class:'btn btn-danger btn-sm ml-3' %>
    </div>
  </div>
<% end %>

<div class="page_info">
  <%= page_entries_info @invits %>
  <%= @invits.reorder(nil).select(:id).group(:workflow_state).count(:id) %>
</div>

<%= will_paginate @invits, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>
