<h3 class="my-5">
  <i class="fas fa-calendar-check"></i>
  Proposition de cours
</h3>
<div class="card shadow-sm p-3 my-3">
  <div class="row">
    <div class="col-5">
      <p>
        <span style="background-color:<%= @invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
          <%= @invit.cour.formation.nom %>
        </span>
      </p>
      <p>
        <strong>Date:</strong>
        <%= l(@invit.cour.debut, format: :long) %>
      </p>
      <p>
        <strong>Durée:</strong>
        <%= number_with_precision(@invit.cour.duree, precision: 1, strip_insignificant_zeros: true) %> h
      </p>

      <p>
        <strong>Message</strong>
        <br>
        <%= simple_format @invit.msg %>
      </p>


      <% if @invit.can_valider? || @invit.can_rejeter? %>
        <% unless user_signed_in? %>
          <%= form_tag validation_invit_path(@invit), method: :post do %>
            <%= text_area_tag :reponse, nil, rows:5, cols: 25 %>
            <br>
            <%= submit_tag "Valider", class: "btn btn-sm btn-success"%>
            <%= submit_tag "Rejeter", class: "btn btn-sm btn-danger"%>
          <% end %>
        <% end %>
      <% else %>
        <p>
          <strong>Réponse</strong>
          <br>
          <%= simple_format @invit.reponse %>
        </p>
      <% end %>
    </div>
    <div class="col">
      <p>
        Vos cours du <b><%= l(@jour, format: :long).humanize %></b> 
      </p>
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Heure</th>
            <th>Durée</th>
            <th>Formation</th>
            <th>Binôme</th>
            <th>Cours</th>
            <th>Salle</th>
          </tr>
        </thead>
        <tbody>
          <% @cours.each do |c| %>
            <tr>
              <td>
                <%= link_to c do %>
                  <b><%= l(c.debut, format: :heures_min) %></b> 
                  <br>
                  <%= l(c.fin, format: :heures_min) %>
                <% end %>
              </td>
              <td>
                <%= number_with_precision(c.duree, precision: 1, strip_insignificant_zeros: true) %> h
              </td>
              <td>
                <span style="background-color:<%= c.formation.try(:color) %>;padding-left: 5px;margin-right: 5px;"></span>
                <%= c.formation.try(:nom_promo) %>
              </td>
              <td>
                <% if c.intervenant_binome %>
                  <%= link_to c.intervenant_binome.nom_prenom, c.intervenant_binome %>
                <% end %>
              </td>
              <td>
                <%= c.nom_ou_ue %>
              </td>
              <td>
                <span class="badge badge-pill badge-<%= c.style %>">
                  <%= c.salle.nom %>
                </span>
              </td>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr><th colspan=5></th></tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>
<% if user_signed_in? %>
  <%= link_to_if @invit.can_relancer?, 'Relancer', envoyer_invit_path(@invit), class: 'btn btn-sm btn-primary' %> |
  <%= link_to_if @invit.can_valider?, 'Valider', valider_invit_path(@invit), class: 'btn btn-sm btn-success' %> |
  <%= link_to_if @invit.can_rejeter?, 'Rejeter', rejeter_invit_path(@invit), class: 'btn btn-sm btn-danger' %> |
  <%= link_to_if @invit.can_confirmer?, 'Confirmer', confirmer_invit_path(@invit), class: 'btn btn-sm btn-primary' %> |
  <%= link_to_if @invit.can_archiver?, 'Archiver', archiver_invit_path(@invit), class: 'btn btn-sm btn-info' %>

  <br>
  <br>
  <%= link_to 'Retour', invits_path if user_signed_in? %>
<% end %>

<%= link_to 'Retour', invitations_intervenant_path(@invit.intervenant) unless user_signed_in? %>