<h3 class="text-2xl my-6">
  <%= fa_icon 'calendar-check' %>
  Proposition de créneau horaire
</h3>
<div class="bs-container card shadow p-4 my-4">
  <div class="flex flex-wrap">
    <div class="relative flex-grow max-w-full flex-1">
      <p class="mb-4">
        <strong>
          <%= l(@invit.cour.debut, format: :long).humanize %>
        </strong>
      </p>

      <p class="mb-4">
        <span style="background-color:<%= @invit.cour.formation.color %>;padding-left: 7px;margin-right: 5px;"></span>
          <%= @invit.cour.formation.nom %>
        </span>
      </p>

      <p class="mb-4">
        <strong>Durée :</strong>
        <%= number_with_precision(@invit.cour.duree, precision: 1, strip_insignificant_zeros: true) %>h
      </p>

      <% if user_signed_in? %>
        <p class="mb-4">
          <strong>Proposé à :</strong>
          <%= @invit.intervenant.nom_prenom %>
        </p>
      <% end %>
      <p class="mb-4">
        <strong>U.E. :</strong>
        <%= Unite.find(@invit.ue).num_nom unless @invit.ue.blank? %>
      </p>
      <p class="mb-4">
        <strong>Intitulé :</strong>
        <%= @invit.nom %>
      </p>
    </div>
    <div class="relative flex-grow max-w-full flex-1">
      <h5 class="text-lg">
        Vos autres cours à L’IAE le <%= l(@jour, format: :long) %>
      </h5>
      <% if @cours.any? %>
        <div class="overflow-x-auto">
          <table class="table">
            <thead>
              <tr>
                <th>Heure</th>
                <th>Formation</th>
                <th>Cours</th>
                <th>Salle</th>
              </tr>
            </thead>
            <tbody>
              <% @cours.each do |c| %>
                <tr>
                  <td>
                    <%= link_to c, class: 'link' do %>
                      <%= l(c.debut, format: :heures_min) %>
                      -
                      <%= l(c.fin, format: :heures_min) %>
                    <% end %>
                  </td>
                  <td>
                    <span style="background-color:<%= c.formation.try(:color) %>;padding-left: 5px;margin-right: 5px;"></span>
                    <%= c.formation.try(:nom_promo) %>
                  </td>
                  <td>
                    <%= c.nom_ou_ue %>
                  </td>
                  <td>
                    <% if c.salle %>
                      <span class="badge badge-<%= c.style %> text-white">
                        <%= c.salle.nom %>
                      </span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
              <tr><th colspan=4></th></tr>
            </tfoot>
          </table>
        </div>
      <% else %>
        <p class="mb-4">
          Vous n'avez pas encore de cours programmés ce jour là... 
        </p>
      <% end %>
    </div>
  </div>

  <div class="flex flex-wrap gap-8">
    <div class="relative flex-grow max-w-full flex-1">
      <p class="mb-4">
        <strong>Message du gestionnaire de formation</strong>
        <br>
        <div class="py-8 px-4 md:py-16 md:px-8 mb-8 rounded bg-base-200">
          <%= simple_format @invit.msg %>
        </div>
      </p>
    </div>

    <div class="relative flex-grow max-w-full flex-1">
      <p class="mb-4">
        <% if @invit.can_valider? || @invit.can_rejeter? %>
          <strong>Votre réponse</strong>
          <br>
          <%= form_tag validation_invit_path(@invit), method: :post do %>
            <%= text_area_tag :reponse, @invit.reponse, rows: 5, cols: 55, disabled: user_signed_in? %>
            <br>
            <%= submit_tag "Disponible", disabled: user_signed_in?, class: "btn btn-success btn-outline" %>
            <%= submit_tag "Pas disponible", disabled: user_signed_in?, class: "btn btn-error btn-outline" %>
          <% end %>
        <% else %>
          <strong>Réponse de l'enseignant</strong>
          <br>
          <div class="py-8 px-4 md:py-16 md:px-8 mb-8 rounded bg-base-200">
            <%= simple_format @invit.reponse %>
          </div>
        <% end %>
      </p>
    </div>

  </div>
</div>

<% if user_signed_in? %>
  Etat :
  <span class="badge <%= @invit.style %> text-white">
    <%= @invit.workflow_state.humanize %>
  </span>
  |-->> 
  Actions :
  <%= link_to_if @invit.can_relancer?, 
      'Relancer', 
      relancer_invit_path(@invit), 
      class: "btn btn-sm text-white " + Invit.workflow_spec.states[:relance1].meta[:style] 
  %> 
  |
  <%= link_to_if @invit.can_valider?, 
      'Disponible', 
      valider_invit_path(@invit), 
      class: "btn btn-sm text-white " + Invit.workflow_spec.states[:disponible].meta[:style] 
  %> 
  |
  <%= link_to_if @invit.can_rejeter?, 
      'Pas disponible', 
      rejeter_invit_path(@invit), 
      class: "btn btn-sm text-white " + Invit.workflow_spec.states[:pas_disponible].meta[:style] 
  %> 
  |
  <%= link_to_if @invit.can_confirmer?, 
      'Confirmer', 
      confirmer_invit_path(@invit), 
      class: "btn btn-sm text-white " + Invit.workflow_spec.states[:confirmée].meta[:style] 
  %> 
  |
  <%= link_to_if @invit.can_archiver?, 
      'Archiver', 
      archiver_invit_path(@invit), 
      class: "btn btn-sm text-white " + Invit.workflow_spec.states[:non_retenue].meta[:style] 
  %>
  <br>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Retour', invits_path, class: 'link' %>
  <% end %>
  <br>

  <div id="audit">
    <br>
    <% if @invit.audits.any? %>
      <h4 class="text-xl">Audit des modifications</h4>
      <div class="overflow-x-auto">
        <table class="table table-sm">
          <thead class="bg-base-200 border">
            <th>Date</th>
            <th>Utilisateur</th>            
            <th>Type</th>
            <th>Record_id</th>
            <th>Action</th>
            <th>Modifications</th>
          </thead>

          <%= render partial: 'tools/audit', collection: @invit.audits.reorder(id: :desc) %>

        </table>
      </div>
    <% end %>
  </div> 

<% end %>

<%= link_to 'Retour', invitations_intervenant_path(@invit.intervenant) unless user_signed_in? %>
<br>
<br>